/*============余额/虎点========================*/

.oct-header, .oct-logo {
    background: -webkit-linear-gradient(left, #FE6944,#FC7939, #FE6944); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #FE6944,#FC7939, #FE6944); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right,#FE6944,#FC7939, #FE6944); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #FE6944,#FC7939, #FE6944); /* 标准的语法 */
    border-bottom: 1px solid #FE6A44;
    color: #ffffff;
}

/*主体区域*/
.oct-content {
    margin-top: 38px;
}
/*Logo区域*/
.oct-logo {
    padding: 10px;
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.oct-logo-left, .oct-logo-right{
    font-size: 16px;
}
.oct-logo-left div, .oct-logo-right div {
    font-size: 28px;
    font-weight: bold;
}
.oct-logo-left .oct-logo-dividend, .oct-logo-right .oct-logo-dividend {
    font-size: 12px;
    font-weight: normal;
    padding-bottom:10px;
    padding-top: 5px;
}

/*列表项*/
.oct-balance-list {
    background: white;
}

.oct-balance-item {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #F2F2F2;
    align-items: center;
    font-size: 14px;
    padding-left: 40px;
}

.balance-item-left {
    padding-top: 3px;
}

.balance-item-right {
    color: #FE6944;
    background: url(../../Imgs/Icon/arrows_right.png) right center no-repeat;
    background-size: 10px;
    padding-right: 20px;
    font-size: 12px;
}

.oct-balance-item-1 {
    background: url(../../Imgs/Icon/balance_vip.png) 10px center no-repeat;
    background-size: 24px;
    margin-top: 10px;
}

.oct-balance-item-2 {
    background: url(../../Imgs/Icon/balance_withdraw.png) 10px center no-repeat;
    background-size: 25px;
}

.oct-balance-item-3 {
    background: url(../../Imgs/Icon/balance_recharge.png) 10px center no-repeat;
    background-size: 25px;
}

/*第二个列表*/
.oct-balance-list-2{
    margin-top: 8px;
}
.oct-balance-item-4 {
    background: url(../../Imgs/Icon/balance_notice.png) 10px center no-repeat;
    background-size: 23px;
}
.oct-balance-item-5 {
    background: url(../../Imgs/Icon/balance_customer.png) 10px center no-repeat;
    background-size: 25px;
}