<?xml version="1.0" encoding="utf-8"?>
<configuration>


  <!--项目的主要设置信息-->
  
  <!--保存的RndKeyRsa 一般是两小时有效-->
  <appSettings>
    <add key="RndKeyRsa" value="LllHYoE2A7WlTPKyJpZ+gRAulJO/An2PX2HbnMKnnAo5CGlCxhw+f0fse2Z6MS1YoZKRkVsfnzdtDmq+Mn8Z0OEKeGZbOiLQKmasB0mzwvReYm4vlJwDE3qDSBTXtTQiCkyN/SoUk0XrGctCkE6TBmW/e5eeAijRvOwHy5Dzn5I=" />
    <add key="CreateDateTime" value="2021-08-15 09:02:27" />
    <add key="RndKeyLifeHour" value="2" />
  </appSettings>



</configuration>
