/*=================今日扫码支付========================*/

.table-content tr td img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

.div-header-img {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 8px;
}

    .div-header-img img {
        margin-right: 8px;
    }

    .div-header-img div {
        text-align: left;
    }

/*支付实时提示区*/
.real-hint {
    background: #f8f8f8;
    display: flex;
    align-items: center;
    width: 750px;
    margin: 10px auto;
    font-size: 16px;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #eaeaea;
}

    .real-hint div {
        padding: 2px;
    }

    .real-hint .real-hint-left {
        background: #ff6a00;
        color: white;
        font-size: 40px;
        font-weight: bold;
        padding-left: 20px;
        padding-right: 20px;
    }

    .real-hint .real-hint-mid {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 40px;
        font-weight: bold;
    }

.real-hint-mid img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right: 8px;
}

.real-hint-right {
    font-size: 16px;
    color: #000000;
}
