/*=================会员账号详情==================*/

/*订单状态显示*/
.order-status {
    background: #03AD05;
    border: 1px solid #e1e1e1;
    padding: 8px;
    color: white;
    border-radius: 8px;
}

.order-status-title {
    font-size: 18px;
    font-weight: bold;
}

.order-status-desc {
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 6px;
}

.order-status-dynamic {
    font-size: 12px;
    color: #eeeeee;
}
/*基本信息*/
.order-basic dd {
    padding: 8px 5px;
    color: #f35402;
}

    .order-basic dd span {
        padding-left: 10px;
        color: #000000;
    }

.order-goods-list {
    background: #fcfcfc;
    border: 1px solid #e1e1e1;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 0;
    padding-right: 0;
}

    .order-goods-list div {
        padding: 5px 0;
    }
/*买家信息*/
.buyer-msg img {
    width: 50px;
    height: 50px;
    border-radius: 40px;
}
