
@{
    Layout = null;
}

<!DOCTYPE html>

<html style="overflow: auto; overflow-x: hidden;">
<head>
    <!--
          <meta name="viewport" content="width=device-width initial-scale="1" />
      viewport是网页默认的宽度和高度，上面这行代码的意思是，网页宽度默认等于屏幕宽度（width=device-width），
      原始缩放比例（initial-scale=1）为1.0，即网页初始大小占屏幕面积的100%。 user-scalable=no  不允许缩放网页 -->
    <meta name="viewport" content="width=device-width,user-scalable=no" initial-scale="1" />
    <title>商城平台管理系统登录</title>
    <link href="../Assets/Lib/AmazeUI-2.7.2/css/amazeui.min.css" rel="stylesheet" />
    <link href="../Assets/Css/LoginPage/Index.css?v=1" rel="stylesheet" />

    <script src="../Assets/Lib/AmazeUI-2.7.2/js/jquery-2.2.2.min.js"></script>
    <script src="../Assets/Lib/AlertConfirmWin/AlertConfirmWin.js"></script>
    <script src="../Assets/Js/LoginPage/Index.js?v=1"></script>


</head>
<body>
    <form>


        <!--隐藏控件记录值-->
        <input type="hidden" id="hidBackUrl" value="@ViewBag.BackUrl" />
        <input type="hidden" id="hidIsMobileOS" value="@ViewBag.IsMobileOS" />


        <!--=========移动端===========-->
        <div class="oct-content">

            <div class="login-icon">
                <img src="../Assets/Imgs/Icon/man_logo.png" />
            </div>

            <!--账号登录-->
            <div class="login-form login-form-account" id="AccLogin">
                <div class="login-form-mobile">
                    <span>Acc</span>
                    <input type="text" id="AdUserName" class="txt-css" placeholder="用户名/账号" />
                </div>
                <div class="login-form-mobile">
                    <span>Pwd</span>
                    <input type="password" id="AdUserPwd" class="txt-css" placeholder="登录密码" />
                </div>
                <div class="login-form-btn">
                    <div class="btn-login-once" onclick="chkAdminUserLogin()">
                        <img src="../Assets/Imgs/Icon/login_user.png" /><b id="AccLoginB">账号登录</b>
                    </div>
                </div>
            </div>



        </div>



    </form>



</body>
</html>
