
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <!--
        <meta name="viewport" content="width=device-width initial-scale="1" />
    viewport是网页默认的宽度和高度，上面这行代码的意思是，网页宽度默认等于屏幕宽度（width=device-width），
    原始缩放比例（initial-scale=1）为1.0，即网页初始大小占屏幕面积的100%。 user-scalable=no  不允许缩放网页 -->
    <meta name="viewport" content="width=device-width,user-scalable=no" initial-scale="1" />
    <title>选择提现方式</title>
    <link href="../Assets/Lib/AmazeUI-2.7.2/css/amazeui.min.css" rel="stylesheet" />
    <link href="../Assets/Css/PublicCss.css" rel="stylesheet" />
    <link href="../Assets/Css/Vip/WithdrawType.css" rel="stylesheet" />

    <script src="../Assets/Lib/jquery-2.2.2.min.js"></script>
    <script src="../Assets/Lib/SliderDownWin/SliderDownWin.js"></script>
    <script src="../Assets/Js/Vip/WithdrawType.js"></script>

</head>
<body>


    <!--头部-->
    <div class="oct-header">
        <div class="oct-header-left">
            <a href="javascript:history.back(-1);"><img alt="返回" src="../Assets/Imgs/Icon/back.png" /></a>
        </div>
        <div class="oct-header-mid">
            <b>选择提现方式</b>
        </div>
        <div class="oct-header-right">
            <a href="#"><img class="header-icon-my" src="../Assets/Imgs/Icon/vip_question.png" /></a>
        </div>
    </div>


    <!--主体内容-->
    <div class="oct-content">

        <div class="withdraw-list">
            <div class="withdraw-top">
                提现到：
            </div>
            <div class="withdraw-bottom">
                <a href="../Vip/WithdrawSubmit?ToType=WeChat" style="display:@ViewBag.ToTypeWeChatStyleDisplay" class="withdraw-type-weixin">微信钱包</a>
                <a href="../Vip/WithdrawSubmit?ToType=Alipay" class="withdraw-type-alipay">支付宝</a>
                <a href="../Vip/WithdrawSubmit?ToType=Bank" class="withdraw-type-bank">银行卡</a>
            </div>
        </div>

    </div>



</body>
</html>
