
@{
    Layout = null;
}

<!DOCTYPE html>

<html style="overflow: auto; overflow-x: hidden;">
<head>
    <!--
          <meta name="viewport" content="width=device-width initial-scale="1" />
      viewport是网页默认的宽度和高度，上面这行代码的意思是，网页宽度默认等于屏幕宽度（width=device-width），
      原始缩放比例（initial-scale=1）为1.0，即网页初始大小占屏幕面积的100%。 user-scalable=no  不允许缩放网页 -->
    <meta name="viewport" content="width=800,user-scalable=no" initial-scale="1" />
    <title>线下使用验证</title>
    <link href="../Assets/Lib/AmazeUI-2.7.2/css/amazeui.min.css" rel="stylesheet" />
    <link href="../Assets/Lib/AdminFrame/AdminPagePublic.css" rel="stylesheet" />
    <link href="../Assets/Css/TradingPage/verifyCheckCodeOrderStatus.css" rel="stylesheet" />
    <link href="../Assets/Css/CouponsPage/CouponsUseVerify.css" rel="stylesheet" />

    <script src="../Assets/Lib/AmazeUI-2.7.2/js/jquery-2.2.2.min.js"></script>
    <script src="../Assets/Lib/AmazeUI-2.7.2/js/amazeui.min.js"></script>
    <script src="../Assets/Lib/PublicTool.js"></script>
    <script src="../Assets/Lib/AdminFrame/AdminPagePublic.js"></script>
    <script src="../Assets/Lib/AlertConfirmWin/AlertConfirmWin.js"></script>
    <script src="../Assets/Lib/DialogWinDrag/DialogWinDrag.js"></script>
    <script src="../Assets/Js/CouponsPage/CouponsUseVerify.js"></script>

</head>
<body>


    <!--面包屑导航-->
    <div class="nav am-cf am-nbfc" data-am-sticky="{top:0}">
        <ul class="am-breadcrumb">
            <li><a href="../NavPage/Index" class="am-icon-home">首页</a></li>
            <li><a href="../NavPage/NavSubList?NavName=优惠券">优惠券</a></li>
            <li class="am-active">线下使用验证</li>
        </ul>
    </div>

    <!--主体内容-->
    <div class="main am-nbfc">

        <!--标题栏-->
        <div class="main-title am-cf am-nbfc">
            <div class="title-txt-div am-fl">
                <i class="am-icon-list"></i> 线下使用验证
            </div>
            <div class="title-btn-div am-fl">
                <!--<button class="title-btn am-btn am-btn-xs am-btn-danger am-round" onclick="openAddWin()"><i class="am-icon-plus-circle"></i> 添加类别</button>-->
            </div>
        </div>

        <!--操作表单-->
        <div class="form-main am-nbfc am-padding">
            <div class="check-form">
                <ul class="check-form-ul">
                    <li>
                        <span>券号:</span>
                        <input type="number" id="IssueIDTxt" placeholder="选填" value="@ViewBag.IID" class="txt-css" />
                    </li>
                    <li>
                        <span>验证码<font color="red">*</font> :</span>
                        <input type="number" id="CheckCodeTxt" class="txt-css" />
                    </li>
                    <li>
                        <input type="button" id="BtnOk" class="btn-common am-btn am-radius am-btn-success" value="查询" onclick="searchCheckCouponsUseVerify()">
                    </li>
                </ul>
            </div>
            <div class="check-order-list" id="CheckOrderList">

                <!--列表项
                <div class="check-order-item">
                    <ul>
                        <li class="order-item-title">
                            <span>
                                券号：<b>23432423</b>
                                抵用：<b>8.9折,&#165;2343.00</b>
                                类型：<b>商城券</b>
                            </span>
                            <a href="#" target="_blank" class="am-btn">优惠券详情</a>
                        </li>

                        <li class="order-item-goods">
                            <a href="#" target="_blank">优惠券标题呀优惠券标题呀优惠券标题呀</a>
                        </li>
                        <li class="order-user-msg">
                            <span>
                                用户昵称：<b>IT独孤键客</b>
                                手机号：<b>132****5632</b>
                            </span>
                            <span>
                                <input type="button" class="btn-common am-btn am-radius am-btn-success" value="使用验证" />
                            </span>
                        </li>
                    </ul>
                </div>-->







            </div>
        </div>


    </div>




    <!--===========选择详细窗口===============-->
    <div class="detail-win" id="DetailWin" style="display:none;">
        <div class="detail-main">
            <ul class="detail-ul" id="DetailUl">
                <li>
                    …加载中…
                </li>
            </ul>
        </div>
    </div>






</body>
</html>
