<?xml version="1.0" encoding="utf-8"?>
<configuration>


  <!--项目的主要设置信息-->
  
  <!--保存的RndKeyRsa 一般是两小时有效-->
  <appSettings>
    <add key="RndKeyRsa" value="JdF8NthTb3weI3PbIJJtGYMlRRmAXa/NQVAPI7DfH5Ob5FpdfraifLLBgjX5vQiQc7rVola8cAAGrMvi3OjP5Bx3M5vJY4nQFWToD3MJXG56d7p3hZMVGY5KCrzooUly4wnt39g3s5VPUrqnJ0sP7OsQiEw/Fr4R1Tsz4exDarU=" />
    <add key="CreateDateTime" value="2019-08-06 22:32:40" />
    <add key="RndKeyLifeHour" value="2" />
  </appSettings>



</configuration>
