<?xml version="1.0" encoding="utf-8"?>
<configuration>


	<!--项目的主要设置信息-->
	<appSettings>

		<!--此产品的唯一标识,每次给新客户配置服务器时，需要重新赋值-->
		<add key="ThisProductGuid" value="f4609e95-6b06-4190-ba09-c6a0e174c3b0" />

		<!--API接口请求配置-->
		<add key="UserKeyID" value="8866" />
		<add key="UserKey" value="9af7f46a-ea52-4aa3-b8c3-9fd484c69852" />

		<!-- //OctCommonCodeSystemWeb 各项目通用代码项目 API请求地址域名  http://192.168.3.10:1100-->
		<add key="OctCommonCodeSystemWeb_ApiDomain" value="http://cc.opencodetiger.com" />

		<!-- OctUserGoodsShopSystemWeb (会员店铺产品系统) API请求地址域名  http://192.168.3.10:1100-->
		<add key="OctUserGoodsShopSystemWeb_ApiDomain" value="http://ugs.opencodetiger.com" />

		<!-- OctFileUploadSystemWeb (文件上传系统) API请求地址域名  http://192.168.3.10:1100-->
		<add key="OctFileUploadSystemWeb_ApiDomain" value="http://fu.opencodetiger.com" />

		<!-- 【上传文件系统服务器 域名列表 用^隔开】 OctFileUploadSystemWeb (文件上传系统) -->
		<add key="OctFileUploadSystemWebDomainListArr" value="http://fu.opencodetiger.com^http://fu.opencodetiger.com" />


		<!--===========上传文件的配置============-->

		<!--【买家头像图片】 -->
		<add key="BuyerHeaderImgPath" value="Upload/BuyerHeaderImg" />
		<add key="BuyerHeaderImgDomain" value="fu.opencodetiger.com" />

		<!--【晒单(评价)图片】 -->
		<add key="GooAppraiseImgPath" value="Upload/GooAppraiseImg" />
		<add key="GooAppraiseImgDomain" value="fu.opencodetiger.com" />

		<!--【商品赠品图片】 -->
		<add key="GooGiftImgPath" value="Upload/GooGiftImg" />
		<add key="GooGiftImgDomain" value="fu.opencodetiger.com" />

		<!--【礼品图片】 -->
		<add key="PresentImgPath" value="Upload/PresentImg" />
		<add key="PresentImgDomain" value="fu.opencodetiger.com" />

		<!--【活动图片】 -->
		<add key="ActivityImgPath" value="Upload/ActivityImg" />
		<add key="ActivityImgDomain" value="fu.opencodetiger.com" />

		<!--【抽奖图片】 -->
		<add key="LuckyDrawImgPath" value="Upload/LuckyDrawImg" />
		<add key="LuckyDrawImgDomain" value="fu.opencodetiger.com" />

		<!--【店铺轮播图片】 -->
		<add key="ShopCarouselImgPath" value="Upload/ShopCarouselImg" />
		<add key="ShopCarouselImgDomain" value="fu.opencodetiger.com" />

		<!--【栏目图标导航图片】 -->
		<add key="NavIconImgPath" value="Upload/NavIconImg" />
		<add key="NavIconImgDomain" value="fu.opencodetiger.com" />

		<!--【轮播广告图片】 -->
		<add key="AdvCarouselImgPath" value="Upload/AdvCarouselImg" />
		<add key="AdvCarouselImgDomain" value="fu.opencodetiger.com" />

		<!--【图片列表广告图片】 -->
		<add key="AdvImgListImgPath" value="Upload/AdvImgListImg" />
		<add key="AdvImgListImgDomain" value="fu.opencodetiger.com" />

		<!--【横幅通栏广告】 -->
		<add key="AdvBannerImgPath" value="Upload/AdvBannerImg" />
		<add key="AdvBannerImgDomain" value="fu.opencodetiger.com" />

		<!--【商品图片】 -->
		<add key="GooGoodsImgPath" value="Upload/GooGoodsImg" />
		<add key="GooGoodsImgDomain" value="fu.opencodetiger.com" />

		<!--【商品类目的ICON图标】 -->
		<add key="GooGoodsTypeIconPath" value="Upload/GooGoodsTypeIcon" />
		<add key="GooGoodsTypeIconDomain" value="fu.opencodetiger.com" />

		<!--【店铺类目的ICON图标】 -->
		<add key="ShopTypeIconPath" value="Upload/ShopTypeIcon" />
		<add key="ShopTypeIconDomain" value="fu.opencodetiger.com" />

		<!--【商品规格图片】 -->
		<add key="GooSpecParamImgPath" value="Upload/GooSpecParamImg" />
		<add key="GooSpecParamImgDomain" value="fu.opencodetiger.com" />

		<!--【店铺头像图片】 -->
		<add key="ShopHeaderImgPath" value="Upload/ShopHeaderImg" />
		<add key="ShopHeaderImgDomain" value="fu.opencodetiger.com" />

		<!--【店铺Logo图片(门头)】 -->
		<add key="ShopLogoImgPath" value="Upload/ShopLogoImg" />
		<add key="ShopLogoImgDomain" value="fu.opencodetiger.com" />
		<!--门头照最多能上传多少张-->
		<add key="ShopLogoImgMaxUploadNum" value="5" />

		<!--【商家相册图片】 -->
		<add key="ShopAlbumImgImgPath" value="Upload/ShopAlbumImg" />
		<add key="ShopAlbumImgDomain" value="fu.opencodetiger.com" />

		<!--【公司证件图片】 -->
		<add key="CompanyCertificateImgImgPath" value="Upload/CompanyCertificateImg" />
		<add key="CompanyCertificateImgDomain" value="fu.opencodetiger.com" />

		<!--【售后问题图片】 -->
		<add key="AfterSaleProblemImgsImgPath" value="Upload/AfterSaleProblemImgs" />
		<add key="AfterSaleProblemImgsDomain" value="fu.opencodetiger.com" />

		<!--【退款问题图片】 -->
		<add key="RefundProblemImgsImgPath" value="Upload/RefundProblemImgs" />
		<add key="RefundProblemImgsDomain" value="fu.opencodetiger.com" />

		<!--【买家转账汇款凭证图片】 -->
		<add key="TransCertImgsImgPath" value="Upload/TransCertImgs" />
		<add key="TransCertImgsDomain" value="fu.opencodetiger.com" />

		<!--【说明性文本图片】 -->
		<add key="ExplainImgImgPath" value="Upload/ExplainImgs" />
		<add key="ExplainImgDomain" value="fu.opencodetiger.com" />

		<!--【分销店铺Logo图片】 -->
		<add key="DistriShopLogoImgsImgPath" value="Upload/DistriShopLogoImgs" />
		<add key="DistriShopLogoImgsDomain" value="fu.opencodetiger.com" />

		<!--【分销店铺头像图片】 -->
		<add key="DistriShopHeaderImgsImgPath" value="Upload/DistriShopHeaderImgs" />
		<add key="DistriShopHeaderImgsDomain" value="fu.opencodetiger.com" />

		<!--【分销店铺身份证照片】 -->
		<add key="DistriIDCardImgsImgPath" value="Upload/DistriIDCardImgs" />
		<add key="DistriIDCardImgsDomain" value="fu.opencodetiger.com" />

		<!--【分销店铺拥有者拍照照片】 -->
		<add key="DistriOwnerSelfieImgsImgPath" value="Upload/DistriOwnerSelfieImgs" />
		<add key="DistriOwnerSelfieImgsDomain" value="fu.opencodetiger.com" />

		<!--【结算商家营业执照照片】 -->
		<add key="SettleCertificateImgPath" value="Upload/SettleCertificateImg" />
		<add key="SettleCertificateImgDomain" value="fu.opencodetiger.com" />

		<!--【结算转账凭证照片】 -->
		<add key="SettleTransferVoucherImgPath" value="Upload/SettleTransferVoucherImg" />
		<add key="SettleTransferVoucherImgDomain" value="fu.opencodetiger.com" />

		<add key="KeyName3" value="配置信息3的值" />

	</appSettings>

	<!--项目的数据库连接字符串-->
	<connectionStrings>

		<!--OctCommonCodeDB (通用数据库) 各项目配置参数 Api请求Key和密钥信息 商城各项需要写入数据库表的配置信息 -->
		<add name="OctCommonCodeDB_ConnectionStrings" connectionString="Data Source=.,1772;database=OctCommonCodeDB;UID=sa;Password=OpenCodeTiger168_ItHuang;Persist Security Info=True;Max Pool Size=5000;Min Pool Size=1;Connect Timeout=30;Connection Lifetime=30;Asynchronous Processing=true"
		  providerName="System.Data.SqlClient" />

		<!-- OctTradingSystemDB (交易系统 订单与财务 数据库)  -->
		<add name="OctTradingSystemDB_ConnectionStrings" connectionString="Server=.,1772;DataBase=OctTradingSystemDB;Uid=sa;Pwd=OpenCodeTiger168_ItHuang;Max Pool Size=50000;Min Pool Size=1;Connect Timeout=30;Connection Lifetime=30;Asynchronous Processing=true;Integrated Security=True"
		  providerName="System.Data.SqlClient" />

		<!-- OctUserGoodsShopSystemDB （会员店铺产品系统数据库) -->
		<add name="OctUserGoodsShopSystemDB_ConnectionStrings" connectionString="Data Source=.,1772;database=OctUserGoodsShopSystemDB;UID=sa;Password=OpenCodeTiger168_ItHuang;Persist Security Info=True;Max Pool Size=5000;Min Pool Size=1;Connect Timeout=30;Connection Lifetime=30;Asynchronous Processing=true"
		 providerName="System.Data.SqlClient" />

		<!-- OctAfterSaleAccCusDB （售后,退款,投诉,客服反馈,消息系统 ) -->
		<add name="OctAfterSaleAccCusDB_ConnectionStrings" connectionString="Data Source=.,1772;database=OctAfterSaleAccCusDB;UID=sa;Password=OpenCodeTiger168_ItHuang;Persist Security Info=True;Max Pool Size=5000;Min Pool Size=1;Connect Timeout=30;Connection Lifetime=30;Asynchronous Processing=true"
		 providerName="System.Data.SqlClient" />

		<!-- OctFileUploadSystemDB （文件上传系统数据库) -->
		<add name="OctFileUploadSystemDB_ConnectionStrings" connectionString="Data Source=.,1772;database=OctFileUploadSystemDB;UID=sa;Password=OpenCodeTiger168_ItHuang;Persist Security Info=True;Max Pool Size=5000;Min Pool Size=1;Connect Timeout=30;Connection Lifetime=30;Asynchronous Processing=true"
		 providerName="System.Data.SqlClient" />




	</connectionStrings>



	<system.web>

	</system.web>
</configuration>
