<?xml version="1.0" encoding="utf-8"?>
<configuration>


  <!--项目的主要设置信息-->
  
  <!--保存的RndKeyRsa 一般是两小时有效-->
  <appSettings>
    <add key="RndKeyRsa" value="NMWljBTlwznoDwnfHbBaMn9Mi53ty/Zyj9NXCpD5nvH27awVSZZ9Uiz0RaDc9uz65pvysLOnxm/9jGtyDWyQ18MiQHazNKXlcmmQb4xwDv4XsgAgo9KU35h/m7Htci2Dne2EDFqSJjCGBAeXclSuPmnHYG+nyhSLbP63lWa0/LY=" />
    <add key="CreateDateTime" value="2021-08-15 09:02:26" />
    <add key="RndKeyLifeHour" value="2" />
  </appSettings>



</configuration>
