<?xml version="1.0" encoding="utf-8"?>
<configuration>


	<!--项目的主要设置信息-->
	<appSettings>


		<!--API接口请求配置-->
		<add key="UserKeyID" value="8866" />
		<add key="UserKey" value="9af7f46a-ea52-4aa3-b8c3-9fd484c69852" />

		<!--全局变量，是否开启写入日志 [是/否]-->
		<add key="IsWriteSystemLog" value="否" />

		<!--IM在线客服系统 == 域名地址URL-->
		<add key="ImSystemWebDomainURL" value="http://oim.opencodetiger.com" />

		<!-- //OctWapWeb 手机Web端(公众号端)地址域名-->
		<add key="OctWapWeb_AddrDomain" value="https://h5.opencodetiger.com" />

		<!-- //OctCommonCodeSystemWeb 各项目通用代码项目 API请求地址域名  http://192.168.3.10:1100-->
		<add key="OctCommonCodeSystemWeb_ApiDomain" value="http://cc.opencodetiger.com" />

		<!-- OctUserGoodsShopSystemWeb (会员店铺产品系统) API请求地址域名  http://192.168.3.10:1100-->
		<add key="OctUserGoodsShopSystemWeb_ApiDomain" value="http://ugs.opencodetiger.com" />

		<!-- OctTradingSystemWeb (交易系统 订单与财务) API请求地址域名  http://192.168.3.10:1100-->
		<add key="OctTradingSystemWeb_ApiDomain" value="http://tra.opencodetiger.com" />

		<!-- OctAfterSaleAccCusSystem (售后,投诉,客服反馈,消息系统) API请求地址域名  http://192.168.3.10:1100-->
		<add key="OctAfterSaleAccCusSystemWeb_ApiDomain" value="http://asac.opencodetiger.com" />

		<!-- OctFileUploadSystemWeb (文件上传系统) API请求地址域名  http://192.168.3.10:1100-->
		<add key="OctFileUploadSystemWeb_ApiDomain" value="http://fu.opencodetiger.com" />

		<!-- OctAdvertiserSystemWeb (广告内容系统 ) API请求地址域名  http://192.168.3.10:2100-->
		<add key="OctAdvertiserSystemWeb_ApiDomain" value="http://oad.opencodetiger.com" />

		<!-- OctThirdApiCallSystemWeb (第三方系统调用 ) API请求地址域名  http://192.168.3.10:1600-->
		<add key="OctThirdApiCallSystemWeb_ApiDomain" value="http://tac.opencodetiger.com" />

		<!-- 【上传文件系统服务器 域名列表 用^隔开】 OctFileUploadSystemWeb (文件上传系统) -->
		<add key="OctFileUploadSystemWebDomainListArr" value="http://fu.opencodetiger.com^http://fu.opencodetiger.com" />



	</appSettings>

	<!--项目的数据库连接字符串-->
	<connectionStrings>

		<!--OctCommonCodeDB (通用数据库) 各项目配置参数 Api请求Key和密钥信息 商城各项需要写入数据库表的配置信息 -->
		<add name="OctCommonCodeDB_ConnectionStrings" connectionString="Data Source=.,1772;database=OctCommonCodeDB;UID=sa;Password=OpenCodeTiger168_ItHuang;Persist Security Info=True;Max Pool Size=5000;Min Pool Size=1;Connect Timeout=30;Connection Lifetime=30;Asynchronous Processing=true"
		  providerName="System.Data.SqlClient" />

		<!-- OctTradingSystemDB (交易系统 订单与财务 数据库)  -->
		<add name="OctTradingSystemDB_ConnectionStrings" connectionString="Data Source=.,1772;DataBase=OctTradingSystemDB;Uid=sa;Pwd=OpenCodeTiger168_ItHuang;Max Pool Size=50000;Min Pool Size=1;Connect Timeout=30;Connection Lifetime=30;Asynchronous Processing=true;Integrated Security=True"
		  providerName="System.Data.SqlClient" />

		<!-- OctUserGoodsShopSystemDB （会员店铺产品系统数据库) -->
		<add name="OctUserGoodsShopSystemDB_ConnectionStrings" connectionString="Data Source=.,1772;database=OctUserGoodsShopSystemDB;UID=sa;Password=OpenCodeTiger168_ItHuang;Persist Security Info=True;Max Pool Size=5000;Min Pool Size=1;Connect Timeout=30;Connection Lifetime=30;Asynchronous Processing=true"
		 providerName="System.Data.SqlClient" />

		<!-- OctAfterSaleAccCusDB （售后,投诉,客服反馈,消息系统 ) -->
		<add name="OctAfterSaleAccCusDB_ConnectionStrings" connectionString="Data Source=.,1772;database=OctAfterSaleAccCusDB;UID=sa;Password=OpenCodeTiger168_ItHuang;Persist Security Info=True;Max Pool Size=5000;Min Pool Size=1;Connect Timeout=30;Connection Lifetime=30;Asynchronous Processing=true"
		 providerName="System.Data.SqlClient" />

		<!-- OctFileUploadSystemDB （文件上传系统数据库) -->
		<add name="OctFileUploadSystemDB_ConnectionStrings" connectionString="Data Source=.,1772;database=OctFileUploadSystemDB;UID=sa;Password=OpenCodeTiger168_ItHuang;Persist Security Info=True;Max Pool Size=5000;Min Pool Size=1;Connect Timeout=30;Connection Lifetime=30;Asynchronous Processing=true"
		 providerName="System.Data.SqlClient" />





	</connectionStrings>



	<system.web>

	</system.web>
</configuration>
