
@{
    Layout = null;
}

<!DOCTYPE html>

<html style="overflow: auto; overflow-x: hidden;">
<head>
    <!--
          <meta name="viewport" content="width=device-width initial-scale="1" />
      viewport是网页默认的宽度和高度，上面这行代码的意思是，网页宽度默认等于屏幕宽度（width=device-width），
      原始缩放比例（initial-scale=1）为1.0，即网页初始大小占屏幕面积的100%。 user-scalable=no  不允许缩放网页 -->
    <meta name="viewport" content="width=device-width,user-scalable=no" initial-scale="1" />
    <title>商家系统登录(PC端/移动端)</title>
    <link href="../Assets/Lib/AmazeUI-2.7.2/css/amazeui.min.css" rel="stylesheet" />
    <link href="../Assets/Css/PublicCss.css" rel="stylesheet" />
    <link href="../Assets/Css/LoginPage/Index.css?v=1" rel="stylesheet" />

    <script src="../Assets/Lib/AmazeUI-2.7.2/js/jquery-2.2.2.min.js"></script>
    <script src="../Assets/Lib/AlertConfirmWin/AlertConfirmWin.js"></script>
    <script src="../Assets/Js/LoginPage/Index.js?v=3"></script>


</head>
<body>

    <form>

        <!--隐藏控件记录值-->
        <input type="hidden" id="hidBackUrl" value="@ViewBag.BackUrl" />
        <input type="hidden" id="hidIsMobileOS" value="@ViewBag.IsMobile" />

        <!--=========移动端===========-->
        <div class="oct-content">

            <div class="login-icon">
                <img src="../Assets/Imgs/Icon/login_shop.png" />
            </div>

            <!--账号登录-->
            <div class="login-form login-form-account" id="AccLogin">
                <div class="login-form-mobile">
                    <span>+86</span>
                    <input type="number" id="UserAccount" class="txt-css" placeholder="请输入手机号" />
                </div>
                <div class="login-form-mobile">
                    <span>Pwd</span>
                    <input type="password" id="LoginPwd" class="txt-css" placeholder="登录密码" />
                </div>
                <div class="login-form-btn">
                    <div class="btn-login-once" onclick="userLogin('Acc')">
                        <img src="../Assets/Imgs/Icon/login_user.png" /><b id="AccLoginB">账号登录</b>
                    </div>
                </div>
            </div>

            <!--手机登录-->
            <div class="login-form" style="display:none;" id="MobileLogin">
                <div class="login-form-mobile">
                    <span>+86</span>
                    <input id="BindMobile" type="number" class="txt-css" placeholder="请输入手机号" />
                </div>
                <div class="login-form-checkcode">
                    <input id="VerifyCode" type="number" class="txt-css" placeholder="短信验证码" />
                    <span id="BtnSpanGetVerifyCode" onclick="getSmsVerifyCode()" style="cursor:pointer;">获取验证码</span>
                    <span id="BtnSpanReSetVerifyCode" class="reset-check-code" style="display:none;cursor:pointer">重新获取(<i id="TimerSecondI">60s</i>) </span>
                </div>
                <div class="login-form-btn">
                    <div class="btn-login-once" onclick="userLogin('Mobile')">
                        <img src="../Assets/Imgs/Icon/login_mobile.png" /><b id="MobileLoginB">手机登录</b>
                    </div>
                </div>
            </div>


            <div class="tgl-login-type">
                <div onclick="chgLoginType('Acc')">账号登录</div>
                <div onclick="chgLoginType('Mobile')">手机登录</div>
            </div>

        </div>




        <!--PC端-->
        @*<div>
                <ul>
                    <li><b>设置用户登录</b></li>
                    <li>
                        <span>用户UserID:</span>
                        <input type="text" id="UserID" value="10004" />
                    </li>
                    <li>
                        <span>登录密码:</span>
                        <input type="text" id="LoginPwd" value="111111" />
                    </li>
                    <li>
                        <input type="button" value="登录" onclick="userLogin()" />
                    </li>
                </ul>
            </div>*@

    </form>


</body>
</html>
