
@{
    Layout = null;
}

<!DOCTYPE html>

<html style="overflow: auto; overflow-x: hidden;">
<head>
    <!--
        <meta name="viewport" content="width=device-width initial-scale="1" />
    viewport是网页默认的宽度和高度，上面这行代码的意思是，网页宽度默认等于屏幕宽度（width=device-width），
    原始缩放比例（initial-scale=1）为1.0，即网页初始大小占屏幕面积的100%。 user-scalable=no  不允许缩放网页 -->
    <meta name="viewport" content="width=device-width,user-scalable=no" initial-scale="1" />

    <title>登录成功-扫码验证核销</title>
    <link href="../Assets/Lib/AmazeUI-2.7.2/css/amazeui.min.css" rel="stylesheet" />
    <link href="../Assets/Css/PublicCss.css" rel="stylesheet" />
    <link href="../Assets/Css/LoginPage/LoginedScanPrompt.css?v=8" rel="stylesheet" />

    <script src="../Assets/Lib/jquery-2.2.2.min.js"></script>
    <script src="../Assets/Lib/AlertConfirmWin/AlertConfirmWin.js"></script>
    <script src="../Assets/Js/LoginPage/LoginedScanPrompt.js?v=23"></script>

</head>
<body>

    <!--隐藏控件记录值-->
    <input type="hidden" id="hidScanData" value="@ViewBag.ScanData" />
    <input type="hidden" id="hidOctWapWebAddrDomain" value="@ViewBag.OctWapWeb_AddrDomain" />
    <!--是否在微信中-->
    <input type="hidden" id="hidIsInWeiXinBrowse" value="@ViewBag.IsInWeiXinBrowse" />

    <!--头部-->
    <div class="oct-header">
        <div class="oct-header-left">
            <a href="#" id="ShopNameALink"><img src="../Assets/Imgs/Icon/shop_verify.png" />店铺名称店铺名称</a>
        </div>
        <div class="oct-header-mid">
            <b></b>
        </div>
        <div class="oct-header-right">
            <a href="JavaScript:exitLogin()"><img class="header-icon-my" style="width: 25px; height: 25px;" src="../Assets/Imgs/Icon/exit_login.png" /></a>
        </div>
    </div>

    <!--主体内容-->
    <div class="oct-content">

        <div class="main-logo" style="">

            <div class="logo-hint-success" style="display:normal;">
                <img src="../Assets/Imgs/Icon/shop_login.png" />
                商家登录成功
            </div>
            <div class="logo-hint-login">
                … 你可以扫码验证与核销啦 …
            </div>

            <div class="logo-btn-list">
                <input type="button" value="立即扫码验证/核销" onclick="window.location.href='../VerifyCodePage/PopVerifyScanWin'" />
            </div>

        </div>


    </div>

   


</body>
</html>
