<?xml version="1.0" encoding="utf-8"?>
<configuration>


  <!--项目的主要设置信息-->
  
  <!--保存的RndKeyRsa 一般是两小时有效-->
  <appSettings>
    <add key="RndKeyRsa" value="S7BxmIuHF7FbjKR/oXro1UytefqGZD5ZIMd55Gh7NsgQSs61pnfgSXxbyosO1mwrwd/tm1hdbdNspJ2JRaUvMxgpeY46lYKUHZ6kAi6FQrdpp0h52JtF5z8ZDAyBaH6H2hDB77e8jR/yk15gupT7OjAQn46pO8dqG9ioIXxBVgo=" />
    <add key="CreateDateTime" value="2021-05-27 12:04:48" />
    <add key="RndKeyLifeHour" value="2" />
  </appSettings>



</configuration>
