
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>抽奖图片信息</title>
</head>
<body>
    <div>
        抽奖图片信息
    </div>
</body>
</html>
