
@{
    Layout = null;
}

<!DOCTYPE html>

<html style="overflow: auto; overflow-x: hidden;overflow-y: hidden;">
<head>
    <!--
        <meta name="viewport" content="width=device-width initial-scale="1" />
    viewport是网页默认的宽度和高度，上面这行代码的意思是，网页宽度默认等于屏幕宽度（width=device-width），
    原始缩放比例（initial-scale=1）为1.0，即网页初始大小占屏幕面积的100%。 user-scalable=no  不允许缩放网页 -->
    <meta name="viewport" content="width=device-width,user-scalable=no" initial-scale="1" />
    <title>商品分类</title>
    <link href="../Assets/Lib/AmazeUI-2.7.2/css/amazeui.min.css" rel="stylesheet" />
    <link href="../Assets/Css/PublicCss.css" rel="stylesheet" />
    <link href="../Assets/Css/Mall/GoodsType.css" rel="stylesheet" />

    <script src="../Assets/Lib/jquery-2.2.2.min.js"></script>
    <script src="../Assets/Js/Mall/GoodsType.js"></script>

</head>
<body onresize="setContentHeightAuto()">
    <!--头部-->
    <div class="oct-header">
        <div class="tab-nav-item tab-nav-current" onclick="chgTab('1')">
            全部
        </div>
        <div class="tab-nav-item" onclick="chgTab('2')">
            实体店
        </div>
        <div class="tab-nav-search" id="TabNavSearch" onclick="window.location.href='../Mall/SearchGoods'">
            商品搜索
        </div>
    </div>

    <!--主体内容-->
    <div class="oct-content">

        <div class="goods-type-list">

            <div class="type-list-left" id="TypeListLeft">
                <ul class="type-list-ul" id="TypeListUl">
                    @*<li>电器</li>
                    <li>加速器加速器加速器加速器</li>
                    <li class="goods-type-current">数码</li>
                    <li>电器</li>
                    <li>加速器加速器</li>*@
        
                </ul>
            </div>
            <div class="type-list-right" id="TypeListRight">
                @*<a href="#">
                    <img src="../Assets/Imgs/06.jpg" /><br />
                    男装男装男装男装
                </a>*@
            </div>

        </div>

    </div>

    <!--页脚-->
    <div class="oct-footer">
        <a href="../Mall/Index">
            <img src="../Assets/Imgs/Icon/navhome.png" />
            首页
        </a>
        <a href="../Mall/GoodsType" class="nav-current">
            <img src="../Assets/Imgs/Icon/navtype_red.png" />
            分类
        </a>
        <a href="../Buyer/BuyerMsg">
            <img src="../Assets/Imgs/Icon/navmsg.png" />
            消息
            <div class="badge-div" style="display:none">3</div>
        </a>
        <a href="../Scart/Index">
            <img src="../Assets/Imgs/Icon/navscart.png" />
            购物车
            <div class="badge-div" style="display:none">3</div>
        </a>
        <a href="../Buyer/Index">
            <img src="../Assets/Imgs/Icon/navmy.png" />
            我的
            <div class="badge-div" style="display:none">3</div>
        </a>

    </div>


</body>
</html>
