<?xml version="1.0" encoding="utf-8"?>
<configuration>


  <!--项目的主要设置信息-->
  
  <!--保存的RndKeyRsa 一般是两小时有效-->
  <appSettings>
    <add key="RndKeyRsa" value="IiMEXGcvZ8U/c/way6zRHR4ADDymz9JfT9blXtU1Q8MFcA86MrnMMm5NVKDxBYBxj7iqJB9kQ8OZwrempJfdKCuMekBVxkM7G7Mhk+ZMvwJ59TZVCOWPALJilBRB9+JaxpuZc9+e4HodYzlT28FBAr7y9yqM9A9uHO9XVY2dtSc=" />
    <add key="CreateDateTime" value="2021-08-15 09:04:13" />
    <add key="RndKeyLifeHour" value="2" />
  </appSettings>



</configuration>
