
@{
    Layout = null;
}

<!DOCTYPE html>

<html style="overflow: auto; overflow-x: hidden;">
<head>
    <!--
         <meta name="viewport" content="width=device-width initial-scale="1" />
     viewport是网页默认的宽度和高度，上面这行代码的意思是，网页宽度默认等于屏幕宽度（width=device-width），
     原始缩放比例（initial-scale=1）为1.0，即网页初始大小占屏幕面积的100%。 user-scalable=no  不允许缩放网页 -->
    <meta name="viewport" content="width=800,user-scalable=no" initial-scale="1" />
    <title>扫码支付订单详情</title>
    <link href="../Assets/Lib/AmazeUI-2.7.2/css/amazeui.min.css" rel="stylesheet" />
    <link href="../Assets/Lib/AdminFrame/AdminPagePublic.css" rel="stylesheet" />
    <link href="../Assets/Css/TradingPage/OrderDetail.css" rel="stylesheet" />
    <link href="../Assets/Css/AggregatePage/AggreOrderDetail.css" rel="stylesheet" />

    <script src="../Assets/Lib/AmazeUI-2.7.2/js/jquery-2.2.2.min.js"></script>
    <script src="../Assets/Js/AggregatePage/AggreOrderDetail.js"></script>

</head>
<body>
    <!--隐藏控件记录值-->
    <input type="hidden" id="hidAggregateOrderID" value="@ViewBag.AOID" />

    <!--面包屑导航-->
    <div class="nav am-cf am-nbfc" data-am-sticky="{top:0}">
        <ul class="am-breadcrumb">
            <li><a href="../NavPage/Index" class="am-icon-home">首页</a></li>
            <li><a href="../NavPage/NavSubList?NavName=扫码收单">线下扫码收单</a></li>
            <li class="am-active">扫码支付订单详情</li>
        </ul>
    </div>

    <!--主体内容-->
    <div class="main am-nbfc">

        <!--标题栏-->
        <div class="main-title am-cf am-nbfc">
            <div class="title-txt-div am-fl">
                <i class="am-icon-list"></i> 扫码支付订单详情
            </div>
            <div class="title-btn-div am-fl">
                <!--<button class="title-btn am-btn am-btn-xs am-btn-danger am-round" onclick="openAddWin()"><i class="am-icon-plus-circle"></i> 添加类别</button>-->
            </div>
        </div>

        <!--操作表单-->
        <div class="form-main am-nbfc am-padding">
            <div class="order-status">
                <div class="order-status-title">
                    <val id="StatusTtitle"></val>
                </div>
                <div class="order-status-desc">
                    <val id="StatusDesc"></val>
                </div>
            </div>
            <dl class="order-basic">
                <dt>基本信息</dt>
                <dd>
                    <span>扫码支付订单ID：</span><val id="AggregateOrderID"></val>
                    <span>交易号：</span><val id="BillNumber">
                        
                    </val>
                    <span>订单总额：</span>&#165;<val id="OrderPrice">
                       
                    </val>
                    <span>下单时间：</span><val id="OrderTime"></val>
                </dd>
                <dd>
                    <span>支付方式：</span><val id="PayWay">
                      
                    </val>
                    <span>
                        是否支付：
                    </span>
                    <val id="IsPaySuccess">
                       
                    </val>
                    <span>支付时间：</span><val id="PayTime"></val>
                    <span>支付备注：</span><val id="PayMemo"></val>
                </dd>
                <dd>
                    <span>是否结算：</span><val id="IsSettle">
                       
                    </val>
                    <span>
                        是否退款：
                    </span>
                    <val id="IsRefund">
                        
                    </val>
                    <span>支付标识：</span><val id="OrderGuid"></val>
                </dd>
                <dd class="order-goods-list" id="OrderGoodsListDD">
                    <div id="OrderGoodsMsgList">
                        <span>
                            <a href="javascript:void(0)">线下扫码收单-扫码支付</a>
                        </span>
                        <span>
                            &#165;0.00  x 1
                        </span>
                    </div>
                </dd>
            </dl>


            <dl class="order-basic order-pay-user">
                <dt>付款者信息</dt>
                <dd class="pay-user-dd">
                    <span>昵称：</span>
                    <b id="UserNick">
                        @*<img src="../Assets/Imgs/header_1.jpg" />
                        小黄黄(买家)*@
                    </b>
                    <span>付款者UserID：</span><val id="BuyerUserID">
                        
                    </val>
                    <span>绑定手机：</span><val id="BindMobile">
                       
                    </val>
                </dd>
            </dl>



        </div>

    </div>




</body>
</html>
