/*====================官方客服========================*/
.oct-content {
    padding: 0;
    margin-top: 43px;
}

.services-top {
    background: #ffffff;
    font-size: 14px;
    padding: 10px;
}

.services-top-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

    .services-top-list div {
        width: 170px;
        padding-top: 15px;
    }

    .services-top-list a {
        color: #009cd7;
        cursor: pointer;
    }

.services-top-btn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

    .services-top-btn a {
        width: 200px;
        color: #ff6a00;
        height: 30px;
        font-size: 14px;
        text-align: center;
        border: 1px solid #ff6a00;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 15px;
        margin-bottom: 10px;
        border-radius: 15px;
        cursor: pointer;
        text-align: center;
    }

    .services-top-btn img {
        width: 20px;
        height: 20px;
        margin-right: 5px;
        margin-top: -2px;
    }

/*问题类型*/
.services-bottom{
    margin-top: 10px;
    font-size:14px;
}
.services-bottom div{
    padding: 10px;
    font-weight:bold;
}
.question-ul{
    background: white;
    padding-top: 5px;
    padding-bottom: 15px;
}
    .question-ul li {
        padding: 8px 10px;
        font-size: 14px;
        border-bottom: 2px solid #F7F7F7;
        background: url(../../Imgs/Icon/arrows_right.png) right center no-repeat;
        background-size: 15px;
    }