/*====================店铺详情=======================*/
.oct-header .oct-header-right img {
    width: 22px;
    height: 22px;
}

.oct-content {
    padding: 0;
    margin-top: 41px;
    padding-bottom: 80px;
}
/*轮播区*/
.oct-slider {
    position: relative;
}

.sliderMainContent {
    height: 170px;
    overflow: hidden;
}

.content-slider li {
    height: 170px;
    width: 100%;
    overflow: hidden;
}

.slider-pager-content {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: white;
    color: #808080;
    border-radius: 5px;
    padding: 0 4px;
    filter: alpha(Opacity=80);
    -moz-opacity: 0.5;
    opacity: 0.5;
}

.img-slider img {
    width: 100%;
}


/*店铺评价*/
.shop-appraise {
    padding: 6px;
    background: white;
    margin-top: 8px;
    padding-bottom: 10px;
}

    .shop-appraise .header-span-val {
        color: #808080;
    }

.shop-appraise-title {
    padding: 5px 0;
    padding-right: 6px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eeeeee;
}

.shop-appraise-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.app-content-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

    .app-content-right .header-span-star img {
        width: 14px;
        height: 14px;
        margin-top: -5px;
    }

.shop-basic .app-content-right {
    color: gray;
}

.shop-basic .shop-appraise-content {
    border-bottom: 1px solid #fafafa;
    padding-bottom: 5px;
}

.shop-intro .shop-appraise-content {
    font-size: 12px;
}
