<?xml version="1.0" encoding="utf-8"?>
<configuration>


  <!--项目的主要设置信息-->
  
  <!--保存的RndKeyRsa 一般是两小时有效-->
  <appSettings>
    <add key="RndKeyRsa" value="SpUTJql1ilC71yNxEYImeE/rVXYWQGSh0buBxNZP+p+oc7/i5TQx/maDL3KauhtJeRrmi3gEdZq9Hw3ZEeswSaNtUYXNaK7uA7C/UwtSUr7GB/td/CSwoUm6b3B9UMtKe6rJlyBqoIOIAB7EuXMNiY1IFnL/jLnqGinXLJ5/+C0=" />
    <add key="CreateDateTime" value="2021-08-14 17:35:08" />
    <add key="RndKeyLifeHour" value="2" />
  </appSettings>



</configuration>
