
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>
        OctTradingSystem(交易，订单，财务系统) -- 测试
    </title>
</head>
<body>
    <div>
        <img src="@ViewBag.OctThirdApiCallSystemWeb_ApiDomain/Alipay/AlipayF2FPayScanImgNoOrder?ScanData=@ViewBag.ScanData" />
    </div>
    <div>
        OctTradingSystem(交易，订单，财务系统) -- 测试
    </div>
</body>
</html>
