
@{
    Layout = null;
}

<!DOCTYPE html>

<html style="overflow: auto; overflow-x: hidden;">
<head>
    <!--
         <meta name="viewport" content="width=device-width initial-scale="1" />
     viewport是网页默认的宽度和高度，上面这行代码的意思是，网页宽度默认等于屏幕宽度（width=device-width），
     原始缩放比例（initial-scale=1）为1.0，即网页初始大小占屏幕面积的100%。 user-scalable=no  不允许缩放网页 -->
    <meta name="viewport" content="width=device-width,user-scalable=no" initial-scale="1" />
    <title>活动优惠_实体店</title>
    <link href="../Assets/Lib/AmazeUI-2.7.2/css/amazeui.min.css" rel="stylesheet" />
    <link href="../Assets/Lib/mescroll/mescroll.min.css" rel="stylesheet" />
    <link href="../Assets/Css/PublicCss.css" rel="stylesheet" />
    <link href="../Assets/Css/Mall/Activity.css" rel="stylesheet" />

    <script src="../Assets/Lib/jquery-2.2.2.min.js"></script>
    <script src="../Assets/Lib/mescroll/mescroll.min.js"></script>
    <script src="../Assets/Lib/PublicTool.js"></script>
    <script src="../Assets/Js/O2o/ActivityO2o.js"></script>

</head>
<body>

    <!--隐藏控件记录值-->
    <input type="hidden" id="hidBuyerUserID" value="@ViewBag.BuyerUserID" />

    <!--头部-->
    <div class="oct-header">
        <div class="oct-header-left">
            <a href="javascript:history.back(-1);"><img alt="返回" src="../Assets/Imgs/Icon/back.png" /></a>
        </div>
        <div class="oct-header-mid">
            <b>活动优惠</b>
        </div>
        <div class="oct-header-right">
            <a href="../O2o/Index"><img class="header-icon-my" src="../Assets/Imgs/Icon/navbar_home.png" style="width:25px; height:25px;" /></a>
        </div>
    </div>

    <!--子标题-->
    <div class="oct-header-sub">
        <div class="nav-item search-where-1" onclick="searchWhere1()">
            <span id="SearchWhere1Span" style="color:red;">全部地区</span><img src="../Assets/Imgs/Icon/arrowdownsolid.png" />
        </div>
        <div class="goods-type-order search-current" onclick="clickItemSearchWhere2('NoLimit')">距离最近</div>
        <div class="goods-type-order" onclick="clickItemSearchWhere2('StartDate')">时间最近</div>
        <div class="goods-type-order" onclick="clickItemSearchWhere2('CountJoinNumber')">人气排行</div>
    </div>
    <!--条件显示层-->
    <div class="all-where-show" id="AllWhereShow" style="display: none;">
        <div class="all-where-type" id="AllWhereType" style="display:none">
            <span>全部地区</span>
            <span class="goods-type-current">
                开福区
            </span>
        </div>
    </div>


    <!--主体内容-->
    <div class="oct-content">
        <div class="mescroll" id="mescroll">
            <!--商品列表-->
            <ul class="goods-list" id="PageContentList">

                @*<li class="goods-item" onclick="window.location.href='../Mall/LuckyDrawDetail'">
                        <div class="goods-item-img">
                            <img src="../Assets/Imgs/04.jpg" />
                            <div>店铺名称呀 - 赞助</div>
                        </div>
                        <div class="goods-item-title">
                            活动标题 活动标题 活动标题
                        </div>
                        <div class="goods-item-luckydraw">
                            <div>
                                当前报名:<b>2343</b>  人数上限:<b>2343</b>
                            </div>
                            <div>
                                活动时间：<b>2018-05-12 至 2018-08-12 (3天后)</b>
                            </div>
                        </div>
                        <div class="goods-item-extra">

                            <div class="goods-luckydraw-extra">
                                <span class="user-joined-span">距: 1.3KM</span>
                                <span class="user-joined-span">参与验证</span>
                            </div>
                            <div class="goods-luckydraw-extra">
                                <span class="express-type-span">线上活动</span>
                            </div>
                        </div>
                    </li>*@

            </ul>
        </div>
    </div>




</body>
</html>
