
@{
    Layout = null;
}

<!DOCTYPE html>

<html style="overflow: auto; overflow-x: hidden;">
<head>
    <!--
        <meta name="viewport" content="width=device-width initial-scale="1" />
    viewport是网页默认的宽度和高度，上面这行代码的意思是，网页宽度默认等于屏幕宽度（width=device-width），
    原始缩放比例（initial-scale=1）为1.0，即网页初始大小占屏幕面积的100%。 user-scalable=no  不允许缩放网页 -->
    <meta name="viewport" content="width=device-width,user-scalable=no" initial-scale="1" />
    <title>领券中心_实体店</title>
    <link href="../Assets/Lib/AmazeUI-2.7.2/css/amazeui.min.css" rel="stylesheet" />
    <link href="../Assets/Lib/mescroll/mescroll.min.css" rel="stylesheet" />
    <link href="../Assets/Css/PublicCss.css" rel="stylesheet" />
    <link href="../Assets/Css/Mall/Coupons.css" rel="stylesheet" />

    <script src="../Assets/Lib/jquery-2.2.2.min.js"></script>
    <script src="../Assets/Lib/mescroll/mescroll.min.js"></script>
    <script src="../Assets/Lib/PublicTool.js"></script>
    <script src="../Assets/Js/O2o/CouponsO2o.js"></script>

</head>
<body>

    <!--隐藏控件记录值-->
    <input type="hidden" id="hidBuyerUserID" value="@ViewBag.BuyerUserID" />


    <!--头部-->
    <div class="oct-header">
        <div class="oct-header-left">
            <a href="javascript:history.back(-1);"><img alt="返回" src="../Assets/Imgs/Icon/back.png" /></a>
        </div>
        <div class="oct-header-mid">
            <b>领券中心</b>
        </div>
        <div class="oct-header-right">
            <a href="../O2o/index"><img class="header-icon-my" src="../Assets/Imgs/Icon/navbar_home.png" style="width:25px; height:25px;" /></a>
        </div>
    </div>

    <!--子标题-->
    <div class="oct-header-sub">
        <div class="nav-item search-where-1" onclick="searchWhere1()">
            <span id="SearchWhere1Span">全部分类</span><img src="../Assets/Imgs/Icon/arrowdownsolid.png" />
        </div>
        <div class="nav-item search-where-1" onclick="searchWhere2()">
            <span id="SearchWhere2Span" style="color:red;">全部地区</span><img src="../Assets/Imgs/Icon/arrowdownsolid.png" />
        </div>
        <div class="goods-type-order" onclick="clickItemSearchWhere3('OfflineUse')">可线下使用</div>
        <div class="goods-type-order" onclick="clickItemSearchWhere3('NoExpenseReach')">无消费门槛</div>
    </div>
    <!--条件显示层-->
    <div class="all-where-show" id="AllWhereShow" style="display: none;">
        <div class="all-where-type" id="AllWhereType" style="display:none">
            <span class="goods-type-current">全部分类</span>
            <span class="goods-type-item">
                休闲裤
            </span>
            <span>
                T恤
            </span>
            <span>
                夹克外套
            </span>
            <span>
                夹克外套
            </span>
        </div>
        <div class="all-where-type" id="AllWhereType2" style="display:none">
            <span>全部地区</span>
            <span class="goods-type-current">
                开福区
            </span>

        </div>

    </div>




    <!--主体内容-->
    <div class="oct-content">
        <div class="mescroll" id="mescroll">

            <!--商品列表-->
            <ul class="goods-list" id="PageContentList">

                @*<li class="goods-item">
                        <div class="goods-item-img">

                            <div class="coupons-price-div">&#165; <b>28312.00</b></div>
                            <div>满99元可用</div>

                        </div>
                        <div class="goods-item-msg">
                            <div class="goods-item-title">
                                优惠券标题优惠券标题优惠券标惠券标
                            </div>
                            <div class="coupons-label-span">
                                <span>线下可用</span> <span>永久有效</span> <span>无门槛</span> <span>限期使用</span>
                            </div>
                        </div>
                        <div class="goods-item-integral">
                            <div>
                                消耗积分
                            </div>
                            <div class="expend-integral">50</div>
                            <div>
                                <input class="btn-get" type="button" value="领取" />
                            </div>
                        </div>
                    </li>*@





            </ul>

        </div>
    </div>





</body>
</html>
