
@{
    Layout = null;
}

<!DOCTYPE html>

<html style="overflow: auto; overflow-x: hidden;">
<head>
    <!--
        <meta name="viewport" content="width=device-width initial-scale="1" />
    viewport是网页默认的宽度和高度，上面这行代码的意思是，网页宽度默认等于屏幕宽度（width=device-width），
    原始缩放比例（initial-scale=1）为1.0，即网页初始大小占屏幕面积的100%。 user-scalable=no  不允许缩放网页 -->
    <meta name="viewport" content="width=device-width,user-scalable=no" initial-scale="1" />
    <title>附近商家</title>
    <link href="../Assets/Lib/AmazeUI-2.7.2/css/amazeui.min.css" rel="stylesheet" />
    <link href="../Assets/Lib/mescroll/mescroll.min.css" rel="stylesheet" />
    <link href="../Assets/Css/PublicCss.css" rel="stylesheet" />
    <link href="../Assets/Lib/lightslider/lightslider.css" rel="stylesheet" />
    <link href="../Assets/Css/O2o/ShopNear.css?v=82" rel="stylesheet" />

    <script src="../Assets/Lib/jquery-2.2.2.min.js"></script>
    <script src="../Assets/Lib/WeiXin_JSSDK/jweixin-1.0.0.js"></script>
    <script src="../Assets/Lib/mescroll/mescroll.min.js"></script>
    <script src="../Assets/Lib/lightslider/lightslider.js"></script>
    <script src="../Assets/Js/O2o/ShopNear.js?v=21"></script>

</head>
<body>

    <!--隐藏控件记录值-->
    <input type="hidden" id="hidBuyerUserID" value="@ViewBag.BuyerUserID" />
    <input type="hidden" id="hidSelCityRegionArrCookie" value="@ViewBag.SelCityRegionArrCookie" />
    <!--是否在微信中-->
    <input type="hidden" id="hidIsInWeiXinBrowse" value="@ViewBag.IsInWeiXinBrowse" />


    <!--头部-->
    <div class="oct-header">
        <div class="oct-header-left" onclick="window.history.back(-1)">
            <img src="../Assets/Imgs/Icon/back.png" />
        </div>
        <div class="goods-search" onclick="window.location.href='../Mall/SearchShop?ST=Entity'">
            <img src="../Assets/Imgs/Icon/buyer_query.png" />
            输入商家名，店铺名称
        </div>
        <div class="oct-header-right" onclick="window.location.href='../O2O/Index'">
            <img src="../Assets/Imgs/Icon/navbar_home.png" style="width:25px; height: 25px; margin-top:4px;" />
            @*<div>首页</div>*@
        </div>
    </div>

    <!--导航-->
    <div class="nav-list">

        <div class="sliderMainContent" id="sliderMainContent2" style="overflow:hidden; width: 100%;">

            <ul id="content-slider-2" class="content-slider">
                @*<li>
                        <a class="nav-item" href="../O2o/ShopNearType">
                            <img src="../Assets/Imgs/Icon/o2o_commend.png" />
                            商家分类
                        </a>
                        <a class="nav-item" href="../O2o/ShopNearType">
                            <img src="../Assets/Imgs/Icon/o2o_all.png" />
                            商家分类
                        </a>
                        <a class="nav-item" href="../Mall/PresentExchange">
                            <img src="../Assets/Imgs/Icon/o2o_food.png" />
                            商家分类
                        </a>
                        <a class="nav-item" href="../Mall/DiscountGoods">
                            <img src="../Assets/Imgs/Icon/o2o_film.png" />
                            电影
                        </a>
                        <a class="nav-item" href="../Mall/Coupons">
                            <img src="../Assets/Imgs/Icon/o2o_hotel.png" />
                            酒店
                        </a>
                        <a class="nav-item" href="../Mall/LuckyDraw">
                            <img src="../Assets/Imgs/Icon/o2o_recreation.png" />
                            休闲娱乐
                        </a>
                        <a class="nav-item" href="#">
                            <img src="../Assets/Imgs/Icon/o2o_takeout.png" />
                            外卖
                        </a>
                        <a class="nav-item" href="../Mall/Activity">
                            <img src="../Assets/Imgs/Icon/o2o_life.png" />
                            生活服务
                        </a>
                        <a class="nav-item" href="#">
                            <img src="../Assets/Imgs/Icon/o2o_travel.png" />
                            周边游
                        </a>
                        <a class="nav-item" href="#">
                            <img src="../Assets/Imgs/Icon/o2o_all.png" />
                            全部
                        </a>
                    </li>
                    <li>
                        <a class="nav-item" href="../Mall/GroupBuy">
                            <img src="../Assets/Imgs/Icon/index_nav01.png" />
                            拼团
                        </a>
                        <a class="nav-item" href="../Mall/SecondsKill">
                            <img src="../Assets/Imgs/Icon/index_nav02.png" />
                            秒杀
                        </a>
                        <a class="nav-item" href="../Mall/PresentExchange">
                            <img src="../Assets/Imgs/Icon/index_nav03.png" />
                            礼品
                        </a>
                        <a class="nav-item" href="../Mall/DiscountGoods">
                            <img src="../Assets/Imgs/Icon/index_nav04.png" />
                            打折
                        </a>
                        <a class="nav-item" href="../Mall/Coupons">
                            <img src="../Assets/Imgs/Icon/index_nav05.png" />
                            领券
                        </a>
                        <a class="nav-item" href="../Mall/LuckyDraw">
                            <img src="../Assets/Imgs/Icon/index_nav06.png" />
                            抽奖
                        </a>
                        <a class="nav-item" href="#">
                            <img src="../Assets/Imgs/Icon/index_nav07.png" />
                            实体店
                        </a>
                        <a class="nav-item" href="../Mall/Activity">
                            <img src="../Assets/Imgs/Icon/index_nav08.png" />
                            活动
                        </a>
                        <a class="nav-item" href="#">
                            <img src="../Assets/Imgs/Icon/index_nav09.png" />
                            入驻
                        </a>
                        <a class="nav-item" href="#">
                            <img src="../Assets/Imgs/Icon/index_nav09.png" />
                            全部
                        </a>
                    </li>*@
            </ul>

        </div>
        <div class="slider-pager-content">

        </div>
    </div>


    <!--主体内容-->
    <div class="oct-content">
        <div class="mescroll" id="mescroll">


            <!--附近商家-->
            <div class="commend-shop">
                <div class="commend-shop-title">
                    <span>附近商家</span>
                    <img src="../Assets/Imgs/Icon/addr_nav.png" />
                </div>
                <div class="commend-shop-list" id="PageContentList">

                    <!--附近商家Item-->
                    @*<a class="commend-item" href="../Shop/Index?SID=234">
                        <div class="commend-item-img">
                            <img src="../Assets/Imgs/04.jpg" />
                        </div>
                        <div class="commend-item-msg">
                            <div class="item-msg-title">
                                <span>长沙世界之窗(4A)</span>
                                <span class="item-msg-distance">30.3km</span>
                            </div>
                            <div class="item-msg-appraise">
                                3.5分 | 23432人评价
                            </div>
                            <div class="item-msg-badge">
                                <span>优惠券</span>
                                <span>活动</span>
                                <span>打折</span>
                                <span>团购</span>
                            </div>
                            <div class="item-msg-price">
                                <span><b>&#165; 2343.23</b> 起</span>
                                <span class="item-msg-sale">已售:2334323</span>
                            </div>
                        </div>
                    </a>*@


                </div>
            </div>




        </div>
    </div>



    <script type="text/javascript">

        //判断是否在微信中
        var IsInWeiXinBrowse = $("#hidIsInWeiXinBrowse").val().trim();
        var IsBuyerUserID = $("#hidBuyerUserID").val().trim();


        if (IsInWeiXinBrowse == "true") {


        wx.config(@Html.Raw(ViewBag.mJsSkdConfig));

        //-------------接口处理--------------//
        wx.ready(function () {

            //alert("微信JS-SDK Is Ready!");

            //获取用户地理坐标
            wx.getLocation({
                type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
                success: function (res) {

                    _latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
                    _longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
                    _speed = res.speed; // 速度，以米/每秒计
                    _accuracy = res.accuracy; // 位置精度
                    console.log("纬度_latitude=" + _latitude + " | 经度_longitude=" + _longitude);


                    //将用户当前定位到的坐标保存到Cookie中，无需注册
                    saveCookieLongitudeLatitude(_longitude, _latitude, function () {

                        if (IsBuyerUserID != "" && IsBuyerUserID != "0") {
                            //---保存当前用户的位置信息----//
                            updateUserLongitudeLatitude(_longitude, _latitude);
                        }
                        else {
                            //重新加载数据
                            reloadPageData('1');
                        }

                    });


                }
            });


        });

        //--------错误处理----------//
        wx.error(function (res) {

            alert("接口验证失败，详细信息：\n" + JSON.stringify(res));

        });


        }


                /**
                 * 将用户当前定位到的坐标保存到Cookie中，无需注册
                 * pLongitude 用户当前经度 (以腾讯地图坐标系为准)
                 * pLatitude 用户当前纬度 (以腾讯地图坐标系为准)
                 * pCallBack 回调函数
                 */
                function saveCookieLongitudeLatitude(pLongitude, pLatitude, pCallBack) {

                    //构造POST参数
                    var dataPOST = {
                        "Type": "5", "Longitude": pLongitude, "Latitude": pLatitude,
                    };
                    console.log(dataPOST);

                    //正式发送异步请求
                    $.ajax({
                        type: "POST",
                        url: "../BuyerAjax/Index?rnd=" + Math.random(),
                        data: dataPOST,
                        dataType: "html",
                        success: function (reTxt, status, xhr) {
                            console.log("位置信息保存Cookie=" + reTxt);
                            if (reTxt != "") {
                                pCallBack();
                            }
                        }
                    });

                }



             /**
             * 保存用户最新的位置信息
             * pLongitude 用户当前经度 (以腾讯地图坐标系为准)
             * pLatitude 用户当前纬度 (以腾讯地图坐标系为准)
             */
            function updateUserLongitudeLatitude(pLongitude, pLatitude) {

                //构造POST参数
                var dataPOST = {
                    "Type": "4", "Longitude": pLongitude, "Latitude": pLatitude,
                };
                console.log(dataPOST);
                //正式发送异步请求
                $.ajax({
                    type: "POST",
                    url: "../BuyerAjax/Index?rnd=" + Math.random(),
                    data: dataPOST,
                    dataType: "html",
                    success: function (reTxt, status, xhr) {
                        console.log("保存用户最新的位置信息=" + reTxt);
                        if (reTxt != "") {
                            var _jsonReTxt = JSON.parse(reTxt);
                            if (_jsonReTxt.Msg != "" && _jsonReTxt.Msg != null && _jsonReTxt.Msg != undefined) {

                                //重新加载数据
                                reloadPageData('1');

                            }
                        }
                    }
                });

            }


    </script>




</body>
</html>
