
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <!--
        <meta name="viewport" content="width=device-width initial-scale="1" />
    viewport是网页默认的宽度和高度，上面这行代码的意思是，网页宽度默认等于屏幕宽度（width=device-width），
    原始缩放比例（initial-scale=1）为1.0，即网页初始大小占屏幕面积的100%。 user-scalable=no  不允许缩放网页 -->
    <meta name="viewport" content="width=device-width,user-scalable=no" initial-scale="1" />
    <title>店铺评分</title>

    <link href="../Assets/Lib/AmazeUI-2.7.2/css/amazeui.min.css" rel="stylesheet" />
    <link href="../Assets/Css/PublicCss.css" rel="stylesheet" />
    <link href="../Assets/Css/Buyer/AppraiseShop.css" rel="stylesheet" />

    <script src="../Assets/Lib/jquery-2.2.2.min.js"></script>
    <script src="../Assets/Js/Buyer/AppraiseShop.js"></script>


</head>
<body>


    <!--头部-->
    <div class="oct-header">
        <div class="oct-header-left">
            <a href="javascript:history.back(-1);"><img alt="返回" src="../Assets/Imgs/Icon/back.png" /></a>
        </div>
        <div class="oct-header-mid">
            <b>店铺评分</b>
        </div>
        <div class="oct-header-right">
            <a href="#"><img class="header-icon-my" src="../Assets/Imgs/Icon/Appraise_explain.png" /></a>
        </div>
    </div>


    <!--主体内容-->
    <div class="oct-content">

        <!--店铺评分-->
        <div class="shop-score">

            <div class="shop-title">
                <a href="#"><img src="../Assets/Imgs/02.jpg" />韩版男装专卖店</a>
                <div class="shop-prompt-txt">
                    满意请给5星
                </div>
            </div>

            <div class="shop-score-list">

                <ul class="shop-score-ul">
                    <li>
                        <div>商品符合度</div>
                        <div class="appraise-star-item">
                            <img src="../Assets/Imgs/Icon/appraise_star.png" />
                            <img src="../Assets/Imgs/Icon/appraise_star.png" />
                            <img src="../Assets/Imgs/Icon/appraise_star_gray.png" />
                            <img src="../Assets/Imgs/Icon/appraise_star_gray.png" />
                            <img src="../Assets/Imgs/Icon/appraise_star_gray.png" />
                        </div>
                    </li>
                    <li>
                        <div>店家服务态度</div>
                        <div class="appraise-star-item">
                            <img src="../Assets/Imgs/Icon/appraise_star.png" />
                            <img src="../Assets/Imgs/Icon/appraise_star.png" />
                            <img src="../Assets/Imgs/Icon/appraise_star_gray.png" />
                            <img src="../Assets/Imgs/Icon/appraise_star_gray.png" />
                            <img src="../Assets/Imgs/Icon/appraise_star_gray.png" />
                        </div>
                    </li>
                    <li>
                        <div>物流发货速度</div>
                        <div class="appraise-star-item">
                            <img src="../Assets/Imgs/Icon/appraise_star.png" />
                            <img src="../Assets/Imgs/Icon/appraise_star.png" />
                            <img src="../Assets/Imgs/Icon/appraise_star_gray.png" />
                            <img src="../Assets/Imgs/Icon/appraise_star_gray.png" />
                            <img src="../Assets/Imgs/Icon/appraise_star_gray.png" />
                        </div>
                    </li>
                    <li>
                        <div>配送员服务态度</div>
                        <div class="appraise-star-item">
                            <img src="../Assets/Imgs/Icon/appraise_star.png" />
                            <img src="../Assets/Imgs/Icon/appraise_star.png" />
                            <img src="../Assets/Imgs/Icon/appraise_star_gray.png" />
                            <img src="../Assets/Imgs/Icon/appraise_star_gray.png" />
                            <img src="../Assets/Imgs/Icon/appraise_star_gray.png" />
                        </div>
                    </li>
                </ul>

            </div>
        </div>


        <div class="btn-appraise-div">
            <input class="btn-submit-appraise" type="button" value="提交评价" />
        </div>


    </div>








</body>
</html>
