
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <!--
        <meta name="viewport" content="width=device-width initial-scale="1" />
    viewport是网页默认的宽度和高度，上面这行代码的意思是，网页宽度默认等于屏幕宽度（width=device-width），
    原始缩放比例（initial-scale=1）为1.0，即网页初始大小占屏幕面积的100%。 user-scalable=no  不允许缩放网页 -->
    <meta name="viewport" content="width=device-width,user-scalable=no" initial-scale="1" />
    <title>评价详情</title>

    <link href="../Assets/Lib/AmazeUI-2.7.2/css/amazeui.min.css" rel="stylesheet" />
    <link href="../Assets/Css/PublicCss.css" rel="stylesheet" />
    <link href="../Assets/Css/Buyer/AppraiseForm.css" rel="stylesheet" />
    <link href="../Assets/Css/Buyer/AppraiseDetail.css" rel="stylesheet" />

    <script src="../Assets/Lib/jquery-2.2.2.min.js"></script>
    <script src="../Assets/Lib/PublicTool.js"></script>
    <script src="../Assets/Lib/PhotoSwipe/initPhotoSwipe.js"></script>

    <script src="../Assets/Js/Buyer/AppraiseDetail.js"></script>


</head>
<body>

    <!--隐藏控件-->
    <input type="hidden" id="hidOrderID" value="@ViewBag.OrderID" />

    <!--头部-->
    <div class="oct-header">
        <div class="oct-header-left">
            <a href="javascript:window.location.href='../Buyer/AppraiseCenter';"><img alt="返回" src="../Assets/Imgs/Icon/back.png" /></a>
        </div>
        <div class="oct-header-mid">
            <b>评价详情</b>
        </div>
        <div class="oct-header-right">
            <a href="#"><img class="header-icon-my" src="../Assets/Imgs/Icon/Appraise_explain.png" /></a>
        </div>
    </div>

    <!--主体内容-->
    <div class="oct-content">

        <!--订单列表-->
        <ul class="order-list">

            <li class="order-item">

                <!--<div class="order-item-top">
                    <a href="#"><img src="../Assets/Imgs/02.jpg" />韩版男装专卖店</a>
                    <div class="order-status-txt">
                        已评价
                    </div>
                </div>-->


                <div class="order-item-mid" id="OrderList">

                    @* <a href="#" class="order-goods-item">
                            <div class="goods-item-left">
                                <img src="~/Assets/Imgs/01.jpg" />
                            </div>
                            <div class="goods-item-mid">
                                <span class="goods-item-title">商品名称呀商品名称呀商品名称呀商品名称呀商品名称呀商品名称呀</span>
                                <span class="goods-item-spec">规格尺寸规格尺寸</span>
                            </div>
                            <div class="goods-item-right">
                                <span class="goods-item-price">&#165;2354.43</span>
                                <span class="goods-item-ordernum">&times; 3</span>
                            </div>
                        </a>

                        <div class="appraise-item-form">
                            <div class="appraise-form-btn">
                                <span>您已获得10个虎点</span>
                                <input type="button" class="btn-appraise-img" value="查看评价" onclick="" />
                            </div>
                            <div class="appraise-form-item" style="display:normal;">
                                <ul class="appraise-form-ul">
                                    <li class="aprraise-form-title">
                                        <div class="appraise-form-star">
                                            商品评价：
                                            <span class="appraise-star-item">
                                                <img src="../Assets/Imgs/Icon/appraise_star.png" />
                                                <img src="../Assets/Imgs/Icon/appraise_star.png" />
                                                <img src="../Assets/Imgs/Icon/appraise_star_gray.png" />
                                                <img src="../Assets/Imgs/Icon/appraise_star_gray.png" />
                                                <img src="../Assets/Imgs/Icon/appraise_star_gray.png" />
                                            </span>
                                        </div>
                                        <div class="appraise-form-noname">
                                            2018-02-15 12:15:23
                                        </div>
                                    </li>
                                    <li>
                                        <div class="appraise-content-txtarea">
                                            这里是评价的内容呀这里是评价的内容呀这里是评价的内容呀
                                        </div>
                                    </li>
                                    <li class="appraise-upload-img">
                                        <div class="upload-pre">
                                            <div class="upload-pre-item">
                                                <img src="../Assets/Imgs/01.jpg" />
                                            </div>
                                            <div class="upload-pre-item">
                                                <img src="../Assets/Imgs/02.jpg" />
                                            </div>
                                            <div class="upload-pre-item">
                                                <img src="../Assets/Imgs/01.jpg" />
                                            </div>
                                            <div class="upload-pre-item">
                                                无照片
                                            </div>

                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>


                        <a href="#" class="order-goods-item">
                            <div class="goods-item-left">
                                <img src="~/Assets/Imgs/01.jpg" />
                            </div>
                            <div class="goods-item-mid">
                                <span class="goods-item-title">商品名称呀商品名称呀商品名称呀商品名称呀商品名称呀商品名称呀</span>
                                <span class="goods-item-spec">规格尺寸规格尺寸</span>
                            </div>
                            <div class="goods-item-right">
                                <span class="goods-item-price">&#165;2354.43</span>
                                <span class="goods-item-ordernum">&times; 3</span>
                            </div>
                        </a>

                        <div class="appraise-item-form">
                            <div class="appraise-form-btn">
                                <span>您已获得10个虎点</span>
                                <input type="button" class="btn-appraise-img" value="查看评价" onclick="" />
                            </div>
                            <div class="appraise-form-item" style="display:none;">
                                <ul class="appraise-form-ul">
                                    <li class="aprraise-form-title">
                                        <div class="appraise-form-star">
                                            商品评价：
                                            <span class="appraise-star-item">
                                                <img src="../Assets/Imgs/Icon/appraise_star.png" />
                                                <img src="../Assets/Imgs/Icon/appraise_star.png" />
                                                <img src="../Assets/Imgs/Icon/appraise_star_gray.png" />
                                                <img src="../Assets/Imgs/Icon/appraise_star_gray.png" />
                                                <img src="../Assets/Imgs/Icon/appraise_star_gray.png" />
                                            </span>
                                        </div>
                                        <div class="appraise-form-noname">
                                            2018-02-15 12:15:23
                                        </div>
                                    </li>
                                    <li>
                                        <div class="appraise-content-txtarea">
                                            这里是评价的内容呀这里是评价的内容呀这里是评价的内容呀
                                        </div>
                                    </li>
                                    <li class="appraise-upload-img">
                                        <div class="upload-pre">
                                            <div class="upload-pre-item">
                                                <img src="../Assets/Imgs/01.jpg" />
                                            </div>
                                            <div class="upload-pre-item">
                                                <img src="../Assets/Imgs/02.jpg" />
                                            </div>
                                            <div class="upload-pre-item">
                                                <img src="../Assets/Imgs/01.jpg" />
                                            </div>
                                            <div class="upload-pre-item">
                                                无照片
                                            </div>

                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>*@




                </div>


            </li>
        </ul>


        <!--店铺评分-->
        <div class="shop-score">

            <div class="shop-title">
                <a href="#"><img src="../Assets/Imgs/02.jpg" />韩版男装专卖店</a>
                <div class="shop-prompt-txt" style="color:#BCBCBC">
                    评价店铺_返积分
                </div>
            </div>

            <div class="shop-score-list">

                <ul class="shop-score-ul">
                    <li>
                        <div>商品符合度</div>
                        <div class="appraise-star-item" id="AppraiseStarItemShop_Goods">
                            <img src="../Assets/Imgs/Icon/appraise_star.png" />
                            <img src="../Assets/Imgs/Icon/appraise_star.png" />
                            <img src="../Assets/Imgs/Icon/appraise_star_gray.png" />
                            <img src="../Assets/Imgs/Icon/appraise_star_gray.png" />
                            <img src="../Assets/Imgs/Icon/appraise_star_gray.png" />
                        </div>
                    </li>
                    <li>
                        <div>店家服务态度</div>
                        <div class="appraise-star-item" id="AppraiseStarItemShop_Service">
                            <img src="../Assets/Imgs/Icon/appraise_star.png" />
                            <img src="../Assets/Imgs/Icon/appraise_star.png" />
                            <img src="../Assets/Imgs/Icon/appraise_star_gray.png" />
                            <img src="../Assets/Imgs/Icon/appraise_star_gray.png" />
                            <img src="../Assets/Imgs/Icon/appraise_star_gray.png" />
                        </div>
                    </li>
                    <li>
                        <div>物流发货速度</div>
                        <div class="appraise-star-item" id="AppraiseStarItemShop_Speed">
                            <img src="../Assets/Imgs/Icon/appraise_star.png" />
                            <img src="../Assets/Imgs/Icon/appraise_star.png" />
                            <img src="../Assets/Imgs/Icon/appraise_star_gray.png" />
                            <img src="../Assets/Imgs/Icon/appraise_star_gray.png" />
                            <img src="../Assets/Imgs/Icon/appraise_star_gray.png" />
                        </div>
                    </li>
                    <li>
                        <div>配送员服务态度</div>
                        <div class="appraise-star-item" id="AppraiseStarItemShop_Attitude">
                            <img src="../Assets/Imgs/Icon/appraise_star.png" />
                            <img src="../Assets/Imgs/Icon/appraise_star.png" />
                            <img src="../Assets/Imgs/Icon/appraise_star_gray.png" />
                            <img src="../Assets/Imgs/Icon/appraise_star_gray.png" />
                            <img src="../Assets/Imgs/Icon/appraise_star_gray.png" />
                        </div>
                    </li>
                </ul>

            </div>
        </div>


    </div>



</body>
</html>
