
@{
    Layout = null;
}

<!DOCTYPE html>

<html style="overflow: auto; overflow-x: hidden;">
<head>
    <!--
        <meta name="viewport" content="width=device-width initial-scale="1" />
    viewport是网页默认的宽度和高度，上面这行代码的意思是，网页宽度默认等于屏幕宽度（width=device-width），
    原始缩放比例（initial-scale=1）为1.0，即网页初始大小占屏幕面积的100%。 user-scalable=no  不允许缩放网页 -->
    <meta name="viewport" content="width=device-width,user-scalable=no" initial-scale="1" />
    <title>我的优惠券</title>
    <link href="../Assets/Lib/AmazeUI-2.7.2/css/amazeui.min.css" rel="stylesheet" />
    <link href="../Assets/Lib/mescroll/mescroll.min.css" rel="stylesheet" />
    <link href="../Assets/Css/PublicCss.css" rel="stylesheet" />
    <link href="../Assets/Css/Buyer/CouponsMy.css" rel="stylesheet" />

    <script src="../Assets/Lib/jquery-2.2.2.min.js"></script>
    <script src="../Assets/Lib/mescroll/mescroll.min.js"></script>
    <script src="../Assets/Lib/PublicTool.js"></script>
    <script src="../Assets/Js/Buyer/CouponsMy.js"></script>

</head>
<body>

    <!--头部-->
    <div class="oct-header">
        <div class="oct-header-left">
            <a href="javascript:history.back(-1);"><img alt="返回" src="../Assets/Imgs/Icon/back.png" /></a>
        </div>
        <div class="oct-header-mid">
            <b>我的优惠券</b>
        </div>
        <div class="oct-header-right">
            <a href="../Buyer/Index"><img class="header-icon-my" src="../Assets/Imgs/Icon/my.png" /></a>
        </div>
    </div>

    <!--子标题-->
    <div class="oct-header-sub">

        <a href="javascript:void(0)" class="oct-header-sub-a oct-header-sub-a-1 oct-header-sub-curren-a" onclick="chgTab('false')">可使用优惠券(<val id="CountAbleUse"></val>)</a>
        <a href="javascript:void(0)" class="oct-header-sub-a oct-header-sub-a-2" onclick="chgTab('true')">已使用优惠券(<val id="CountUsed"></val>)</a>

    </div>




    <!--主体内容-->
    <div class="oct-content">

        <div class="mescroll" id="mescroll">

            <ul class="coupons-list" id="PageContentList">

                @*  <li onclick="window.location.href = '../Buyer/CouponsDetail'">
                                <div class="coupons-item-left">
                                    <div class="coupons-price">
                                        &#165; <b>283.00</b>
                                        <br />
                                        满99元可用
                                    </div>
                                </div>
                                <div class="coupons-item-right">
                                    <div class="coupons-item-top">
                                        七匹狼旗舰店七匹狼旗旗<span>店铺券</span>
                                    </div>
                                    <div class="coupons-item-mid">
                                        有效期：2018-05-17 23:32:34 <span>20天</span>
                                    </div>
                                    <div class="coupons-item-bottom">
                                        <div>
                                            券号:152525
                                        </div>
                                        <input class="btn-use" type="button" value="立即使用" onclick="useCoupons()" />
                                    </div>
                                </div>
                            </li>


                            <li>
                        <div class="coupons-item-left">
                            <div class="coupons-price">
                                <b>8</b> 折
                                <br />
                                满99元可用
                            </div>
                        </div>
                        <div class="coupons-item-right">
                            <div class="coupons-item-top">
                                七匹狼旗舰店七匹狼旗旗<span>商城券</span>
                            </div>
                            <div class="coupons-item-mid">
                                有效期：2018-05-17 23:32:34 <span>20天</span>
                            </div>
                            <div class="coupons-item-bottom">
                                <div>
                                    券号:152525
                                </div>
                                <input class="btn-use" type="button" value="立即使用" />
                            </div>
                        </div>
                    </li>


                    <li class="coupons-used">
                        <div class="coupons-item-left">
                            <div class="coupons-price">
                                <b>8</b> 折
                                <br />
                                满99元可用
                            </div>
                        </div>
                        <div class="coupons-item-right">
                            <div class="coupons-item-top">
                                七匹狼旗舰店七匹狼旗旗<span>商城券</span>
                            </div>
                            <div class="coupons-item-mid">
                                有效期：2018-05-17 23:32:34 <span>已省: 23元</span>
                            </div>
                            <div class="coupons-item-bottom">
                                <div>
                                    使用商品:商品的标题和规格参数商品的标商品的
                                </div>
                            </div>
                        </div>
                    </li>*@


            </ul>


        </div>



    </div>





    <!--页脚-->
    <div class="oct-footer" id="OctFooterBtn">
        <div class="coupons-msg" onclick="window.location.href='../Mall/Coupons'">
            <div class="coupons-msg-left">
                您有待领取优惠券哦
            </div>
            <div class="coupons-msg-mid">
                <a href="../Mall/Coupons">线上券</a>
                <a href="../O2o/CouponsO2o">线下券</a>
            </div>
        </div>
    </div>




</body>
</html>
