
@{
    Layout = null;
}

<!DOCTYPE html>

<html  style="overflow: auto; overflow-x: hidden;">
<head>
    <!--
        <meta name="viewport" content="width=device-width initial-scale="1" />
    viewport是网页默认的宽度和高度，上面这行代码的意思是，网页宽度默认等于屏幕宽度（width=device-width），
    原始缩放比例（initial-scale=1）为1.0，即网页初始大小占屏幕面积的100%。 user-scalable=no  不允许缩放网页 -->
    <meta name="viewport" content="width=device-width,user-scalable=no" initial-scale="1" />
    <title>我的订单搜索</title>

    <link href="../Assets/Lib/AmazeUI-2.7.2/css/amazeui.min.css" rel="stylesheet" />
    <link href="../Assets/Lib/mescroll/mescroll.min.css" rel="stylesheet" />
    <link href="../Assets/Css/PublicCss.css" rel="stylesheet" />
    <link href="../Assets/Css/Buyer/MyOrderQuery.css" rel="stylesheet" />

    <script src="../Assets/Lib/jquery-2.2.2.min.js"></script>
    <script src="../Assets/Lib/mescroll/mescroll.min.js"></script>
    <script src="../Assets/Lib/PublicTool.js"></script>
    <script src="../Assets/Lib/AlertConfirmWin/AlertConfirmWin.js"></script>

    <script src="../Assets/Js/Buyer/MyOrderQuery.js"></script>

</head>
<body>

    <!--头部-->
    <div class="oct-header">
        <div class="oct-header-left">
            <a href="javascript:history.back(-1);"><img alt="返回" src="../Assets/Imgs/Icon/back.png" /></a>
        </div>
        <div class="oct-header-mid">
            <input id="SearchKeyTxt" type="text" class="txt-query" placeholder="商品名称或订单ID" />
        </div>
        <div class="oct-header-right" id="SearchKeyBtn">
            搜索
        </div>
    </div>

    <!--主体内容-->
    <div class="oct-content">

        <div class="mescroll" id="mescroll">

            <!--订单列表-->
            <ul class="order-list" id="PageContentList">
                

                <!--<li class="order-item">
                    <div class="order-item-top">
                        <a href="#"><img src="../Assets/Imgs/02.jpg" />韩版男装专卖店</a>
                        <div class="order-status-txt">
                            待收货
                        </div>
                    </div>
                    <div class="order-item-mid" onclick="window.location.href='../Order/OrderDetail'">
                        <a href="#" class="order-goods-item">
                            <div class="goods-item-left">
                                <img src="~/Assets/Imgs/01.jpg" />
                            </div>
                            <div class="goods-item-mid">
                                <span class="goods-item-title">商品名称呀商品名称呀商品名称呀商品名称呀商品名称呀商品名称呀</span>
                                <span class="goods-item-spec">规格尺寸规格尺寸</span>
                            </div>
                            <div class="goods-item-right">
                                <span class="goods-item-price">&#165;2354.43</span>
                                <span class="goods-item-ordernum">&times; 3</span>
                            </div>
                        </a>
                        <a href="#" class="order-goods-item">
                            <div class="goods-item-left">
                                <img src="~/Assets/Imgs/02.jpg" />
                            </div>
                            <div class="goods-item-mid">
                                <span class="goods-item-title">商品名称呀商品名称呀商品名称呀商品名称呀商品名称呀商品名称呀</span>
                                <span class="goods-item-spec">规格尺寸规格尺寸</span>
                            </div>
                            <div class="goods-item-right">
                                <span class="goods-item-price">&#165;2354.43</span>
                                <span class="goods-item-ordernum">&times; 3</span>
                            </div>
                        </a>
                    </div>
                    <div class="order-item-bottom">
                        共<span>2</span>件商品，实付款：<b>&#165; 1523.20</b>
                    </div>
                    <div class="order-item-btn">
                        <input type="button" onclick="window.location.href='../Buyer/ComplainSubmit'" value="投诉" />
                        <input type="button" value="立即付款" />
                        <input type="button" value="确认收货" />
                        <input type="button" value="评价" onclick="window.location.href='../Buyer/AppraiseCenter'" />
                    </div>
                </li>

                <li class="order-item">
                    <div class="order-item-top">
                        <a href="#"><img src="../Assets/Imgs/02.jpg" />韩版男装专卖店</a>
                        <div class="order-status-txt">
                            待收货
                        </div>
                    </div>
                    <div class="order-item-mid">
                        <a href="#" class="order-goods-item">
                            <div class="goods-item-left">
                                <img src="~/Assets/Imgs/01.jpg" />
                            </div>
                            <div class="goods-item-mid">
                                <span class="goods-item-title">商品名称呀</span>
                                <span class="goods-item-spec">规格尺寸规格尺寸</span>
                            </div>
                            <div class="goods-item-right">
                                <span class="goods-item-price">&#165;2354.43</span>
                                <span class="goods-item-ordernum">&times; 3</span>
                            </div>
                        </a>
                        <a href="#" class="order-goods-item">
                            <div class="goods-item-left">
                                <img src="~/Assets/Imgs/02.jpg" />
                            </div>
                            <div class="goods-item-mid">
                                <span class="goods-item-title">商品名称呀商品名称呀商品名称呀商品名称呀商品名称呀商品名称呀</span>
                                <span class="goods-item-spec">规格尺寸规格尺寸</span>
                            </div>
                            <div class="goods-item-right">
                                <span class="goods-item-price">&#165;2354.43</span>
                                <span class="goods-item-ordernum">&times; 3</span>
                            </div>
                        </a>
                    </div>
                    <div class="order-item-bottom">
                        共<span>2</span>件商品，实付款：<b>&#165; 1523.20</b>
                    </div>
                    <div class="order-item-btn">
                        <input type="button" value="退款" />
                        <input type="button" value="立即付款" />
                        <input type="button" value="确认收货" />
                    </div>
                </li>-->


            </ul>

        </div>



    </div>


    <!--常买推荐
       <div class="often-buy">

           <div class="often-buy-item">
               <a href="#">
                   <img src="~/Assets/Imgs/02.jpg" />
               </a>
               <div class="often-buy-time">购买过2次</div>
           </div>

           <div class="often-buy-item">
               <a href="#">
                   <img src="~/Assets/Imgs/01.jpg" />
               </a>
               <div class="often-buy-time">购买过2次</div>
           </div>

           <div class="often-buy-item">
               <a href="#">
                   <img src="~/Assets/Imgs/03.jpg" />
               </a>
               <div class="often-buy-time">购买过2次</div>
           </div>

       </div>-->

</body>
</html>
