
@{
    Layout = null;
}

<!DOCTYPE html>

<html style="overflow: auto; overflow-x: hidden;">
<head>
    <!--
        <meta name="viewport" content="width=device-width initial-scale="1" />
    viewport是网页默认的宽度和高度，上面这行代码的意思是，网页宽度默认等于屏幕宽度（width=device-width），
    原始缩放比例（initial-scale=1）为1.0，即网页初始大小占屏幕面积的100%。 user-scalable=no  不允许缩放网页 -->
    <meta name="viewport" content="width=device-width,user-scalable=no" initial-scale="1" />
    <title>分享的好友</title>
    <link href="../Assets/Lib/AmazeUI-2.7.2/css/amazeui.min.css" rel="stylesheet" />
    <link href="../Assets/Lib/mescroll/mescroll.min.css" rel="stylesheet" />
    <link href="../Assets/Css/PublicCss.css" rel="stylesheet" />
    <link href="../Assets/Css/Buyer/MyPromoteUser.css" rel="stylesheet" />

    <script src="../Assets/Lib/jquery-2.2.2.min.js"></script>
    <script src="../Assets/Lib/mescroll/mescroll.min.js"></script>
    <script src="../Assets/Lib/PublicTool.js"></script>
    <script src="../Assets/Js/Buyer/MyPromoteUser.js"></script>


</head>
<body>
    <!--头部-->
    <div class="oct-header">
        <div class="oct-header-left">
            <a href="javascript:window.history.back(-1);"><img alt="返回" src="../Assets/Imgs/Icon/back.png" /></a>
        </div>
        <div class="oct-header-mid">
            <b id="PromoteUserCountB">分享的好友</b>
        </div>
        <div class="oct-header-right">
            <a href="../Buyer/Index"><img class="header-icon-my" src="../Assets/Imgs/Icon/my.png" /></a>
        </div>
    </div>

    <!--主体内容-->
    <div class="mescroll" id="mescroll">

        <div class="page-content-list" id="PageContentList">

            <!--列表Item-->
            @*<div class="promote-user-item">
                <div>
                    <img src="https://thirdwx.qlogo.cn/mmopen/vi_32/Fp75BwsBiaLHo1MY417qv9Z2dKe0kAs6V1nP5v5ibrbr4GSyia49sEZOwtIdcObiaiaqqrmrfhXF4nX4NUaXA8qFXNg/132" />
                </div>
                <div class="promote-user-name">
                    全栈工程师 <i>2019-11-27</i>
                </div>
            </div>*@


        </div>

    </div>

</body>
</html>
