
@{
    Layout = null;
}

<!DOCTYPE html>

<html style="overflow: auto; overflow-x: hidden;">
<head>
    <!--
         <meta name="viewport" content="width=device-width initial-scale="1" />
     viewport是网页默认的宽度和高度，上面这行代码的意思是，网页宽度默认等于屏幕宽度（width=device-width），
     原始缩放比例（initial-scale=1）为1.0，即网页初始大小占屏幕面积的100%。 user-scalable=no  不允许缩放网页 -->
    <meta name="viewport" content="width=device-width,user-scalable=no" initial-scale="1" />
    <title>我的分享码</title>
    <link href="../Assets/Lib/AmazeUI-2.7.2/css/amazeui.min.css" rel="stylesheet" />
    <link href="../Assets/Lib/mescroll/mescroll.min.css" rel="stylesheet" />
    <link href="../Assets/Css/PublicCss.css" rel="stylesheet" />
    <link href="../Assets/Css/Buyer/MyPromoteQRCode.css?v=123" rel="stylesheet" />

    <script src="../Assets/Lib/jquery-2.2.2.min.js"></script>
    <script src="../Assets/Lib/ClipBoard/clipboard.min.js"></script>
    <script src="../Assets/Lib/AlertConfirmWin/AlertConfirmWin.js"></script>
    <script src="../Assets/Js/Buyer/MyPromoteQRCode.js?v=1"></script>

</head>
<body>
    <!--头部-->
    <div class="oct-header">
        <div class="oct-header-left">
            <a href="javascript:window.history.back(-1);"><img alt="返回" src="../Assets/Imgs/Icon/back.png" /></a>
        </div>
        <div class="oct-header-mid">
            <b>我的分享码</b>
        </div>
        <div class="oct-header-right">
            <a href="../Buyer/Index"><img class="header-icon-my" src="../Assets/Imgs/Icon/my.png" /></a>
        </div>
    </div>

    <!--主体内容-->
    <div class="mescroll" id="mescroll">

        <div class="qr-code-main">

            <div class="qr-code-img">
                <img src="@ViewBag.QRShowURL" />
            </div>
            <div class="qr-code-btn">

                <b>长按二维码图片【保存到手机】或【发送给朋友】</b>
                @*<div class="btn-qr-css"><img src="../Assets/Imgs/Icon/qr_save.png" /> 保存二维码</div>
                    <div class="btn-qr-css"><img src="../Assets/Imgs/Icon/qr_friend.png" /> 发送给朋友</div>
                    <div class="btn-qr-css"><img src="../Assets/Imgs/Icon/qr_circle.png" /> 分享朋友圈</div>*@
            </div>

            <div>
                <b>@ViewBag.PromoteQRContentURL</b>
            </div>
            <div>
                <input id="BtnCopyOrderID" data-clipboard-text="@ViewBag.PromoteQRContentURL" class="btn-qr-copy btn-copy" style="width:250px" type="button" value="复制分享链接,发给好友" />
            </div>

        </div>

    </div>

</body>
</html>
