
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>被推广人-扫码 - 推广者的二维码 跳转处理页</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
