/*=============搜索店铺结果==============*/

.oct-header {
    align-items: center;
    padding: 22px 6px;
}

.oct-header-mid {
    width: 100%;
    display: flex;
    align-items: center;
}

.oct-header-right {
    width: 40px;
    color: #808080;
    text-align: center;
    font-size: 10px;
    color: #000000;
    padding-right: 8px;
    padding-top: 8px;
}

    .oct-header-right img {
        width: 20px;
        height: 20px;
    }

.oct-header-mid .header-search {
    width: 100%;
    background: #dbdbdb;
    display: flex;
    align-items: center;
    border-radius: 8px;
    justify-content: flex-start;
    padding-top: 14px;
    height: 30px;
    color: #000000;
    font-weight: normal;
}

.header-search img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-top: -2px;
}

/*主体内容*/
body .oct-content {
    padding: 0;
}

.goods-list {
    padding: 0;
    margin-top: -10px;
}
    /*店铺列表*/
    .goods-list li {
        background: white;
        padding: 15px 8px;
        margin-top: 6px;
        font-size: 12px;
        overflow: hidden;
        padding-bottom: 10px;
    }


.shop-item-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #F5F5F5;
    padding-bottom: 4px;
}

.shop-item-left {
    display: flex;
    justify-content: flex-start
}

    .shop-item-left img {
        width: 50px;
        height: 50px;
        border-radius: 3px;
        margin-right: 5px;
    }

.shop-name-right {
    color: gray;
    padding-left: 5px;
}

    .shop-name-right div {
        font-size: 14px;
        font-weight: bold;
        padding-bottom: 0px;
        color: #000000;
    }

    .shop-name-right span {
        color: white;
        border-radius: 5px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .shop-name-right .shop-name-title span {
        font-size: 11px;
        background: #ff0000;
        color: white;
        font-weight: normal;
        padding: 2px 5px;
    }

.shop-item-right {
    color: gray;
}

    .shop-item-right div {
        text-align: right;
        padding-bottom: 5px;
    }

    .shop-item-right b {
        color: red;
    }

.shop-name-extra {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 4px;
}

    .shop-name-extra span {
        display: block;
        color: gray;
        font-size: 12px;
        font-weight: normal;
    }

.header-span-star {
    margin-left: -5px;
}

    .header-span-star img {
        width: 12px;
        height: 12px;
        margin: 0;
        padding: 0;
        margin-bottom: 4px;
    }

.shop-name-extra .header-span-val {
    font-weight: normal;
    font-size: 10px;
}
/*店铺商品列表*/
.shop-item-bottom {
    padding: 0;
    margin: 0;
}

.shop-goods-ul {
    padding: 0;
    margin: 0;
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

    .shop-goods-ul li {
        padding: 0;
        position: relative;
        overflow: hidden;
        height: 80px;
        border-radius: 3px;
        text-align: left;
    }

        .shop-goods-ul li img {
            width: 80px;
            height: 80px;
        }

        .shop-goods-ul li div {
            position: absolute;
            bottom: 0;
            padding: 0px 2px;
            width: 100%;
            text-align: right;
            background: #000000;
            font-size: 12px;
            opacity: 0.7;
            filter: alpha(opacity=50);
            -moz-opacity: 0.7;
            -khtml-opacity: 0.7;
            color: white;
        }

.shop-item-bage {
    display: flex;
    clear: both;
    padding: 15px 5px;
    padding-bottom: 0;
    padding-top: 5px;
    flex-wrap: wrap;
}

    .shop-item-bage span {
        background: #ff6a00;
        color: white;
        padding: 2px 5px;
        border-radius: 15px;
        display: block;
        margin-left: 5px;
        margin-top: 8px;
    }

.goods-item .shop-item-addr {
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: #fbfbfb;
    margin-top: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 5px;
    padding-right: 2px;
}

.addr-distance-span {
    color: red;
    padding-left: 5px;
}



/*========数据分页===========*/
/*列表承载Div,必须这样定义样式*/
.mescroll {
    position: fixed;
    top: 50px; /*这个值可以控制滚动区离顶部的距离*/
    bottom: 0;
    height: auto;
    padding-bottom: 80px;
    background: #ebebeb;
}
