/*=============搜索商品结果===========*/

.oct-header {
    align-items: center;
    padding: 22px 6px;
}

.oct-header-mid {
    width: 100%;
    display: flex;
    align-items: center;
}

.oct-header-right {
    width: 40px;
    color: #808080;
    text-align: center;
    font-size: 10px;
    color: #000000;
    padding-right: 8px;
    padding-top: 8px;
}

    .oct-header-right img {
        width: 20px;
        height: 20px;
    }

.oct-header-mid .header-search {
    width: 100%;
    background: #dbdbdb;
    display: flex;
    align-items: center;
    border-radius: 8px;
    justify-content: flex-start;
    padding-top: 14px;
    height: 30px;
    color: #000000;
    font-weight: normal;
}

.header-search img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-top: -2px;
}
/*子菜单*/
.oct-header-sub {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px 0;
    border-top: 1px solid #fbfbfb;
    margin-top: 5px;
}

    .oct-header-sub img {
        width: 15px;
        height: 15px;
    }

.search-price img {
    margin-left: -5px;
    margin-top: -2px;
}

.search-current {
    color: red;
}

.search-filter {
    font-size: 16px;
}

    .search-filter img {
        width: 18px;
        height: 18px;
        margin-left: -5px;
        margin-top: -2px;
    }
/*主体内容*/
body .oct-content {
    padding-top: 37px;
}
/*商品列表*/
.goods-list li {
    background: white;
    padding: 8px 6px;
    margin-top: 6px;
}

.goods-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
}

    .goods-item img {
        width: 110px;
        height: 110px;
        border-radius: 5px;
        margin-right: 8px;
    }

.goods-price {
    font-weight: bold;
    color: red;
    font-size: 14px;
}
.goods-label{
    display:flex;
    align-items:center;
    flex-wrap:wrap;
}
.goods-label span {
    font-size: 10px;
    background: #f1f1f1;
    color: #f65402;
    padding: 3px;
    border-radius: 5px;
    display: block;
    margin-right: 3px;
    padding: 0 6px;
    margin-top: 5px;
}

.goods-extra {
    font-size: 12px;
    color: #373737;
}
    .goods-extra i{
        font-size: 10px;
        color:gray;
    }

    .goods-extra a {
        padding-left: 10px;
        padding-right: 10px;
        color: #000000;
    }

.goods-img {
    position: relative;
}

    .goods-img span {
        background: #f65402;
        color: white;
        position: absolute;
        top: -5px;
        left: -5px;
        padding: 1px 5px;
        border-radius: 10px;
    }

.goods-title-div{
   height: 40px;
   overflow:hidden;
}


/*右侧侧边栏*/
.sidebar {
    background: white;
}

    .sidebar-title-filter {
        background: #ededed;
        font-size: 14px;
        font-weight: bold;
        padding: 5px 10px;
    }
.sidebar-title {
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
}
.sidebar ul li {
    padding: 5px 10px;
    display: flex;
    flex-wrap:wrap;
    align-content: flex-start;
    align-items: center;
}
.sidebar ul li div{
    display:block;
    padding: 5px 10px;
    background: #ededed;
    margin: 5px;
    border-radius:20px;
}
    .sidebar ul li div.sub-nav-current {
        background: red;
        color: white;
    }
        .sidebar ul li div.sub-nav-current a{
            color:white;
        }
        /*按钮*/
        .sidebar .navContent {
            display: flex;
            align-content: space-between;
        }
.navContent div, .navContent a {
    display:block;
    width: 50%;
    text-align: center;
    padding: 7px 0;
    margin: 8px;
}
.navContent .btn-reset {
    background: #eb9700;
    color:white;
}
.navContent .btn-ok {
    background: red;
    color: white;
}
.shop-self-span{
    background:red;
    color:white;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    font-size:10px;
}
/*========数据分页===========*/
/*列表承载Div,必须这样定义样式*/
.mescroll {
    position: fixed;
    top: 88px; /*这个值可以控制滚动区离顶部的距离*/
    bottom: 0;
    height: auto;
    padding-bottom: 80px;
    background: #EBEBEB;
}