
@{
    Layout = null;
}

<!DOCTYPE html>

<html style="overflow: auto; overflow-x: hidden;">
<head>
    <!--
        <meta name="viewport" content="width=device-width initial-scale="1" />
    viewport是网页默认的宽度和高度，上面这行代码的意思是，网页宽度默认等于屏幕宽度（width=device-width），
    原始缩放比例（initial-scale=1）为1.0，即网页初始大小占屏幕面积的100%。 user-scalable=no  不允许缩放网页 -->
    <meta name="viewport" content="width=device-width,user-scalable=no" initial-scale="1" />
    <title>查看快递物流</title>

    <link href="../Assets/Lib/AmazeUI-2.7.2/css/amazeui.min.css" rel="stylesheet" />
    <link href="../Assets/Css/PublicCss.css" rel="stylesheet" />
    <link href="../Assets/Css/WapPage/ExpressDetail.css" rel="stylesheet" />

    <script src="../Assets/Lib/jquery-2.2.2.min.js"></script>
    <script src="../Assets/Lib/ClipBoard/clipboard.min.js"></script>
    <script src="../Assets/Lib/AlertConfirmWin/AlertConfirmWin.js"></script>
    <script src="../Assets/Js/WapPage/ExpressDetail.js"></script>

</head>
<body>
    <!--隐藏控件记录值-->
    <input type="hidden" id="hidOrderID" value="@ViewBag.OrderID" />

    <!--头部-->
    <div class="oct-header">
        <div class="oct-header-left">
            <a href="javascript:window.history.back(-1)"><img alt="返回" src="../Assets/Imgs/Icon/back.png" /></a>
        </div>
        <div class="oct-header-mid">
            <b>查看快递物流</b>
        </div>
        <div class="oct-header-right">
            <a href="../WapPage/Index"><img class="header-icon-my" src="../Assets/Imgs/Icon/my.png" /></a>
        </div>
    </div>

    <!--主体内容-->
    <div class="oct-content">

        <!--快递信息-->
        <div class="express-msg" id="ExpressMsgDiv">
            <div class="express-msg-left">
                <a href="../WapPage/OrderDetail?OID=@ViewBag.OrderID">
                    <img id="GoodsCoverImgPath" src="../Assets/Imgs/icon/see_express.png" />
                </a>
            </div>
            <div class="express-msg-right">
                <ul>
                    <li><span>物流公司：</span><b id="ExpName"></b></li>
                    <li><span>物流单号：</span><b id="ExpNumber"></b><input id="BtnCopyOrderID" class="btn-copy" data-clipboard-text="" type="button" value="复制" /></li>
                    <li>
                        <span>物流电话：</span><a id="ExpPhone" href="tel:"></a>
                    </li>
                </ul>
            </div>
        </div>

        <!--快递动态-->
        <div class="express-dynamic">

            <div class="express-dynamic-title">
                <div class="dynamic-title-left">
                    物流动态
                </div>
                <div class="dynamic-title-right">
                    @*<a id="ExpSite" href="../Buyer/ComplainSubmit?OID=@ViewBag.OrderID"></a>*@
                </div>
            </div>

            <!--动态内容-->
            <div class="express-dynamic-item">

                <div class="dynamic-item-left">

                </div>
                <div class="dynamic-item-right">
                    <ul class="dynamic-right-ul" id="DynamicUl">
                        @*<li class="dynamic-current-li">
                                <span class="express-circle">&nbsp;</span>
                                <div>
                                    快件送达【富友收件宝（长沙市长沙县开元西路12号筑梦园）】入柜/入库
                                    <div class="express-datetime">
                                        2019-05-12:32:23
                                    </div>
                                </div>
                            </li>*@
                    </ul>
                </div>


            </div>

        </div>


    </div>


</body>
</html>
