
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>测试测试</title>
</head>
<body>
    <div>
        <a href="@ViewBag.MiniUrlScheme">打开微信小程序 @ViewBag.MiniUrlScheme</a>
    </div>


    <script src="//im.opencodetiger.com/Assets/Js/EnterThird/VisitorEnterPC.js?sv=1&winw=60&winh=180&ShopUserID=15600008991&BuyerUserID=0&BuyerNick=empty&BuyerHeaderImg=empty&VisitorMemo=empty&VisitType=Goods&MobileNum=15675178605&IsShowTitleHeader=false&TopTitle=empty&TopAHref=empty&ShowItemHeaderImgUrl=empty&ShowTitle=empty&ShowTitleSub=empty"></script>


</body>
</html>
