
@{
    Layout = null;
}

<!DOCTYPE html>

<html style="overflow: auto; overflow-x: hidden;">
<head>
    <!--
        <meta name="viewport" content="width=device-width initial-scale="1" />
    viewport是网页默认的宽度和高度，上面这行代码的意思是，网页宽度默认等于屏幕宽度（width=device-width），
    原始缩放比例（initial-scale=1）为1.0，即网页初始大小占屏幕面积的100%。 user-scalable=no  不允许缩放网页 -->
    <meta name="viewport" content="width=800,user-scalable=no" initial-scale="1" />
    <title>优惠券发放</title>
    <link href="../Assets/Lib/AmazeUI-2.7.2/css/amazeui.min.css" rel="stylesheet" />
    <link href="../Assets/Lib/AdminFrame/AdminPagePublic.css" rel="stylesheet" />
    <link href="../Assets/Css/TradingPage/CouponsIssueMsg.css" rel="stylesheet" />

    <script src="../Assets/Lib/AmazeUI-2.7.2/js/jquery-2.2.2.min.js"></script>
    <script src="../Assets/Lib/AmazeUI-2.7.2/js/amazeui.min.js"></script>
    <script src="../Assets/Lib/AdminFrame/AdminPagePublic.js"></script>
    <script src="../Assets/Lib/DialogWinDrag/DialogWinDrag.js"></script>

    <script src="../Assets/Js/TradingPage/CouponsIssueMsg.js"></script>


</head>
<body>

    <!--========隐藏控件记录信息===========-->
    <input type="hidden" id="hidIsUsed" value="@ViewBag.IsUsed" />

    <!--面包屑导航-->
    <div class="nav am-cf am-nbfc" data-am-sticky="{top:0}">
        <ul class="am-breadcrumb">
            <li><a href="../NavPage/Index" class="am-icon-home">首页</a></li>
            <li><a href="../NavPage/NavSubList?NavName=优惠券管理">优惠券管理</a></li>
            <li class="am-active">优惠券发放</li>
        </ul>
    </div>

    <!--主体内容-->
    <div class="main am-nbfc">

        <!--标题栏-->
        <div class="main-title am-cf am-nbfc">
            <div class="title-txt-div am-fl">
                <i class="am-icon-list"></i> 优惠券发放
            </div>
            <!--<div class="title-btn-div am-fl">
                <button class="title-btn am-btn am-btn-xs am-btn-danger am-round" onclick="window.location.href='../CouponsPage/CouponsMsgAdd'"><i class="am-icon-plus-circle"></i> 添加 </button>
            </div>-->
        </div>

        <!--搜索栏-->
        <div class="search-bar am-btn-toolbar am-cf">

            <div class="am-btn-group am-btn-group-xs am-cf item-txt-css">
                <input type="number" class="keyword-input am-form-field am-fl" id="CouponsID_se" placeholder="优惠券ID" />
            </div>
            <div class="am-btn-group am-btn-group-xs am-cf item-txt-css">
                <input type="number" class="keyword-input am-form-field am-fl" id="ShopUserID_se" placeholder="商家UserID" />
            </div>

            <div class="am-btn-group am-btn-group-xs am-cf item-txt-css">
                <input type="number" class="keyword-input am-form-field am-fl" id="BuyerUserID_se" placeholder="买家UserID" />
            </div>

            <div class="am-btn-group am-btn-group-xs am-cf item-txt-css">
                <input type="number" class="keyword-input am-form-field am-fl" id="IssueID_se" placeholder="券号" />
            </div>

            <div class="am-btn-group am-btn-group-xs am-cf item-txt-css">
                <input type="text" class="keyword-input am-form-field am-fl" id="CouponsTitle_se" placeholder="标题" />
            </div>

            <div class="am-btn-group am-btn-group-xs am-cf item-txt-css">
                <input type="number" class="keyword-input am-form-field am-fl" id="UseMoney_se" placeholder="抵用金额 (>=)" />
            </div>

            <div class="am-btn-group am-btn-group-xs am-cf item-txt-css">
                <input type="number" class="keyword-input am-form-field am-fl" id="UseDiscount_se" placeholder="使用折扣 (>=)" />
            </div>

            <div class="am-btn-group am-btn-group-xs am-cf" style="width: 120px;">
                <select id="IsUsed_se" data-am-selected="{btnWidth:'100',btnSize: 'xs',btnStyle: 'default'}">
                    <option value=" " selected>是否使用</option>
                    <option value="false">未使用</option>
                    <option value="true">已使用</option>
                </select>
            </div>

            <div class="am-btn-group am-btn-group-xs am-cf" style="width: 120px;">
                <select id="IsOverTime_se" data-am-selected="{btnWidth:'100',btnSize: 'xs',btnStyle: 'default'}">
                    <option value=" " selected>是否过期</option>
                    <option value="false">未过期</option>
                    <option value="true">已过期</option>
                </select>
            </div>

            <div class="am-btn-group am-btn-group-xs am-cf" style="width: 120px;">
                <select id="IsMallCoupons_se" data-am-selected="{btnWidth:'100',btnSize: 'xs',btnStyle: 'default'}">
                    <option value=" " selected>优惠券类型</option>
                    <option value="true">店铺券</option>
                    <option value="false">商城券</option>
                </select>
            </div>

            <div class="datetime-div am-btn-group am-btn-group-xs am-cf">
                <div class="am-form-group am-form-icon">
                    <i class="am-icon-calendar"></i>
                    <input type="text" id="UsedTime_se" style="width: 120px;" class="datetime-input am-form-field" placeholder="使用日期" data-am-datepicker="{theme: 'success',}">
                </div>
            </div>
            <div class="datetime-div am-btn-group am-btn-group-xs am-cf" style="width: 140px;">
                <div class="am-form-group am-form-icon">
                    <i class="am-icon-calendar"></i>
                    <input type="text" id="WriteDate_se" style="width: 120px;" class="datetime-input am-form-field" placeholder="获取日期" data-am-datepicker="{theme: 'success',}">
                </div>
            </div>

            <div class="am-btn-group am-btn-group-xs am-cf" style="width: 210px;">
                <button type="button" id="btnSearch" class="search-btn am-fl am-btn am-radius am-btn-success">搜索</button>
            </div>


        </div>

        <!--表单区域-->
        <div class="table-div">

            <table class="table-content am-table-striped am-table-hover" width="100%">
                <thead>
                    <tr class="table-head am-success">
                        <!--<td width="3%"><input type="checkbox" id="SelAllCb" name="SelAllCb" onchange="toggleSelAll()" /></td>-->
                        <td width="14%">优惠券ID<i style="color: #939393;display:block">商家UserID</i></td>
                        <td width="16%">标题</td>
                        <td width="9%">抵用金额</td>
                        <td width="9%">使用折扣</td>
                        <td width="15%">买家手机</td>
                        <td width="11%">是否使用<i style="color: #939393;display:block">使用时间</i></td>
                        <td width="10%">使用订单</td>
                        <td width="7%">过期</td>
                        <td width="9%">获取日期</td>
                    </tr>
                </thead>
                <tbody id="TbodyTrPage">
                    <tr>
                        <!--<td><input type="checkbox" /></td>-->
                        <td><span class="table-td-click-span">234332</span></td>
                        <td>优惠券的标题</td>
                        <td>253.31</td>
                        <td>4.4折</td>
                        <td>526858<div class="table-td-sub-div">IT独孤剑客</div></td>
                        <td>是<div class="table-td-sub-div">2018-08-05</div></td>
                        <td>
                            <a href="#" target="_blank">23423</a>
                            <div class="table-td-sub-div">抵用&#165;526.35</div>
                        </td>
                        <td>是</td>
                        <td>2019-05-05 13:27:45</td>
                    </tr>
                </tbody>
            </table>

            <!--表格信息操作区与分页-->
            <div class="table-exe-div am-cf">
                <div class="table-exe-btn am-fl">
                    <div class="table-btn-bottom am-btn-group am-btn-group-xs">
                        <!--<button type="button" class="am-btn am-btn-default" onclick="delMsgArr()"><span class="am-icon-trash-o"></span> 删除</button>-->
                    </div>
                </div>
                <div class="page-bar am-fr">
                    <ul class="am-pagination" id="PageBar1">
                        <li><a href="#">«</a></li>
                        <li><a href="#">1</a></li>
                        <li><span>...</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li class="am-active"><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li><span>...</span></li>
                        <li><a href="#">500</a></li>
                        <li><input type="text" class="page-go-text am-form-field" placeholder="跳转页" /></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
            </div>

            <!--备注说明-->
            <div class="memo-content">
                优惠券发放信息
            </div>


        </div>

    </div>







</body>
</html>
