
@{
    Layout = null;
}

<!DOCTYPE html>

<html style="overflow: auto; overflow-x: hidden;">
<head>
    <!--
        <meta name="viewport" content="width=device-width initial-scale="1" />
    viewport是网页默认的宽度和高度，上面这行代码的意思是，网页宽度默认等于屏幕宽度（width=device-width），
    原始缩放比例（initial-scale=1）为1.0，即网页初始大小占屏幕面积的100%。 user-scalable=no  不允许缩放网页 -->
    <meta name="viewport" content="width=800,user-scalable=no" initial-scale="1" />
    <title>编辑礼品</title>
    <link href="../Assets/Lib/AmazeUI-2.7.2/css/amazeui.min.css" rel="stylesheet" />
    <link href="../Assets/Lib/AdminFrame/AdminPagePublic.css" rel="stylesheet" />
    <link href="../Assets/Css/PresentPage/PresentAdd.css" rel="stylesheet" />

    <script src="../Assets/Lib/AmazeUI-2.7.2/js/jquery-2.2.2.min.js"></script>
    <script src="../Assets/Lib/AmazeUI-2.7.2/js/amazeui.min.js"></script>
    <script src="../Assets/Lib/JqueryFileUpload/jquery.ui.widget.js"></script>
    <script src="../Assets/Lib/JqueryFileUpload/jquery.fileupload.js"></script>
    <script charset="utf-8" src="../Assets/Lib/kindeditor4/kindeditor-all-min.js"></script>

    <script src="../Assets/Lib/PublicTool.js"></script>
    <script src="../Assets/Lib/AdminFrame/AdminPagePublic.js"></script>
    <script src="../Assets/Lib/AlertConfirmWin/AlertConfirmWin.js"></script>
    <script src="../Assets/Lib/DialogWinDrag/DialogWinDrag.js"></script>

    <script src="../Assets/Js/PresentPage/PresentEdit.js"></script>

</head>
<body>
    <form>

        <!--隐藏控件记录值-->
        <input type="hidden" id="hidFirstGoodsTypeID" value="" />
        <input type="hidden" id="hidSecondGoodsTypeID" value="" />
        <input type="hidden" id="hidThirdGoodsTypeID" value="" />
        <input type="hidden" id="hidPresentID" value="@ViewBag.PresentID" />
        <input type="hidden" id="hidShopUserID" value="@ViewBag.ShopUserID" />


        <!--面包屑导航-->
        <div class="nav am-cf am-nbfc" data-am-sticky="{top:0}">
            <ul class="am-breadcrumb">
                <li><a href="../NavPage/Index" class="am-icon-home">首页</a></li>
                <li><a href="../NavPage/NavSubList?NavName=礼品管理">礼品管理</a></li>
                <li class="am-active">编辑礼品</li>
            </ul>
        </div>

        <!--主体内容-->
        <div class="main am-nbfc">

            <!--标题栏-->
            <div class="main-title am-cf am-nbfc">
                <div class="title-txt-div am-fl">
                    <i class="am-icon-list"></i> 编辑礼品
                </div>
                <div class="title-btn-div am-fl">
                    <!--<button class="title-btn am-btn am-btn-xs am-btn-danger am-round" onclick="openAddWin()"><i class="am-icon-plus-circle"></i> 添加类别</button>-->
                </div>
            </div>

            <!--选择商品类目  操作表单-->
            <div class="form-main am-nbfc am-padding" id="SelGoodsTypeDiv" style="display:none;">


                <!--当前选择的商品类目-->
                <div class="goods-type-current">
                    <div>
                        <b>当前选择的礼品类目:</b>
                    </div>
                    <div>
                        <span id="GoodsTypeSpanFirst"></span> > <span id="GoodsTypeSpanSecond"></span> > <span id="GoodsTypeSpanThird"></span>
                    </div>
                </div>

                <!--三个选择框-->
                <div class="goods-type">

                    <div class="goods-type-left">
                        <div class="goods-type-list" id="GoodsTypeFirstDiv">
                            …加载中…
                        </div>
                    </div>

                    <div class="goods-type-mid">
                        <div class="goods-type-list" id="GoodsTypeSecondDiv">
                            <!--<div id="GoodsType_123" class="goods-type-item">家用电器</div>-->

                        </div>
                    </div>
                    <div class="goods-type-right">
                        <div class="goods-type-list" id="GoodsTypeThirdDiv">
                            <!--<div id="GoodsType_123" class="goods-type-item">家用电器</div>-->
                        </div>
                    </div>
                </div>
                <!--商品列表
                <div class="goods-list-pre">
                    <a href="#" target="_blank"><img src="../Assets/Imgs/product_01.jpg" /></a>
                    <a href="#" target="_blank"><img src="../Assets/Imgs/product_01.jpg" /></a>
                    <a href="#" target="_blank"><img src="../Assets/Imgs/product_02.jpg" /></a>
                    <a href="#" target="_blank"><img src="../Assets/Imgs/product_02.jpg" /></a>
                    <a href="#" target="_blank"><img src="../Assets/Imgs/product_01.jpg" /></a>
                    <a href="#" target="_blank"><img src="../Assets/Imgs/product_02.jpg" /></a>
                    <a href="#" target="_blank"><img src="../Assets/Imgs/product_01.jpg" /></a>
                    <a href="#" target="_blank"><img src="../Assets/Imgs/product_02.jpg" /></a>
                    <a href="#" target="_blank"><img src="../Assets/Imgs/product_01.jpg" /></a>
                    <a href="#" target="_blank"><img src="../Assets/Imgs/product_01.jpg" /></a>
                    <a href="#" target="_blank"><img src="../Assets/Imgs/product_01.jpg" /></a>
                    <a href="#" target="_blank"><img src="../Assets/Imgs/product_01.jpg" /></a>
                </div>-->
                <!--按钮-->
                <div class="goods-type-btn">
                    <input type="button" value="选择当前礼品类目,下一步" onclick="nextStep()" class="am-btn am-btn-sm am-btn-danger am-round">
                </div>

            </div>


            <!--发布礼品具体属性  操作表单-->
            <div class="form-main form-main-put am-nbfc" id="PutGoodsTypePropDiv" style="display:normal;">

                <!--选择类目-->
                <div class="goods-prop am-nbfc">
                    <div class="goods-type-div goods-title-div">
                        礼品类目 <font color="red">*</font>
                    </div>
                    <div class="goods-type-content">
                        <span id="GoodsTypeSpan_First"></span> > <span id="GoodsTypeSpan_Second"></span> > <span id="GoodsTypeSpan_Third"></span>
                    </div>
                    <div class="goods-type-edit-btn">
                        <input class="am-btn am-btn-xs am-btn-success am-round" type="button" value="编辑" onclick="editGoodsType()" />
                    </div>
                </div>



                <!--礼品标题-->
                <div class="goods-title am-nbfc">
                    <div class="goods-title-div">
                        礼品标题 <font color="red">*</font>
                    </div>
                    <div class="goods-title-content">
                        <div class="goods-title-prompt">
                            提示：礼品标题字数控制在80个之内,精简提炼标题关键字有助于搜索排名
                        </div>
                        <input class="goods-title-txt" id="PresentTitle" type="text" />
                    </div>
                </div>

                <!--价格与库存-->
                <div class="goods-price am-nbfc">
                    <div class="goods-title-div">
                        积分与库存 <font color="red">*</font>
                    </div>
                    <div class="goods-price-content" id="GoodsSpecPropPriceStockNoDiv" style="display:normal;">
                        <span>积分:</span>
                        <input type="number" class="goods-pricestock-txt" id="PresentPrice" style="width: 150px;" placeholder="一个积分等于一元" />
                        <span>库存:</span>
                        <input type="number" id="StockNum" class="goods-pricestock-txt" />
                    </div>
                </div>

                <!--礼品照片-->
                <div class="goods-img am-nbfc">
                    <div class="goods-title-div">
                        礼品照片 <font color="red">*</font>
                    </div>
                    <div class="goods-price-content">
                        <div class="goods-title-prompt">
                            <font color="red"><b>注意：第一张照片为【封面图片】</b></font> 提示：礼品图片尺寸 800 * 800 像素以上，长宽比例为 1:1 的正方形图片为最佳，至少上传一张礼品照片。
                        </div>
                        <div class="goods-upload-list">
                            <ul class="goods-upload-ul">
                                <li>
                                    <div class="upload-goods-img" style="position:relative">
                                        <img id="GoodsImgPre_1" src="../Assets/Imgs/Icon/icon_camera_present.png" class="goods-pre-img" />
                                        <input id="UploadGoods_1" type="file" name="files[]" multiple="multiple" style="-moz-opacity:0;filter:alpha(opacity=0);opacity:0; width: 100%; height:120px; background:gray; overflow:hidden; position:absolute; left:0px; top:0" />
                                    </div>
                                    <input type="hidden" id="HidUploadGoodsVal_1" value="" />
                                    <div id="BtnGoodsList_1" class="upload-goods-btn" style="display:none;">
                                        <a href="#" target="_blank">裁剪</a>
                                        <div>刷新</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="upload-goods-img" style="position:relative">
                                        <img id="GoodsImgPre_2" src="../Assets/Imgs/Icon/icon_camera_present.png" class="goods-pre-img" />
                                        <input id="UploadGoods_2" type="file" name="files[]" multiple="multiple" style="-moz-opacity:0;filter:alpha(opacity=0);opacity:0; width: 100%; height:120px; background:gray; overflow:hidden; position:absolute; left:0px; top:0" />
                                    </div>
                                    <input type="hidden" id="HidUploadGoodsVal_2" value="" />
                                    <div id="BtnGoodsList_2" class="upload-goods-btn" style="display:none;">
                                        <a href="#" target="_blank">裁剪</a>
                                        <div>刷新</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="upload-goods-img" style="position:relative">
                                        <img id="GoodsImgPre_3" src="../Assets/Imgs/Icon/icon_camera_present.png" class="goods-pre-img" />
                                        <input id="UploadGoods_3" type="file" name="files[]" multiple="multiple" style="-moz-opacity:0;filter:alpha(opacity=0);opacity:0; width: 100%; height:120px; background:gray; overflow:hidden; position:absolute; left:0px; top:0" />
                                    </div>
                                    <input type="hidden" id="HidUploadGoodsVal_3" value="" />
                                    <div id="BtnGoodsList_3" class="upload-goods-btn" style="display:none;">
                                        <a href="#" target="_blank">裁剪</a>
                                        <div>刷新</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="upload-goods-img" style="position:relative">
                                        <img id="GoodsImgPre_4" src="../Assets/Imgs/Icon/icon_camera_present.png" class="goods-pre-img" />
                                        <input id="UploadGoods_4" type="file" name="files[]" multiple="multiple" style="-moz-opacity:0;filter:alpha(opacity=0);opacity:0; width: 100%; height:120px; background:gray; overflow:hidden; position:absolute; left:0px; top:0" />
                                    </div>
                                    <input type="hidden" id="HidUploadGoodsVal_4" value="" />
                                    <div id="BtnGoodsList_4" class="upload-goods-btn" style="display:none;">
                                        <a href="#" target="_blank">裁剪</a>
                                        <div>刷新</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="upload-goods-img" style="position:relative">
                                        <img id="GoodsImgPre_5" src="../Assets/Imgs/Icon/icon_camera_present.png" class="goods-pre-img" />
                                        <input id="UploadGoods_5" type="file" name="files[]" multiple="multiple" style="-moz-opacity:0;filter:alpha(opacity=0);opacity:0; width: 100%; height:120px; background:gray; overflow:hidden; position:absolute; left:0px; top:0" />
                                    </div>
                                    <input type="hidden" id="HidUploadGoodsVal_5" value="" />
                                    <div id="BtnGoodsList_5" class="upload-goods-btn" style="display:none;">
                                        <a href="#" target="_blank">裁剪</a>
                                        <div>刷新</div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <!--礼品描述-->
                <div class="goods-desc am-nbfc">
                    <div class="goods-title-div">
                        礼品描述 <font color="red">*</font>
                    </div>
                    <div class="goods-desc-cntent">
                        <div class="goods-desc-editor">
                            <textarea id="EditorGoodsDesc" name="content" style="width:890px;height:600px;"></textarea>
                        </div>
                    </div>
                    <div class="goods-desc-btn">
                        <input class="am-btn am-btn-xs am-btn-success am-round" type="button" value="插入图片" onclick="openInsertImgWin()" />
                        <input type="button" style="margin-left: 20px;" class="am-btn am-btn-xs am-btn-default am-round" value="移动端预览" />
                        <input type="button" style="margin-left: 20px;" class="am-btn am-btn-xs am-btn-default am-round" value="电脑端预览" />
                    </div>
                </div>
                <!--其他设置-->
                <div class="goods-other am-nbfc">
                    <div class="goods-title-div">
                        其他设置
                    </div>
                    <div class="goods-other-cntent">
                        <div class="goods-other-support">
                            <span>支持【到店消费或自取】:</span>
                            <input id="IsShopExpense" type="checkbox" class="allow-check-box" />
                            <span>支持【送货上门(快递发货)】:</span>
                            <input id="IsExpressHome" type="checkbox" class="allow-check-box" checked="checked" />
                            <span>【是否包邮】:</span>
                            <input id="IsPinkage" checked="checked" type="checkbox" class="allow-check-box" />
                        </div>
                    </div>
                </div>
                <!--兑换须知-->
                <div class="goods-packas am-nbfc">
                    <div class="goods-title-div">
                        兑换须知
                    </div>
                    <div class="goods-packas-cntent">
                        <textarea id="ExchangeNote" class="goods-packas-areatxt"></textarea>
                    </div>
                </div>



                <!--按钮区-->
                <div class="goods-btn am-nbfc">
                    <input type="button" class="am-btn am-btn-sm am-btn-danger am-round" value="保存礼品信息" onclick="submitPresentMsg()" />
                </div>
            </div>
        </div>


        <!--=========插入图片窗口===========-->
        <div class="insert-img-win" id="InsertImgWin" style="display:none;">
            <div class="am-tabs" data-am-tabs>
                <ul class="am-tabs-nav am-nav am-nav-tabs">
                    <li class="am-active"><a href="#tab1">本地上传</a></li>
                    <li><a href="#tab2">礼品照片</a></li>
                </ul>

                <div class="am-tabs-bd" style="border:none;">
                    <!--本地上传-->
                    <div class="am-tab-panel am-fade am-in am-active" id="tab1">
                        <div class="photo-img-upload">
                            <div class="photo-album-sel">
                                <span>选择相册：</span>
                                <select id="ShopAlbumSelect1" onchange="chgShopAlbumSelect()">
                                    <option value="234">相册名称</option>
                                    <option value="234">相册名称</option>
                                </select>
                            </div>
                            <div class="am-form-group am-form-file">
                                <button type="button" class="am-btn am-btn-default am-btn-xs am-round">
                                    <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                                </button>
                                <input id="fileupload_Album" type="file" multiple>
                            </div>
                        </div>
                        <div class="photo-img-item">
                            <ul class="photo-img-ul" id="PhotoImgUl">
                                <li> </li>
                                <!--<li>
                                    <img src="../Assets/Imgs/product_01.jpg" />
                                    <input class="sel-img-cb" type="checkbox" data-imgurl="//192.168.1.220:1700/Assets/Imgs/product_01.jpg" onchange="chgSelInsertImgCb()" />
                                </li>-->

                            </ul>
                            <div class="page-bar" id="PageBar1">
                                <div>首页</div>
                                <div onclick="alert('执行了')">上一页</div>
                                <div>下一页</div>
                                <div>尾页</div>
                            </div>
                        </div>
                    </div>
                    <!--商品图片-->
                    <div class="am-tab-panel am-fade" id="tab2">
                        <div class="goods-img-item photo-img-item">
                            <ul class="photo-img-ul" id="GoodsImgUl">
                                <li> </li>
                                <!--<li>
                                    <img src="../Assets/Imgs/product_04.jpg" />
                                    <input class="sel-img-cb" type="checkbox" data-imgurl="//192.168.1.220:1700/Assets/Imgs/product_04.jpg" onchange="chgSelInsertImgCb()" />
                                </li>-->
                            </ul>
                            <div class="page-bar" id="PageBar2">
                                <div>首页</div>
                                <div onclick="alert('执行了')">上一页</div>
                                <div>下一页</div>
                                <div>尾页</div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>







    </form>
</body>
</html>
