
@{
    Layout = null;
}

<!DOCTYPE html>

<html style="overflow: auto; overflow-x: hidden;">
<head>
    <!--
        <meta name="viewport" content="width=device-width initial-scale="1" />
    viewport是网页默认的宽度和高度，上面这行代码的意思是，网页宽度默认等于屏幕宽度（width=device-width），
    原始缩放比例（initial-scale=1）为1.0，即网页初始大小占屏幕面积的100%。 user-scalable=no  不允许缩放网页 -->
    <meta name="viewport" content="width=800,user-scalable=no" initial-scale="1" />
    <title>礼品信息</title>
    <link href="../Assets/Lib/AmazeUI-2.7.2/css/amazeui.min.css" rel="stylesheet" />
    <link href="../Assets/Lib/AdminFrame/AdminPagePublic.css" rel="stylesheet" />

    <script src="../Assets/Lib/AmazeUI-2.7.2/js/jquery-2.2.2.min.js"></script>
    <script src="../Assets/Lib/AmazeUI-2.7.2/js/amazeui.min.js"></script>

    <script src="../Assets/Lib/PublicTool.js"></script>
    <script src="../Assets/Lib/AdminFrame/AdminPagePublic.js"></script>
    <script src="../Assets/Lib/AlertConfirmWin/AlertConfirmWin.js"></script>
    <script src="../Assets/Lib/DialogWinDrag/DialogWinDrag.js"></script>

    <script src="../Assets/Js/UserGoodsShopPage/PresentMsg.js"></script>

</head>
<body>


    <!--========隐藏控件记录信息===========-->
    <input type="hidden" id="hidOctWapWeb_AddrDomain" value="@ViewBag.OctWapWeb_AddrDomain" />
    <input type="hidden" id="hidPresentStatus" value="@ViewBag.PresentStatus" />

    <!--面包屑导航-->
    <div class="nav am-cf am-nbfc" data-am-sticky="{top:0}">
        <ul class="am-breadcrumb">
            <li><a href="../NavPage/Index" class="am-icon-home">首页</a></li>
            <li><a href="../NavPage/NavSubList?NavName=礼品管理">礼品管理</a></li>
            <li class="am-active">礼品信息</li>
        </ul>
    </div>

    <!--主体内容-->
    <div class="main am-nbfc">

        <!--标题栏-->
        <div class="main-title am-cf am-nbfc">
            <div class="title-txt-div am-fl">
                <i class="am-icon-list"></i> 礼品信息
            </div>
            <div class="title-btn-div am-fl">
                @*<button class="title-btn am-btn am-btn-xs am-btn-danger am-round" onclick="window.location.href='../PresentPage/PresentAdd'"><i class="am-icon-plus-circle"></i> 发布礼品</button>*@
            </div>
        </div>

        <!--搜索栏-->
        <div class="search-bar am-btn-toolbar am-cf">

            <div class="am-btn-group am-btn-group-xs am-cf item-txt-css">
                <input type="number" class="keyword-input am-form-field am-fl" id="PresentID_se" placeholder="礼品ID" />
            </div>

            <div class="am-btn-group am-btn-group-xs am-cf item-txt-css">
                <input type="number" class="keyword-input am-form-field am-fl" id="ShopUserID_se" placeholder="商家UserID" />
            </div>

            <div class="am-btn-group am-btn-group-xs am-cf item-txt-css" style="width: 200px">
                <input type="text" class="keyword-input am-form-field am-fl" id="PresentTitle_se" placeholder="礼品标题" style="width: 180px;" />
            </div>

            <div class="am-btn-group am-btn-group-xs am-cf" style="width: 130px;">
                <select id="PresentStatus_se" data-am-selected="{btnWidth:'120',btnSize: 'xs',btnStyle: 'default'}">
                    <option value=" " selected>礼品状态</option>
                    <option value="售">出售中</option>
                    <option value="审">审核中</option>
                </select>
            </div>

            <div class="am-btn-group am-btn-group-xs am-cf item-txt-css" style="width: 200px">
                <input type="text" class="keyword-input am-form-field am-fl" id="StockNum_se" placeholder="库存>=" style="width: 180px;" />
            </div>

            <div class="am-btn-group am-btn-group-xs am-cf" style="width: 130px;">
                <select id="IsUnSale_se" data-am-selected="{btnWidth:'120',btnSize: 'xs',btnStyle: 'default'}">
                    <option value=" " selected>是否下架</option>
                    <option value="true">是</option>
                    <option value="false">否</option>
                </select>
            </div>
            <div class="am-btn-group am-btn-group-xs am-cf" style="width: 130px;">
                <select id="IsPinkage_se" data-am-selected="{btnWidth:'120',btnSize: 'xs',btnStyle: 'default'}">
                    <option value=" " selected>是否包邮</option>
                    <option value="true">是</option>
                    <option value="false">否</option>
                </select>
            </div>
            <div class="am-btn-group am-btn-group-xs am-cf" style="width: 130px;">
                <select id="IsShopExpense_se" data-am-selected="{btnWidth:'120',btnSize: 'xs',btnStyle: 'default'}">
                    <option value=" " selected>配送方式</option>
                    <option value="true">到店消费/自取</option>
                    <option value="false">快递物流</option>
                    <option value="both">到店或快递</option>
                </select>
            </div>

            <div class="datetime-div am-btn-group am-btn-group-xs am-cf" style="width: 150px;">
                <div class="am-form-group am-form-icon">
                    <i class="am-icon-calendar"></i>
                    <input type="text" id="WriteDate_se" class="datetime-input am-form-field" placeholder="发布时间" data-am-datepicker="{theme: 'success',}" style="background:white;width:150px;" readonly>
                </div>
            </div>


            <div class="am-btn-group am-btn-group-xs am-cf" style="width: 210px;">
                <button type="button" id="btnSearch" class="search-btn am-fl am-btn am-radius am-btn-success">搜索</button>
            </div>


        </div>

        <!--表单区域-->
        <div class="table-div">

            <table class="table-content am-table-striped am-table-hover" width="100%">
                <thead>
                    <tr class="table-head am-success">
                        <td width="4%" height="22"><input type="checkbox" id="SelAllCb" name="SelAllCb" onchange="toggleSelAll()" /></td>
                        <td width="10%">礼品ID<i style="color:gray;display:block;">商家UserID</i></td>
                        <td width="27%">礼品标题<i style="color:gray;display:block;">商品类目</i></td>
                        <td width="8%">积分<i style="color:gray;display:block;">状态</i></td>
                        <td width="8%">库存</td>
                        <td width="8%">包邮</td>
                        <td width="10%">配送方式</td>
                        <td width="7%">下架<i style="color:gray;display:block;">锁定</i></td>
                        <td width="10%">发布时间</td>
                        <td width="8%">操作</td>
                    </tr>
                </thead>
                <tbody id="TbodyTrPage">
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td>234332<i style="color:gray;display:block;">10004</i></td>
                        <td><a href="#" target="_blank">礼品标题礼品标题礼品标题</a><i style="color:gray;display:block;">连衣裙(10055)</i></td>
                        <td>&#165;163.32<i style="color:gray;display:block;">出售中</i></td>
                        <td>23</td>
                        <td>是</td>
                        <td>到店或快递</td>
                        <td>是<i style="color:gray;display:block;">否</i></td>
                        <td>2019-05-05 13:27:45.563</td>
                        <td>
                            <button class="table-btn am-btn am-btn-default am-btn-xs am-text-secondary am-round">详细</button>
                            <button class="table-btn am-btn am-btn-default am-btn-xs am-text-warning  am-round">审核</button>
                        </td>
                    </tr>

                </tbody>
            </table>

            <!--表格信息操作区与分页-->
            <div class="table-exe-div am-cf">
                <div class="table-exe-btn am-fl">
                    <div class="table-btn-bottom am-btn-group am-btn-group-xs">
                        <button type="button" class="am-btn am-btn-default" onclick="lockPresentMsgArr('true')"><span class="am-icon-lock"></span> 批量锁定</button>
                        <button type="button" class="am-btn am-btn-default" onclick="lockPresentMsgArr('false')"><span class="am-icon-unlock"></span> 批量解锁</button>
                    </div>
                </div>
                <div class="page-bar am-fr">
                    <ul class="am-pagination" id="PageBar1">
                        <li><a href="#">«</a></li>
                        <li><a href="#">1</a></li>
                        <li><span>...</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li class="am-active"><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li><span>...</span></li>
                        <li><a href="#">500</a></li>
                        <li><input type="text" class="page-go-text am-form-field" placeholder="跳转页" /></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
            </div>

            <!--备注说明-->
            <div class="memo-content">
                注意: <span>礼品信息</span>
            </div>
        </div>

    </div>



    <!--添加与编辑窗口主体内容-->
    <div class="add-edit-win" id="AddEditWin" style="display:none;">
        <div class="add-edit-main">
            <ul class="add-edit-ul">
                <li>
                    <span>礼品ID：</span>
                    <b id="PresentIDWin">551587</b>
                    <span style="padding-left: 30px;">商品类目：</span>
                    <b id="GoodsTypeIDNameWin">连衣裙(10004)</b>
                    <span style="padding-left: 30px;">配送方式：</span>
                    <b id="IsShopExpenseWin">到店消费/自取</b>
                </li>
                <li>
                    <span>礼品标题：</span><b id="PresentTitleWin"></b>
                </li>
                <li>
                    <span>礼品状态：</span>
                    <select id="PresentStatusWin" class="txt-css" style="padding: 5px;">
                        <option value="售">审核通过(售)</option>
                        <option value="审">加入审核(审)</option>
                    </select>
                </li>
                <li style="display:block;clear:both;">
                    <span>审核原因：</span>
                    <textarea id="PresentCheckReasonWin" style="width: 95%;height: 100px; clear:both; display:block; margin-left: 10px; margin-top: 10px;" class="txt-css"></textarea>

                </li>
            </ul>
        </div>
    </div>





</body>
</html>
