
@{
    Layout = null;
}

<!DOCTYPE html>

<html style="overflow: auto; overflow-x: hidden;">
<head>
    <!--
        <meta name="viewport" content="width=device-width initial-scale="1" />
    viewport是网页默认的宽度和高度，上面这行代码的意思是，网页宽度默认等于屏幕宽度（width=device-width），
    原始缩放比例（initial-scale=1）为1.0，即网页初始大小占屏幕面积的100%。 user-scalable=no  不允许缩放网页 -->
    <meta name="viewport" content="width=800,user-scalable=no" initial-scale="1" />
    <title>秒杀商品分类</title>
    <link href="../Assets/Lib/AmazeUI-2.7.2/css/amazeui.min.css" rel="stylesheet" />
    <link href="../Assets/Lib/AdminFrame/AdminPagePublic.css" rel="stylesheet" />

    <script src="../Assets/Lib/AmazeUI-2.7.2/js/jquery-2.2.2.min.js"></script>
    <script src="../Assets/Lib/AmazeUI-2.7.2/js/amazeui.min.js"></script>
    <script src="../Assets/Lib/AdminFrame/AdminPagePublic.js"></script>
    <script src="../Assets/Lib/AlertConfirmWin/AlertConfirmWin.js"></script>
    <script src="../Assets/Lib/DialogWinDrag/DialogWinDrag.js"></script>
    <script src="../Assets/Js/UserGoodsShopPage/SecKillGoodsType.js"></script>

</head>
<body>

    <!--========隐藏控件记录信息===========-->
    <input type="hidden" id="hidOctWapWeb_AddrDomain" value="@ViewBag.OctWapWeb_AddrDomain" />

    <!--面包屑导航-->
    <div class="nav am-cf am-nbfc" data-am-sticky="{top:0}">
        <ul class="am-breadcrumb">
            <li><a href="../NavPage/Index" class="am-icon-home">首页</a></li>
            <li><a href="../NavPage/NavSubList?NavName=秒杀抢购">秒杀抢购</a></li>
            <li class="am-active">秒杀商品分类</li>
        </ul>
    </div>

    <!--主体内容-->
    <div class="main am-nbfc">

        <!--标题栏-->
        <div class="main-title am-cf am-nbfc">
            <div class="title-txt-div am-fl">
                <i class="am-icon-list"></i> 秒杀商品分类
            </div>
            <div class="title-btn-div am-fl">
                @*<button class="title-btn am-btn am-btn-xs am-btn-danger am-round" onclick="openAddWin()"><i class="am-icon-plus-circle"></i> 添加秒杀商品 </button>*@
            </div>
        </div>

        <!--搜索栏-->
        <div class="search-bar am-btn-toolbar am-cf">

            <div class="am-btn-group am-btn-group-xs am-cf" style="width: 120px;">
                <select id="IsEntity_se" data-am-selected="{btnWidth:'100',btnSize: 'xs',btnStyle: 'default'}">
                    <option value=" " selected>有无实体店</option>
                    <option value="false">否</option>
                    <option value="true">是</option>
                </select>
            </div>

            <div class="am-btn-group am-btn-group-xs am-cf" style="width: 210px;">
                <button type="button" id="btnSearch" class="search-btn am-fl am-btn am-radius am-btn-success">搜索</button>
            </div>


        </div>

        <!--表单区域-->
        <div class="table-div">

            <table class="table-content am-table-striped am-table-hover" width="100%">
                <thead>
                    <tr class="table-head am-success">
                        <td width="10%">秒杀分类ID</td>
                        <td width="15%">商品类目ID</td>
                        <td width="20%">商品类目名称 </td>
                        <td width="9%">实体店</td>
                        <td width="9%">显示</td>
                        <td width="9%">锁定</td>
                        <td width="20%">添加时间</td>
                        <td width="8%">操作</td>
                    </tr>
                </thead>
                <tbody id="TbodyTrPage">
                    <tr>
                        <td>23423</td>
                        <td>34234</td>
                        <td>连衣裙</td>
                        <td>是</td>
                        <td>
                            否
                        </td>
                        <td>否</td>
                        <td>2019-05-05 13:27:45</td>
                        <td>
                            <button class="table-btn am-btn am-btn-default am-btn-xs am-text-secondary am-round">隐藏</button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!--表格信息操作区与分页-->
            <div class="table-exe-div am-cf">
                <div class="table-exe-btn am-fl">
                    <div class="table-btn-bottom am-btn-group am-btn-group-xs">
                        <button type="button" class="am-btn am-btn-default" onclick="delSecKillGoodsTypeNoSkGoods()"><span class="am-icon-trash-o"></span> 删除无秒杀商品的分类</button>
                    </div>
                </div>
                <div class="page-bar am-fr">
                    @*<ul class="am-pagination" id="PageBar1">
                            <li><a href="#">«</a></li>
                            <li><a href="#">1</a></li>
                            <li><span>...</span></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li class="am-active"><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">6</a></li>
                            <li><span>...</span></li>
                            <li><a href="#">500</a></li>
                            <li><input type="text" class="page-go-text am-form-field" placeholder="跳转页" /></li>
                            <li><a href="#">»</a></li>
                        </ul>*@
                </div>
            </div>

            <!--备注说明-->
            <div class="memo-content">
                注意: <span>秒杀商品分类,无秒杀商品的分类可以直接删除</span>
            </div>


        </div>

    </div>






</body>
</html>
