
@{
    Layout = null;
}

<!DOCTYPE html>

<html style="overflow: auto; overflow-x: hidden;">
<head>
    <!--
        <meta name="viewport" content="width=device-width initial-scale="1" />
    viewport是网页默认的宽度和高度，上面这行代码的意思是，网页宽度默认等于屏幕宽度（width=device-width），
    原始缩放比例（initial-scale=1）为1.0，即网页初始大小占屏幕面积的100%。 user-scalable=no  不允许缩放网页 -->
    <meta name="viewport" content="width=800,user-scalable=no" initial-scale="1" />
    <title>添加店铺</title>
    <link href="../Assets/Lib/AmazeUI-2.7.2/css/amazeui.min.css" rel="stylesheet" />
    <link href="../Assets/Lib/AdminFrame/AdminPagePublic.css" rel="stylesheet" />
    <link href="../Assets/Css/UserGoodsShopPage/ShopAdd.css" rel="stylesheet" />

    <script src="../Assets/Lib/AmazeUI-2.7.2/js/jquery-2.2.2.min.js"></script>
    <script src="../Assets/Lib/AmazeUI-2.7.2/js/amazeui.min.js"></script>

    <script src="../Assets/Lib/JqueryFileUpload/jquery.ui.widget.js"></script>
    <script src="../Assets/Lib/JqueryFileUpload/jquery.fileupload.js"></script>

    <script src="../Assets/Lib/AdminFrame/AdminPagePublic.js"></script>
    <script src="../Assets/Lib/AlertConfirmWin/AlertConfirmWin.js"></script>
    <script src="../Assets/Lib/DialogWinDrag/DialogWinDrag.js"></script>

    <script src="../Assets/Lib/RegionCodeName.js"></script>
    <script src="../Assets/Lib/PublicTool.js"></script>

    <script src="../Assets/Js/UserGoodsShopPage/ShopAdd.js"></script>


</head>
<body>

    <!--面包屑导航-->
    <div class="nav am-cf am-nbfc" data-am-sticky="{top:0}">
        <ul class="am-breadcrumb">
            <li><a href="../NavPage/Index" class="am-icon-home">首页</a></li>
            <li><a href="../NavPage/NavSubList?NavName=店铺管理">店铺管理</a></li>
            <li class="am-active">添加店铺</li>
        </ul>
    </div>

    <!--主体内容-->
    <div class="main am-nbfc">

        <!--标题栏-->
        <div class="main-title am-cf am-nbfc">
            <div class="title-txt-div am-fl">
                <i class="am-icon-list"></i> 添加店铺
            </div>
            <div class="title-btn-div am-fl">
                <!--<button class="title-btn am-btn am-btn-xs am-btn-danger am-round" onclick="openAddWin()"><i class="am-icon-plus-circle"></i> 添加类别</button>-->
            </div>
        </div>

        <!--操作表单-->
        <div class="form-main am-nbfc am-padding" id="ShopBaseMsgDiv">
            <form>
                <ul class="shop-form-ul">
                    <li class="shop-acc-li">
                        <div>
                            <span class="input-title-span">店铺账号：</span>
                            <input type="text" id="UserAccount" class="txt-css txt-shop-acc" placeholder="开通店铺的用户账号(注册手机号),无账号请先注册！" onblur="initBuyerMsg()" />
                        </div>
                        <div class="shop-acc-hint" id="ShopAccHintDiv">
                            输入开通店铺的用户账号(注册的手机号)
                        </div>
                    </li>
                    <li>
                        <span class="input-title-span">公司ID：</span>
                        <input type="text" id="CompanyID" class="txt-css txt-shop-acc" onblur="initCompanyMsg()" placeholder="店铺所属公司的ID,无公司信息请先添加！" />
                        <span class="company-shop-span" id="CompanyShopSpan">请输入店铺所属公司的ID</span>
                        <a href="../UserGoodsShopPage/CompanyMsgAdd" class="am-btn am-btn-success am-btn-xs am-round btn-add-company">添加公司</a>
                    </li>
                </ul>

                <ul class="shop-form-ul">
                    <li class="shop-type-li shop-type-flex">
                        <span class="input-title-span">店铺类别：</span>
                        <select id="ShopTypeIDFather" onchange="chgLoadSubShopType()"></select>
                        <select id="ShopTypeIDSub"></select>
                        <span class="input-title-span" style="width:120px; text-align:right; padding-right:10px;">自营店铺：</span>
                        <input type="checkbox" id="IsSelfShopCb" class="cb-shop-entity" />
                    </li>
                    <li>
                        <span class="input-title-span">店铺名称：</span>
                        <input type="text" id="ShopName" class="txt-css txt-shop-name" placeholder="控制在15个字符之内" />
                    </li>
                </ul>



                <ul class="shop-form-ul">
                    <li style="display:flex; height:40px; padding-top: 30px; align-items:center">
                        <span class="input-title-span">有实体店：</span>
                        <input type="checkbox" id="IsEntityCb" class="cb-shop-entity" />
                        <span class="input-title-span addr-gps-span">店铺坐标位置：</span>
                        <input type="text" id="LatitudeTxt" class="txt-css txt-css-location" placeholder="纬度(latitude)" />
                        <input type="text" id="LongitudeTxt" class="txt-css txt-css-location" placeholder="经度(longitude)" />
                        <a href="javascript:void(0)" onclick="openSelLocationWin()" class="am-btn am-btn-success am-btn-xs am-round btn-add-company">地图上选择</a>
                    </li>
                    <li class="shop-addr-li">
                        <span class="input-title-shop">店铺地址：</span>
                        <select id="region_province"></select>
                        <select id="region_city"></select>
                        <select id="region_county"></select>
                        <div class="addr-detail-div" style="padding-left:95px;">
                            <input type="text" id="DetailAddr" class="txt-css" placeholder="详细地址:(街道,小区,乡镇,村等)" />
                        </div>
                    </li>
                    <li class="shop-tel-li">
                        <div>
                            <span class="input-title-shop">固定电话:</span>
                            <input type="text" id="ShopFixTel" class="txt-css" placeholder="店铺固定电话(客服)" />
                        </div>
                        <div>
                            <span class="input-title-shop">店铺手机号:</span>
                            <input type="text" id="ShopMobile" class="txt-css" placeholder="店铺手机号(客服)" />
                        </div>
                        <div>
                            <span class="input-title-shop">发货电话:</span>
                            <input type="text" id="SendMobile" class="txt-css" placeholder="发货联系电话(客服)" />
                        </div>
                    </li>
                </ul>

                <ul class="shop-form-ul">
                    <li class="shop-tel-li shop-link-li">
                        <div>
                            <span class="input-title-shop">联系人:</span>
                            <input type="text" id="LinkMan" class="txt-css" placeholder="联系人姓名" />
                        </div>
                        <div>
                            <span class="input-title-shop">联系人手机:</span>
                            <input type="text" id="LinkManMobile" class="txt-css" placeholder="联系人手机号" />
                        </div>
                        <div>
                            <span class="input-title-shop">联系人邮箱:</span>
                            <input type="text" id="LinkEmail" class="txt-css" placeholder="联系人邮箱" />
                        </div>
                    </li>
                </ul>

                <ul class="shop-form-ul shop-txtare-ul">
                    <li>
                        <div>
                            搜索关键字：
                        </div>
                        <textarea class="txtarea-key-word" id="SearchKey" placeholder="控制在80个字符之内"></textarea>
                    </li>
                    <li>
                        <div>
                            主营商品：
                        </div>
                        <textarea class="txtarea-major-goods" id="MajorGoods" placeholder="控制在100个字符之内"></textarea>
                    </li>
                    <li>
                        <div>
                            店铺描述：
                        </div>
                        <textarea class="txtarea-shop-desc" id="ShopDesc"></textarea>
                    </li>
                </ul>

                <div class="btn-list">
                    <input type="button" value="立即添加" onclick="addShopMsg()" class="am-btn am-btn-success am-btn-sm am-margin-right-lg" />
                    <input type="reset" value="重置表单" class="am-btn am-btn-default am-btn-sm" />
                </div>
            </form>
        </div>

        <!--上传店铺头像和店铺门头照-->
        <div class="form-main am-nbfc am-padding" style="display:none;" id="ShopImgMsgDiv">
            <ul class="shop-form-ul">

                <li class="upload-header-li">
                    <span class="input-title-span">店铺头像：</span>
                    <div class="upload-img-file">
                        <img src="../Assets/Imgs/Icon/shop_header.png" id="ShopHeaderImg" class="shop-header-img" />
                        <input id="fileupload_0" type="file" name="files[]" multiple="multiple" style="-moz-opacity:0;filter:alpha(opacity=0);opacity:0; width: 120px; height:110px; background:gray; overflow:hidden; position:absolute; left:80px; top:0" />
                    </div>

                    <div>
                        请上传店铺相关标志或形象图片<br />
                        尺寸：600 * 600 像素
                        <div class="btn-crop-div">
                            <a href="#" target="_blank" id="CropHeaderImgA" class="crop-header-img am-btn am-btn-success am-btn-xs am-round">裁剪头像</a>
                            <span onclick="refreshImgSrcRnd('ShopHeaderImg')" class="crop-header-img am-btn am-btn-default am-btn-xs am-round">刷新头像</span>
                        </div>

                    </div>

                </li>
                <li class="upload-shop-li">
                    <span class="input-title-span">店铺门头照：</span>
                    <div class="am-form-group am-form-file">
                        <button type="button" class="am-btn am-btn-danger am-btn-xs am-round">
                            <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                        </button>
                        <input id="fileupload_1" type="file" multiple>
                    </div>
                    <span class="hint-span">可上传 5 张照片</span>
                </li>
                <li class="img-pre-li" id="ImgPreLi">
                    <!--<div>
                        <img class="img-del" src="../Assets/Imgs/Icon/icon-del.png" />
                        <a href="#"><img src="../Assets/Imgs/shop_1.jpg" /></a>
                        <div class="crop-img-btn">
                            <div><a href="#" target="_blank">裁剪照片</a></div>
                            <div style="border-left: 1px solid #5A5A5A;">刷新照片</div>
                        </div>
                    </div>
                    <div>
                        <img class="img-del" src="../Assets/Imgs/Icon/icon-del.png" />
                        <a href="#"><img src="../Assets/Imgs/shop_2.jpg" /></a>
                        <div class="crop-img-btn">
                            <div>裁剪照片</div>
                            <div style="border-left: 1px solid #5A5A5A;">刷新照片</div>
                        </div>
                    </div>-->
                </li>
            </ul>
            <div class="btn-list">
                <input type="button" onclick="addFinishGoPage()" value="店铺添加完成" class="am-btn am-btn-success am-btn-sm am-margin-right-lg" />
            </div>
        </div>



    </div>




    <!--================选择地图位置窗口=================-->
    <div class="win-form-content" style="display:none;">
        <div class="win-form-main" style="width:100%; height: 800px; padding: 0; margin: 0;">
            <iframe id="mapPage" width="100%" height="800" frameborder=0
                    src="https://apis.map.qq.com/tools/locpicker?search=1&type=1&key=6C7BZ-3ZPLF-KB5JJ-NM2X4-JZU2S-FTBAN&referer=myapp">
            </iframe>
        </div>
    </div>



</body>
</html>
