<?xml version="1.0" encoding="utf-8"?>
<configuration>


  <!--项目的主要设置信息-->
  
  <!--保存的RndKeyRsa 一般是两小时有效-->
  <appSettings>
    <add key="RndKeyRsa" value="moiXp8XKFpi9DlAYzyI619ARitoKLHfN1/x8KShmKjRjvYhISSVThAMtCeMwtC7Biyr/gHxcPGaMqMy4+bL0LQCNmh2vmMH1IBt+DzvxiMRnFvSY15arL5vkHCuGzO19SfnuulldmRtxh56DSzAmlycbSJj0E1teJxYn0hWT5PM=" />
    <add key="CreateDateTime" value="2021-08-15 09:05:06" />
    <add key="RndKeyLifeHour" value="2" />
  </appSettings>



</configuration>
