/*===============店铺搜索结果==================*/
html, body {
    background: #ebebeb;
}

    body .oct-content {
        background: #ebebeb;
        padding-bottom: 100px;
    }


.oct-header {
    align-items: center;
    padding: 22px 6px;
}

.oct-header-mid {
    width: 100%;
    display: flex;
    align-items: center;
}



.oct-header-mid .header-search {
    width: 100%;
    background: #dbdbdb;
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding-top: 10px;
    height: 30px;
    color: #3b3b3b;
    font-weight: normal;
    text-align:left;
}
.header-search b{
    font-weight:normal;
    padding-left:5px;
    padding-top: 1px;
}
.header-search img{
    width: 20px;
    height: 20px;
}
.oct-header-right {
    width: 30px;
    font-size: 14px;
    color: #808080;
    font-size: 10px;
    text-align: center;
    padding-top: 5px;
}
.oct-header-right img{
    width: 20px;
    height: 20px;
}

.oct-header {
    display: block;
    height: 90px;
    padding: 5px 0;
    margin: 0;
}

.oct-header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ebebeb;
    padding-top: 0px;
    padding-bottom: 6px;
    padding-left: 5px;
    padding-right: 5px;
}
.header-sub {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 12px;
}

    .header-sub div {
        padding: 8px;
    }

        .header-sub div img {
            width: 12px;
            height: 12px;
            margin-bottom: 2px;
        }

.nav-item-current {
    color: red;
}

/*主体内容*/
.oct-content{
    padding-top: 50px;
}
/*-------------商品列表--------------*/
.goods-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 6px;
    padding-top: 5px;
}

.goods-item {
    width: 47%;
    overflow: hidden;
    background: white;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}

.goods-img {
    height: 150px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

    .goods-img img {
        width: 100%;
    }

.goods-name {
    font-size: 12px;
    padding: 4px;
    text-align: left;
    display: block;
    height: 50px;
    overflow: hidden;
}

.goods-price {
    padding: 4px;
    padding-right: 0;
    padding-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .goods-price b {
        color: #fc5c16;
        font-size: 14px;
    }

    .goods-price span {
        background: #fc5c16;
        font-size: 12px;
        color: white;
        padding: 0 5px;
        border-radius: 20px;
    }

    .goods-price .goods-price-no {
        color: gray;
        text-decoration: line-through;
        background: none;
    }

    .goods-price .goods-stock-residue {
        color: gray;
        background: none;
    }


    .goods-price div {
        font-size: 11px;
        color: #b5b5b5;
    }

    .goods-price img {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

.goods-item {
    position: relative;
    overflow: visible;
}

    .goods-item .goods-item-badge {
        background: #ff6a00;
        color: white;
        font-size: 12px;
        border-radius: 20px;
        position: absolute;
        top: -5px;
        left: -5px;
        padding-left: 5px;
        padding-right: 5px;
    }



/*========数据分页===========*/
/*列表承载Div,必须这样定义样式*/
.mescroll {
    position: fixed;
    top: 100px; /*这个值可以控制滚动区离顶部的距离*/
    bottom: 0;
    height: auto;
    padding-bottom: 80px;
    background: #ebebeb;
}