
@{
    Layout = null;
}

<!DOCTYPE html>

<html style="overflow: auto; overflow-x: hidden;">
<head>
    <!--
        <meta name="viewport" content="width=device-width initial-scale="1" />
    viewport是网页默认的宽度和高度，上面这行代码的意思是，网页宽度默认等于屏幕宽度（width=device-width），
    原始缩放比例（initial-scale=1）为1.0，即网页初始大小占屏幕面积的100%。 user-scalable=no  不允许缩放网页 -->
    <meta name="viewport" content="width=device-width,user-scalable=no" initial-scale="1" />
    <title>地图导航URL链接中转页</title>
    <style>
       html,body{
            padding: 0;
            margin:0;
        }
       .main-content{
           width: 100%;
       }
       .main-content img{
           width: 100%;
       }
    </style>
</head>
<body>
    <div class="main-content"> 
        <img src="../Assets/Imgs/amap_hint.png" />
    </div>
</body>
</html>
