
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>测试得到 微信用户信息</title>
</head>
<body>
    <div>
        测试得到 微信用户信息
    </div>
    <div>
       <a href="" style="font-size:20px;">获取微信用户信息</a>
    </div>
</body>
</html>
