
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>第三方系统调用测试</title>
</head>
<body>
    <div> 
        支付测试
    </div>
</body>
</html>
