
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>支付结果同步验证</title>
</head>
<body>
    <div> 
        支付结果同步验证 BillNumber = @ViewBag.BillNumber

    </div>
</body>
</html>
