
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestWxH5Pay</title>
</head>
<body>
    <div> 
        <a href="@ViewBag.RedirectPayURL" style="font-size: 20px;">H5立即支付</a>
    </div>
</body>
</html>
