
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>测试 微信普通红包 , "SRPC_01" 放发成功</title>
</head>
<body>
    <div> 
        @ViewBag.HtmlXml
    </div>
</body>
</html>
