
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>测试</title>
</head>
<body>
    <div> 
        <input type="file" value="E:\OpenCodeTigerProject\OctFileUploadSystem\OctFileUploadSystemWeb\OctFileUploadSystemWeb\OctFileUploadSystemWeb\Upload\BuyerHeaderImg\bhi_5625_201905211347504870.jpg" />
    </div>
</body>
</html>
