
@{
    Layout = null;
}

<!DOCTYPE html>

<html style="overflow: auto; overflow-x: hidden;">
<head>
    <!--
          <meta name="viewport" content="width=device-width initial-scale="1" />
      viewport是网页默认的宽度和高度，上面这行代码的意思是，网页宽度默认等于屏幕宽度（width=device-width），
      原始缩放比例（initial-scale=1）为1.0，即网页初始大小占屏幕面积的100%。 user-scalable=no  不允许缩放网页 -->
    <meta name="viewport" content="width=800,user-scalable=no" initial-scale="1" />
    <title>售后申请信息</title>
    <link href="../Assets/Lib/AmazeUI-2.7.2/css/amazeui.min.css" rel="stylesheet" />
    <link href="../Assets/Lib/AdminFrame/AdminPagePublic.css" rel="stylesheet" />

    <link href="../Assets/Css/AfterSalePage/AfterSaleApplyMsg.css" rel="stylesheet" />

    <script src="../Assets/Lib/AmazeUI-2.7.2/js/jquery-2.2.2.min.js"></script>
    <script src="../Assets/Lib/AmazeUI-2.7.2/js/amazeui.min.js"></script>
    <script src="../Assets/Lib/PublicTool.js"></script>
    <script src="../Assets/Lib/AdminFrame/AdminPagePublic.js"></script>
    <script src="../Assets/Lib/AlertConfirmWin/AlertConfirmWin.js"></script>
    <script src="../Assets/Lib/DialogWinDrag/DialogWinDrag.js"></script>
    <script src="../Assets/Lib/RegionCodeName.js"></script>

    <script src="../Assets/Js/AfterSalePage/AfterSaleApplyMsg.js"></script>


</head>
<body>


    <!--========隐藏控件记录信息===========-->
    <input type="hidden" id="hidOctWapWebAddrDomain" value="@ViewBag.OctWapWeb_AddrDomain" />
    <input type="hidden" id="hidApplyStatus" value="@ViewBag.ApplyStatus" />

    <!--面包屑导航-->
    <div class="nav am-cf am-nbfc" data-am-sticky="{top:0}">
        <ul class="am-breadcrumb">
            <li><a href="../NavPage/Index" class="am-icon-home">首页</a></li>
            <li><a href="../NavPage/NavSubList?NavName=售后管理">售后管理</a></li>
            <li class="am-active">售后申请信息</li>
        </ul>
    </div>

    <!--主体内容-->
    <div class="main am-nbfc" style="min-height: 600px;">

        <!--标题栏-->
        <div class="main-title am-cf am-nbfc">
            <div class="title-txt-div am-fl">
                <i class="am-icon-list"></i> 售后申请信息
            </div>
            <div class="title-btn-div am-fl">
                <!--<button class="title-btn am-btn am-btn-xs am-btn-danger am-round" onclick="window.location.href='../TradingPage/VerifyCheckCodeOrderStatus'"><i class="am-icon-get-pocket"></i> 订单核销验证</button>-->
            </div>
        </div>

        <!--搜索栏-->
        <div class="search-bar am-btn-toolbar am-cf">

            <div class="am-btn-group am-btn-group-xs am-cf item-txt-css">
                <input type="number" class="keyword-input am-form-field am-fl" id="ApplyID_se" placeholder="售后ID" />
            </div>
            <div class="am-btn-group am-btn-group-xs am-cf item-txt-css">
                <input type="number" class="keyword-input am-form-field am-fl" id="OrderID_se" placeholder="订单ID" />
            </div>
            <div class="am-btn-group am-btn-group-xs am-cf item-txt-css">
                <input type="number" class="keyword-input am-form-field am-fl" id="GoodsID_se" placeholder="商品ID" />
            </div>

            <div class="am-btn-group am-btn-group-xs am-cf" style="width: 130px;">
                <select id="ApplyStatus_se" data-am-selected="{btnWidth:'120',btnSize: 'xs',btnStyle: 'default'}">
                    售后状态【确认 - 买家发货 - 待商家签收 - 商家处理中 - 商家发回 - 完成】【确认 - 拒绝】【确认 - 待上门 - 上门服务中 - 完成】

                    <option value=" " selected>售后状态(不限)</option>
                    <option value="确认">审核确认</option>
                    <option value="买家发货">买家发货</option>
                    <option value="待商家签收">待商家签收</option>
                    <option value="商家处理中">商家处理中</option>
                    <option value="商家发回">商家发回</option>
                    <option value="待上门">待上门</option>
                    <option value="上门服务中">上门服务中</option>
                    <option value="退款中">退款中</option>
                    <option value="已退款">已退款</option>
                    <option value="完成">完成</option>
                    <option value="拒绝">拒绝售后</option>
                </select>
            </div>

            <div class="am-btn-group am-btn-group-xs am-cf" style="width: 130px;">
                <select id="ServiceType_se" data-am-selected="{btnWidth:'120',btnSize: 'xs',btnStyle: 'default'}">
                    <option value=" " selected>服务类型(不限)</option>
                    <option value="barter">换货</option>
                    <option value="maintain">维修</option>
                    <option value="refund">退货</option>
                </select>
            </div>

            <div class="am-btn-group am-btn-group-xs am-cf" style="width: 130px;">
                <select id="ServiceWay_se" data-am-selected="{btnWidth:'120',btnSize: 'xs',btnStyle: 'default'}">
                    <option value=" " selected>售后方式(不限)</option>
                    <option value="Express">快递售后</option>
                    <option value="Visiting">上门服务</option>
                </select>
            </div>

            <div class="am-btn-group am-btn-group-xs am-cf" style="width: 130px;">
                <select id="ApplyReason_se" data-am-selected="{btnWidth:'120',btnSize: 'xs',btnStyle: 'default'}">
                    <option value=" " selected>申请原因(不限)</option>
                    <option value="质量问题">质量问题</option>
                    <option value="商品故障">商品故障</option>
                    <option value="其他问题">其他问题</option>
                </select>
            </div>


            <div class="datetime-div am-btn-group am-btn-group-xs am-cf" style="width: 150px;">
                <div class="am-form-group am-form-icon">
                    <i class="am-icon-calendar"></i>
                    <input type="text" id="WriteDate_se" class="datetime-input am-form-field" style="background:white; width: 150px;" value="@ViewBag.WriteDate" placeholder="申请时间" data-am-datepicker="{theme: 'success',}" readonly>
                </div>
            </div>



            <div class="am-btn-group am-btn-group-xs am-cf" style="width: 210px;">
                <button type="button" id="btnSearch" class="search-btn am-fl am-btn am-radius am-btn-success">搜索</button>
            </div>


        </div>

        <!--表单区域-->
        <div class="table-div">

            <table class="table-content am-table-striped am-table-hover" width="100%">
                <thead>
                    <tr class="table-head am-success">
                        <td width="3%" height="22"><input type="checkbox" id="SelAllCb" name="SelAllCb" onchange="toggleSelAll()" /></td>
                        <td width="8%">售后ID</td>
                        <td width="8%">订单ID</td>
                        <td width="15%">商品ID</td>
                        <td width="10%">售后状态</td>
                        <td width="8%">服务类型</td>
                        <td width="9%">申请原因</td>
                        <td width="9%">售后方式</td>
                        <td width="10%">备注(仅商家可见)</td>
                        <td width="9%">申请时间<!--<div class="table-header-extra">订购时间</div>--></td>
                        <td width="11%">操作</td>
                    </tr>
                </thead>
                <tbody id="TbodyTrPage">
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td><a href="#" target="_blank">23432</a></td>
                        <td><a href="#" target="_blank">23432</a></td>
                        <td><a href="#" target="_blank">12334334</a></td>
                        <td>上门服务中</td>
                        <td>退货</td>
                        <td>质量问题</td>
                        <td>上门服务</td>
                        <td>请尽快上门</td>
                        <td>2019-05-05 13:27:45<!--<div class="table-tr-extra">2019-05-05 13:27:45</div>--></td>
                        <td>
                            <button class="table-btn am-btn am-btn-default am-btn-xs am-text-secondary am-round" style="margin-bottom:2px">审核确认</button>
                            <button class="table-btn am-btn am-btn-default am-btn-xs am-text-secondary am-round">确认签收</button>
                        </td>
                    </tr>

                </tbody>
            </table>

            <!--表格信息操作区与分页-->
            <div class="table-exe-div am-cf">
                <div class="table-exe-btn am-fl">
                    <div class="table-btn-bottom am-btn-group am-btn-group-xs">
                        <button type="button" class="am-btn am-btn-default" onclick="confirmReceiArrCb()">确认签收</button>
                    </div>
                </div>
                <div class="page-bar am-fr">
                    <ul class="am-pagination" id="PageBar1">
                        <li><a href="#">«</a></li>
                        <li><a href="#">1</a></li>
                        <li><span>...</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li class="am-active"><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li><span>...</span></li>
                        <li><a href="#">500</a></li>
                        <li><input type="text" class="page-go-text am-form-field" placeholder="跳转页" /></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
            </div>

            <!--备注说明-->
            <div class="memo-content">
                注意: <span>备注与说明</span>
            </div>
        </div>

    </div>


    <!---------------审核确认窗口---------------->
    <div class="check-confirm-win" id="CheckConfirmWin" style="display:none;">
        <div class="check-confirm-main">
            <ul class="check-confirm-ul">
                <li class="as-order-msg">
                    <label class="am-form-label">售后ID:</label>
                    <a id="ApplyIDA" href="#" target="_blank">…加载中…</a>
                    <label class="am-form-label">订单ID:</label>
                    <a id="OrderIDA" href="#" target="_blank"></a>
                    <label class="am-form-label">商品ID:</label>
                    <a id="GoodsIDA" href="#" target="_blank"></a>
                </li>
                <li>
                    <div class="refund-msg" id="RefundMsg" style="display:none;">
                        <div class="refund-msg-item">
                            <label class="am-form-label">商品单价:</label>
                            <span id="GoodsUnitPriceSpan">&#165;234.23</span>
                            <label class="am-form-label">申请数量:</label>
                            <span id="ApplyGoodsNumSpan">23</span>
                        </div>
                        <div class="refund-msg-item">
                            <label class="am-form-label">退款金额:<font color="red">*</font></label>
                            <input type="number" id="RefundMoneyWin" class="txt-css-win" style="color:orangered;font-weight:bold" placeholder="请输入退款金额，以‘元’为单位" />
                        </div>
                    </div>
                </li>

                <li>
                    <label class="am-form-label">售后方式:<font color="red">*</font></label>
                    <select id="ServiceWayWin" onchange="chgServiceWay()" style="padding: 5px;">
                        <option value="Express">快递售后</option>
                        <option value="Visiting">上门服务</option>
                    </select>
                </li>
                <li>
                    <!--快递售后-->
                    <div class="as-express-win" id="ExpressAs">
                        <div>
                            <label class="am-form-label">售后联系人:<font color="red">*</font></label>
                            <input type="text" id="DeliNameWin" class="txt-css-win" />
                        </div>
                        <div>
                            <label class="am-form-label">联系电话:<font color="red">*</font></label>
                            <input type="text" id="MobileWin" class="txt-css-win" placeholder="买家售后商品发货需要，请准确填写。" />
                        </div>
                        <div>
                            <label class="am-form-label">售后地址:<font color="red">*</font></label>
                            <select id="region_province"></select>
                            <select id="region_city"></select>
                            <select id="region_county"></select>
                            <input type="text" id="DetailAddrWin" class="txt-css-win detail-addr-win" />
                        </div>
                    </div>
                    <!--上门服务-->
                    <div class="as-express-win" id="VisitingAs" style="display:none;">
                        <div>
                            <label class="am-form-label">上门人员姓名:<font color="red">*</font></label>
                            <input type="text" id="SendShopManWin" class="txt-css-win" />
                        </div>
                        <div>
                            <label class="am-form-label">上门联系电话:<font color="red">*</font></label>
                            <input type="text" id="SendTelNumberWin" class="txt-css-win" />
                        </div>
                    </div>
                </li>
                <li>
                    <label class="am-form-label">售后备注:</label>
                    <input type="text" id="ApplyMemoWin" class="txt-css-win" placeholder="仅商家可见" />
                </li>
            </ul>
        </div>
    </div>


    <!---------------发回售后商品窗口---------------->
    <div class="send-express-win" id="SendExpressWin" style="display:none;">
        <div class="send-express-main">
            <ul class="send-express-ul">
                <li>
                    <label class="am-form-label">买家收货人:</label>
                    <span id="DeliNameWin">…加载中…</span>
                    <label class="am-form-label" style="padding-left: 40px;">售后ID:</label>
                    <a id="ApplyIDA" href="#" target="_blank"></a>
                </li>
                <li>
                    <label class="am-form-label">联系电话:</label>
                    <span id="MobileWin"></span>
                </li>
                <li>
                    <label class="am-form-label">收货地址:</label>
                    <span id="DetailAddrWin"></span>
                </li>
                <li>
                    <label class="am-form-label">快递名称:<font color="red">*</font></label>
                    <input type="text" id="ExpressNameWin" class="txt-css-win" />
                </li>
                <li>
                    <label class="am-form-label">快递单号:<font color="red">*</font></label>
                    <input type="text" id="ExpressNumberWin" class="txt-css-win" />
                </li>
            </ul>
        </div>
    </div>


    <!---------------退货签收窗口---------------->
    <div class="refund-recei-win" id="RefundReceiWin" style="display:none;">
        <div class="refund-recei-main">
            <ul class="refund-recei-ul">
                <li>
                    <label class="am-form-label">售后ID:</label>
                    <a id="ApplyIDA" href="#" target="_blank">…加载中…</a>
                    <label class="am-form-label">订单ID:</label>
                    <a id="OrderIDA" href="#" target="_blank">2342</a>
                    <label class="am-form-label">商品ID:</label>
                    <a id="GoodsIDA" href="#" target="_blank">234324</a>
                </li>
                <li>
                    <label class="am-form-label">商品单价:</label>
                    <span id="GoodsUnitPriceSpan">&#165;234.23</span>
                    <label class="am-form-label">申请数量:</label>
                    <span id="ApplyGoodsNumSpan">23</span>
                </li>
                <li>
                    <label class="am-form-label">退款金额:<font color="red">*</font></label>
                    <input type="text" id="RefundMoneyWin" class="txt-css-win" style="color:orangered;font-weight:bold" placeholder="请输入退款金额，以‘元’为单位" />
                </li>
            </ul>
        </div>
    </div>


    <!---------------拒绝售后窗口---------------->
    <div class="refuse-as-win" id="RefuseAsWin" style="display:none;">
        <div class="refuse-as-main">
            <ul class="refuse-as-ul">
                <li>
                    <label class="am-form-label">售后ID:</label>
                    <a id="ApplyIDA" href="#" target="_blank">…加载中…</a>
                    <label class="am-form-label">订单ID:</label>
                    <a id="OrderIDA" href="#" target="_blank">2342</a>
                    <label class="am-form-label">商品ID:</label>
                    <a id="GoodsIDA" href="#" target="_blank">234324</a>
                </li>
                <li>
                    <textarea class="reply-explain-txtarea" id="ReplyExplainWin" placeholder="请填写拒绝售后的理由和说明"></textarea>
                </li>
            </ul>
        </div>
    </div>

</body>
</html>
