<?xml version="1.0" encoding="utf-8"?>
<configuration>


  <!--项目的主要设置信息-->
  
  <!--保存的RndKeyRsa 一般是两小时有效-->
  <appSettings>
    <add key="RndKeyRsa" value="QEgC7a+LW3JA24fZmRcu9ua05I+70AKSBUSL2+F1segA401KiTWkaObk1qFDqjxE4dYS3+GsL7KWLRvzG8zL1Xan14+yKweSf7IisMDwvWdMVXqA9RZAUKd8cuGtpYy/WoRSTso9o9tqdhhAiso5nCsTgFzpfY0Sa73xDIN6VWk=" />
    <add key="CreateDateTime" value="2021-07-02 11:27:45" />
    <add key="RndKeyLifeHour" value="2" />
  </appSettings>



</configuration>
