<?xml version="1.0" encoding="utf-8"?>
<configuration>


	<!--项目的主要设置信息-->
	<appSettings>

		<!--此产品的唯一标识,每次给新客户配置服务器时，需要重新赋值-->
		<add key="ThisProductGuid" value="f4609e95-6b06-4190-ba09-c6a0e174c3b0" />
		
		<!--API接口请求配置-->
		<add key="UserKeyID" value="8866" />
		<add key="UserKey" value="9af7f46a-ea52-4aa3-b8c3-9fd484c69852" />
                                                                             


		<!--============系统业务逻辑配置参数===========-->

		<!--默认用户选择的城市区域代号,湖南省_长沙市-->
		<add key="SelCityRegionCodeArrDefault" value="430000_430100" />


		<!-- //OctCommonCodeSystemWeb 各项目通用代码项目 API请求地址域名  http://192.168.3.10:1100-->
		<add key="OctCommonCodeSystemWeb_ApiDomain" value="http://cc.opencodetiger.com" />

		<!-- OctUserGoodsShopSystemWeb (会员店铺产品系统) API请求地址域名  http://192.168.3.10:1100-->
		<add key="OctUserGoodsShopSystemWeb_ApiDomain" value="http://ugs.opencodetiger.com" />

		<!-- OctFileUploadSystemWeb (文件上传系统) API请求地址域名  http://192.168.3.10:1100-->
		<add key="OctFileUploadSystemWeb_ApiDomain" value="http://fu.opencodetiger.com" />

		<!-- 【上传文件系统服务器 域名列表 用^隔开】 OctFileUploadSystemWeb (文件上传系统) -->
		<add key="OctFileUploadSystemWebDomainListArr" value="http://fu.opencodetiger.com^http://fu.opencodetiger.com" />

		<add key="KeyName3" value="配置信息3的值" />




	</appSettings>

	<!--项目的数据库连接字符串-->
	<connectionStrings>

		<!--OctCommonCodeDB (通用数据库) 各项目配置参数 Api请求Key和密钥信息 商城各项需要写入数据库表的配置信息 -->
		<add name="OctCommonCodeDB_ConnectionStrings" connectionString="Data Source=.,1772;database=OctCommonCodeDB;UID=sa;Password=OpenCodeTiger168_ItHuang;Persist Security Info=True;Max Pool Size=5000;Min Pool Size=1;Connect Timeout=30;Connection Lifetime=30;Asynchronous Processing=true"
		  providerName="System.Data.SqlClient" />

		<!-- OctTradingSystemDB (交易系统 订单与财务 数据库)  -->
		<add name="OctTradingSystemDB_ConnectionStrings" connectionString="Data Source=.,1772;database=OctTradingSystemDB;UID=sa;Password=OpenCodeTiger168_ItHuang;Persist Security Info=True;Max Pool Size=5000;Min Pool Size=1;Connect Timeout=30;Connection Lifetime=30;Asynchronous Processing=true"
		 providerName="System.Data.SqlClient" />

		<!-- OctUserGoodsShopSystemDB （会员店铺产品系统数据库) -->
		<add name="OctUserGoodsShopSystemDB_ConnectionStrings" connectionString="Data Source=.,1772;database=OctUserGoodsShopSystemDB;UID=sa;Password=OpenCodeTiger168_ItHuang;Persist Security Info=True;Max Pool Size=5000;Min Pool Size=1;Connect Timeout=30;Connection Lifetime=30;Asynchronous Processing=true"
		 providerName="System.Data.SqlClient" />

		<!-- OctAfterSaleAccCusDB （售后,投诉,客服反馈,消息系统 ) -->
		<add name="OctAfterSaleAccCusDB_ConnectionStrings" connectionString="Data Source=.,1772;database=OctAfterSaleAccCusDB;UID=sa;Password=OpenCodeTiger168_ItHuang;Persist Security Info=True;Max Pool Size=5000;Min Pool Size=1;Connect Timeout=30;Connection Lifetime=30;Asynchronous Processing=true"
		 providerName="System.Data.SqlClient" />

		<!-- OctFileUploadSystemDB （文件上传系统数据库) -->
		<add name="OctFileUploadSystemDB_ConnectionStrings" connectionString="Data Source=.,1772;database=OctFileUploadSystemDB;UID=sa;Password=OpenCodeTiger168_ItHuang;Persist Security Info=True;Max Pool Size=5000;Min Pool Size=1;Connect Timeout=30;Connection Lifetime=30;Asynchronous Processing=true"
		 providerName="System.Data.SqlClient" />

		<!-- OctAdvertiserSystemDB （广告系统数据库) -->
		<add name="OctAdvertiserSystemDB_ConnectionStrings" connectionString="Data Source=.,1772;database=OctAdvertiserSystemDB;UID=sa;Password=OpenCodeTiger168_ItHuang;Persist Security Info=True;Max Pool Size=5000;Min Pool Size=1;Connect Timeout=30;Connection Lifetime=30;Asynchronous Processing=true"
		 providerName="System.Data.SqlClient" />



		<add name="SqlServer" connectionString="SqlServer这里连接字符串2222"
		  providerName="System.Data.SqlClient" />

		<add name="Access" connectionString="这里是Access数据库的连接值11112222"
		  providerName="System.Data.SqlClient" />



	</connectionStrings>



	<system.web>

	</system.web>
</configuration>
