
@{
    Layout = null;
}

<!DOCTYPE html>

<html style="overflow: auto; overflow-x: hidden;">
<head>
    <!--
        <meta name="viewport" content="width=device-width initial-scale="1" />
    viewport是网页默认的宽度和高度，上面这行代码的意思是，网页宽度默认等于屏幕宽度（width=device-width），
    原始缩放比例（initial-scale=1）为1.0，即网页初始大小占屏幕面积的100%。 user-scalable=no  不允许缩放网页 -->
    <meta name="viewport" content="width=800,user-scalable=no" initial-scale="1" />
    <title>支付设置信息</title>
    <link href="../Assets/Lib/AmazeUI-2.7.2/css/amazeui.min.css" rel="stylesheet" />
    <link href="../Assets/Lib/AdminFrame/AdminPagePublic.css" rel="stylesheet" />

    <script src="../Assets/Lib/AmazeUI-2.7.2/js/jquery-2.2.2.min.js"></script>
    <script src="../Assets/Lib/AmazeUI-2.7.2/js/amazeui.min.js"></script>
    <script src="../Assets/Lib/AdminFrame/AdminPagePublic.js"></script>
    <script src="../Assets/Lib/PublicTool.js"></script>
    <script src="../Assets/Lib/AlertConfirmWin/AlertConfirmWin.js"></script>
    <script src="../Assets/Lib/DialogWinDrag/DialogWinDrag.js"></script>
    <script src="../Assets/Js/ThirdApiCallPage/PaySetting.js"></script>

</head>
<body>

    <!--面包屑导航-->
    <div class="nav am-cf am-nbfc" data-am-sticky="{top:0}">
        <ul class="am-breadcrumb">
            <li><a href="../NavPage/Index" class="am-icon-home">首页</a></li>
            <li><a href="../NavPage/NavSubList?NavName=支付系统">支付系统</a></li>
            <li class="am-active">支付设置信息</li>
        </ul>
    </div>

    <!--主体内容-->
    <div class="main am-nbfc">

        <!--标题栏-->
        <div class="main-title am-cf am-nbfc">
            <div class="title-txt-div am-fl">
                <i class="am-icon-list"></i> 支付设置信息
            </div>
            <div class="title-btn-div am-fl">
                @*<button class="title-btn am-btn am-btn-xs am-btn-danger am-round" onclick="openAddWin()"><i class="am-icon-plus-circle"></i> 添加</button>*@

            </div>
        </div>

        <!--搜索栏-->
        <div class="search-bar am-btn-toolbar am-cf">

            <div class="am-btn-group am-btn-group-xs am-cf item-txt-css">
                <input type="number" class="keyword-input am-form-field am-fl" id="PaySettingID_se" placeholder="配置ID" />
            </div>

            <div class="am-btn-group am-btn-group-xs am-cf item-txt-css">
                <input type="text" class="keyword-input am-form-field am-fl" id="UserKeyID_se" placeholder="API用户ID" />
            </div>

            <div class="am-btn-group am-btn-group-xs am-cf" style="width: 200px;">
                <select id="PayType_se" data-am-selected="{btnWidth:'180',btnSize: 'xs',btnStyle: 'default'}">
                    <option value=" " selected>支付类型</option>
                    <option value="AllPayOrWeiXinPay">订单模式-微信支付宝(AllPayOrWeiXinPay)</option>
                    <option value="AllPayOrWeiXinPayNoOrder">非订单模式 -微信支付宝(AllPayOrWeiXinPayNoOrder)</option>
                </select>
            </div>

            <div class="am-btn-group am-btn-group-xs am-cf item-txt-css">
                <input type="text" class="keyword-input am-form-field am-fl" id="NotifyUrl_se" placeholder="支付结果异步通知URL" />
            </div>

            <div class="am-btn-group am-btn-group-xs am-cf item-txt-css">
                <input type="text" class="keyword-input am-form-field am-fl" id="ReturnUrl_se" placeholder="支付结果同步验证跳转URL" />
            </div>

            <div class="am-btn-group am-btn-group-xs am-cf item-txt-css">
                <input type="text" class="keyword-input am-form-field am-fl" id="QuitUrl_se" placeholder="支付中途退出跳转URL" />
            </div>

            @*<div class="am-btn-group am-btn-group-xs am-cf" style="width: 120px;">
                    <select id="IsLock_se" data-am-selected="{btnWidth:'110',btnSize: 'xs',btnStyle: 'default'}">
                        <option value=" " selected>锁定</option>
                        <option value="是">是</option>
                        <option value="否">否</option>
                    </select>
                </div>*@

            <div class="datetime-div am-btn-group am-btn-group-xs am-cf" style="width: 160px;">
                <div class="am-form-group am-form-icon">
                    <i class="am-icon-calendar"></i>
                    <input type="text" id="WriteDate_se" style="background:white;width: 130px;" class="datetime-input am-form-field" placeholder="添加日期" data-am-datepicker="{theme: 'success',}" readonly>
                </div>
            </div>


            <div class="am-btn-group am-btn-group-xs am-cf" style="width: 210px;">
                <button type="button" id="btnSearch" class="search-btn am-fl am-btn am-radius am-btn-success">搜索</button>
            </div>


        </div>

        <!--表单区域-->
        <div class="table-div">

            <table class="table-content am-table-striped am-table-hover" width="100%">
                <thead>
                    <tr class="table-head am-success">
                        <td width="7%">配置ID</td>
                        <td width="8%">API用户ID</td>
                        <td width="17%">支付类型</td>
                        <td width="17%">支付结果异步通知URL</td>
                        <td width="17%">支付结果同步跳转URL</td>
                        <td width="17%">支付中途退出跳转URL</td>
                        <td width="11%">添加日期</td>
                        <td width="8%">操作</td>
                    </tr>
                </thead>
                <tbody id="TbodyTrPage">
                    <tr>
                        <td>234332</td>
                        <td>8866</td>
                        <td>
                            订单模式-微信支付宝(AllPayOrWeiXinPay)
                        </td>
                        <td>http://localhost:1600/PayPub/PayNotifyUrl</td>
                        <td>http://localhost:1000/Pay/PaySuRedirect</td>
                        <td>http://localhost:1000/Buyer/MyOrder</td>
                        <td>2019-05-05 13:27:45</td>
                        <td>
                            <button class="table-btn am-btn am-btn-default am-btn-xs am-text-success am-round">修改</button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!--表格信息操作区与分页-->
            <div class="table-exe-div am-cf">
                <div class="table-exe-btn am-fl">
                    <div class="table-btn-bottom am-btn-group am-btn-group-xs">
                        @*<button type="button" class="am-btn am-btn-default" onclick="delSearchFindMsgArr()"><span class="am-icon-trash-o"></span> 批量删除</button>*@
                    </div>
                </div>
                <div class="page-bar am-fr">
                    <ul class="am-pagination" id="PageBar1">
                        <li><a href="#">«</a></li>
                        <li><a href="#">1</a></li>
                        <li><span>...</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li class="am-active"><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li><span>...</span></li>
                        <li><a href="#">500</a></li>
                        <li><input type="text" class="page-go-text am-form-field" placeholder="跳转页" /></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
            </div>

            <!--备注说明-->
            <div class="memo-content">
                注意: <span>系统级配置参数,请谨慎修改！</span>
            </div>

        </div>

    </div>



    <!--添加与编辑窗口主体内容-->
    <div class="add-edit-win" id="AddEditWin" style="display:none;">
        <div class="add-edit-main">
            <ul class="add-edit-ul">
                <li>
                    <span>API用户ID：</span>
                    <b id="UserKeyIDWin">23432423</b>
                </li>
                <li>
                    <span>支付类型：</span>
                    <b id="PayTypeWin">订单模式-微信支付宝(AllPayOrWeiXinPayNoOrder)</b>
                </li>
                <li>
                    <span>支付结果异步通知URL：</span><br />
                    <input type="text" class="txt-css" style="width: 80%; padding: 8px;" id="NotifyUrlWin" />
                </li>
                <li>
                    <span>支付结果同步跳转URL：</span><br />
                    <input type="text" class="txt-css" id="ReturnUrlWin" style="width: 80%; padding: 8px;" />
                </li>
                <li>
                    <span>支付中途退出跳转URL：</span><br />
                    <input type="text" class="txt-css" id="QuitUrlWin" style="width: 80%; padding: 8px;" />
                </li>

            </ul>
        </div>
    </div>






</body>
</html>
