
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="../Assets/Lib/AmazeUI-2.7.2/css/amazeui.min.css" rel="stylesheet" />

    <script src="../Assets/Lib/jquery-2.2.2.min.js"></script>
    <script src="../Assets/Lib/AmazeUI-2.7.2/js/amazeui.min.js"></script>

    <script src="../Assets/Lib/PublicTool.js"></script>
    <script src="~/Assets/Lib/AlertConfirmWin/AlertConfirmWin.js"></script>

</head>
<body>
    <div>

       <script type="text/javascript">toastWin("删除成功删除成功删除成功删除成功删除成功删除成功删除成功删除成功",20000)</script>

    </div>
</body>
</html>
