
@{
    Layout = null;
}

<!DOCTYPE html>

<html style="overflow: auto; overflow-x: hidden;">
<head>
    <meta name="viewport" content="width=800" />
    <title>首页</title>

    <link href="../Assets/Lib/AmazeUI-2.7.2/css/amazeui.min.css" rel="stylesheet" />
    <link href="../Assets/Css/IframePage/Public.css" rel="stylesheet" />
    <link href="../Assets/Css/IframePage/Index.css" rel="stylesheet" />

    <script src="../Assets/Lib/AmazeUI-2.7.2/js/jquery-2.2.2.min.js"></script>
    <script src="../Assets/Lib/AmazeUI-2.7.2/js/amazeui.min.js"></script>
    <script src="../Assets/Js/IframePage/Public.js"></script>


</head>
<body>

    <!--面包屑导航-->
    <div class="nav am-cf am-nbfc" data-am-sticky="{top:0}">
        <ul class="am-breadcrumb">
            <li><a href="#" class="am-icon-home">首页</a></li>
            <li><a href="#">系统信息</a></li>
            <li class="am-active">内容</li>
        </ul>
    </div>

    <!--主体内容-->
    <div class="main">

        <!--统计条-->
        <div class="main-count am-cf am-nbfc">

            <div class="main-count-item am-fl am-animation-shake">
                <div class="count-item-left am-fl">
                    <i class="am-icon-user"></i>
                </div>
                <div class="count-item-right am-fl">
                    <div class="count-text">3432</div>
                    <div>今日新增用户</div>
                </div>
            </div>

            <div class="main-count-item am-fl am-animation-shake">
                <div class="count-item-left am-fl" style="background: #FF6C60">
                    <i class="am-icon-area-chart"></i>
                </div>
                <div class="count-item-right am-fl">
                    <div class="count-text">3432</div>
                    <div>今日收入</div>
                </div>
            </div>

            <div class="main-count-item am-fl am-animation-shake">
                <div class="count-item-left am-fl" style="background: #FACE2C">
                    <i class="am-icon-shopping-cart"></i>
                </div>
                <div class="count-item-right am-fl">
                    <div class="count-text">3432</div>
                    <div>商品数量</div>
                </div>
            </div>

            <div class="main-count-item am-fl am-animation-shake">
                <div class="count-item-left am-fl" style="background: #40C4F2">
                    <i class="am-icon-user"></i>
                </div>
                <div class="count-item-right am-fl">
                    <div class="count-text">3432</div>
                    <div>今日访客</div>
                </div>
            </div>


        </div>

        <!--表单主体-->
        <div class="form-main am-g am-cf am-nbfc" style="height: 2000px;">

            <div class="form-main-left am-u-sm-8">

                <!--左则内容区-->
                <div class="form-left-content">

                    <div class="left-content-1">
                        左则内容区11111
                    </div>
                    <div class="left-content-2">
                        左则内容区2222
                    </div>

                </div>

            </div>
            <div class="form-main-right am-u-sm-4">

                <!--右则内容区-->
                <div class="form-right-content">

                    <div class="right-content-1">
                        右则内容区11111
                    </div>
                    <div class="right-content-2">
                        右则内容区2222
                    </div>


                </div>

            </div>

        </div>

    </div>

    <!--页脚 版本信息
    <div class="page-footer am-cf am-nbfc">
        版权所有@2019
    </div>-->
    <!--返回顶部按钮
    <div class="go-page-top" data-am-smooth-scroll>
        <i class="go-page-top-icon am-icon-arrow-up"></i>
    </div>-->

</body>
</html>
