<?xml version="1.0" encoding="utf-8"?>
<configuration>


	<!--项目的主要设置信息-->
	<appSettings>

		<!--==============【业务逻辑配置参数 】=====================-->

		<!--商城名称-->
		<add key="MallName" value="OctShop免费开源大型专业级商城系统"/>

		<!--此产品的唯一标识,每次给新客户配置服务器时，需要重新赋值-->
		<add key="ThisProductGuid" value="f4609e95-6b06-4190-ba09-c6a0e174c3b0" />

		<!--API接口请求配置-->
		<add key="UserKeyID" value="8866" />
		<add key="UserKey" value="9af7f46a-ea52-4aa3-b8c3-9fd484c69852" />

		<!--发送短信间隔时间(以“秒”为单位)（没过间隔时间不能再次发送）
    <add key="OverSendSmsDiffSecond" value="70" />-->

		<!--非订单支付，查询异步通知回调URL 的 UserKeyID 值  回调地址是根据UserKeyID来查询-->
		<add key="PayNoOrderNotifyUrlUserKeyID" value="8866" />


		<!--==============【各系统的域名URL 】=====================-->


		<!-- //OctCommonCodeSystemWeb 各项目通用代码项目 API请求地址域名  http://192.168.1.220:1100-->
		<add key="OctCommonCodeSystemWeb_ApiDomain" value="http://cc.opencodetiger.com" />

		<!-- OctUserGoodsShopSystemWeb (会员店铺产品系统) API请求地址域名  http://192.168.3.10:1200-->
		<add key="OctUserGoodsShopSystemWeb_ApiDomain" value="http://ugs.opencodetiger.com" />

		<!-- OctFileUploadSystemWeb (文件上传系统) API请求地址域名  http://192.168.3.10:1400-->
		<add key="OctFileUploadSystemWeb_ApiDomain" value="http://fu.opencodetiger.com" />

		<!-- OctThirdApiCallSystemWeb (第三方系统调用) API请求地址域名 http://192.168.1.220:1600-->
		<add key="OctThirdApiCallSystemWeb_ApiDomain" value="http://tac.opencodetiger.com" />

		<!-- OctWapWeb 手机Web网站(公众号)项目 地址域名  http://192.168.3.10:1600 -->
		<add key="OctWapWeb_WebDomain" value="https://h5.opencodetiger.com" />



		<!-- ==================【 第三方系统的接口调用 域名】=================-->

		<!--即时查询物流信息API的URL-->
		<add key="KdApiSearch_ApiUrl" value="http://api.kdniao.com/api/dist" />
		<!--单号识别API的URL-->
		<add key="KdApiOrderDistinguish_ApiUrl" value="http://api.kdniao.com/Ebusiness/EbusinessOrderHandle.aspx" />




	</appSettings>

	<!--项目的数据库连接字符串-->
	<connectionStrings>

		<!--OctCommonCodeDB (通用数据库) 各项目配置参数 Api请求Key和密钥信息 商城各项需要写入数据库表的配置信息 -->
		<add name="OctCommonCodeDB_ConnectionStrings" connectionString="Data Source=.,1772;database=OctCommonCodeDB;UID=sa;Password=OpenCodeTiger168_ItHuang;Persist Security Info=True;Max Pool Size=5000;Min Pool Size=1;Connect Timeout=30;Connection Lifetime=30;Asynchronous Processing=true"
		  providerName="System.Data.SqlClient" />

		<!-- OctTradingSystemDB (交易系统 订单与财务 数据库)  -->
		<add name="OctTradingSystemDB_ConnectionStrings" connectionString="Data Source=.,1772;DataBase=OctTradingSystemDB;UID=sa;Password=OpenCodeTiger168_ItHuang;Persist Security Info=True;Max Pool Size=5000;Min Pool Size=1;Connect Timeout=30;Connection Lifetime=30;Asynchronous Processing=true"
		  providerName="System.Data.SqlClient" />

		<!-- OctUserGoodsShopSystemDB （会员店铺产品系统数据库) -->
		<add name="OctUserGoodsShopSystemDB_ConnectionStrings" connectionString="Data Source=.,1772;database=OctUserGoodsShopSystemDB;UID=sa;Password=OpenCodeTiger168_ItHuang;Persist Security Info=True;Max Pool Size=5000;Min Pool Size=1;Connect Timeout=30;Connection Lifetime=30;Asynchronous Processing=true"
		 providerName="System.Data.SqlClient" />

		<!-- OctAfterSaleAccCusDB （售后,投诉,客服反馈,消息系统 ) -->
		<add name="OctAfterSaleAccCusDB_ConnectionStrings" connectionString="Data Source=.,1772;database=OctAfterSaleAccCusDB;UID=sa;Password=OpenCodeTiger168_ItHuang;Persist Security Info=True;Max Pool Size=5000;Min Pool Size=1;Connect Timeout=30;Connection Lifetime=30;Asynchronous Processing=true"
		 providerName="System.Data.SqlClient" />

		<!-- OctFileUploadSystemDB （文件上传系统数据库) -->
		<add name="OctFileUploadSystemDB_ConnectionStrings" connectionString="Data Source=.,1772;database=OctFileUploadSystemDB;UID=sa;Password=OpenCodeTiger168_ItHuang;Persist Security Info=True;Max Pool Size=5000;Min Pool Size=1;Connect Timeout=30;Connection Lifetime=30;Asynchronous Processing=true"
		 providerName="System.Data.SqlClient" />

		<!-- OctThirdApiCallSystemDB (第三方系统调用数据库) -->
		<add name="OctThirdApiCallSystemDB_ConnectionStrings" connectionString="Data Source=.,1772;database=OctThirdApiCallSystemDB;UID=sa;Password=OpenCodeTiger168_ItHuang;Persist Security Info=True;Max Pool Size=5000;Min Pool Size=1;Connect Timeout=30;Connection Lifetime=30;Asynchronous Processing=true"
		 providerName="System.Data.SqlClient" />


	</connectionStrings>



	<system.web>

	</system.web>
</configuration>
