/*=================== 商品列表及操作 ====================*/

/*主体内容*/
.main {
    clear:both;
}

/*项目名称，标题栏*/
.main-title {
    font-size: 16px;
    font-weight: bold;
    color: #8f8f8f;
    padding-bottom: 10px;
    border-bottom: 1px solid #e8e8e8;
}

.title-btn {
    padding: 4px 10px;
    font-size: 11px;
}

.title-btn-div {
    padding-left: 10px;
}

.title-txt-div {
    padding-top: 2px;
}

/*搜索栏*/
.search-bar {
    padding: 8px 0;
    clear: both;
}

    .search-bar .am-btn-group {
        width: 120px;
        height: 30px;
    }
/*选择日期文本框*/
.datetime-input {
    padding: 4px;
    background: white;
    font-size: 12px;
    width: 100px;
    cursor: pointer;
}

.keyword-input {
    font-size: 12px;
    padding: 4px;
    width: 140px;
    margin-right: 10px;
}

.search-btn {
    padding: 3px 10px;
    font-size: 11px;
    margin-top: 0px;
}
/*表格区域*/
.table-content {
    width: 100%;
    border-collapse: collapse;
}

    .table-content .table-head td {
        background: #EDF7ED;
        color: #5EB95E;
        font-weight: bold;
        padding: 8px 2px;
        border-bottom: 2px solid #e8e8e8;
    }

    .table-content tr td {
        text-align: center;
        border: 1px solid #e8e8e8;
        padding: 2px;
    }

.table-btn {
    font-size: 12px;
    padding: 5px 10px;
    background: white;
}

.table-input-text {
    padding: 2px;
    font-size: 12px;
}
/*表格信息操作区与分页*/
.table-exe-div {
    margin-top: 10px;
}

.table-btn-bottom button {
    background: white;
    font-size: 10px;
    padding: 5px 8px;
    margin-bottom: 3px;
}

.table-exe-btn {
    margin-bottom: 10px;
}
/*数据分页条*/
.am-pagination {
    padding: 0;
    margin: 0;
}

.page-go-text {
    padding: 6px 2px;
    width: 45px;
    font-size: 12px;
    color: #0E90D2;
    text-align: center;
    border: 1px solid #DDDDDD;
    margin-right: 4px;
    display: block;
    height: 28px;
}
/*备注说明*/
.memo-content {
    clear: both;
    overflow: hidden;
    font-size: 12px;
    border-top: 1px solid #e8e8e8;
    margin-top: 10px;
    padding-top: 10px;
    color: #8f8f8f;
}
