
@{
    Layout = null;
}

<!DOCTYPE html>

<html style="overflow: auto; overflow-x: hidden;">
<head>
    <!--
        <meta name="viewport" content="width=device-width initial-scale="1" />
    viewport是网页默认的宽度和高度，上面这行代码的意思是，网页宽度默认等于屏幕宽度（width=device-width），
    原始缩放比例（initial-scale=1）为1.0，即网页初始大小占屏幕面积的100%。 user-scalable=no  不允许缩放网页 -->
    <meta name="viewport" content="width=device-width,user-scalable=no" initial-scale="1" />
    <title id="PageTitle">礼品详情</title>
    <link href="../Assets/Lib/AmazeUI-2.7.2/css/amazeui.min.css" rel="stylesheet" />
    <link href="../Assets/Css/PublicCss.css" rel="stylesheet" />
    <link href="../Assets/Lib/lightslider/lightslider.css" rel="stylesheet" />
    <link href="../Assets/Css/Goods/GoodsDetail.css" rel="stylesheet" />
    <link href="../Assets/Css/Present/PresentDetail.css" rel="stylesheet" />

    <script src="../Assets/Lib/jquery-2.2.2.min.js"></script>
    <script src="../Assets/Lib/PhotoSwipe/initPhotoSwipe.js"></script>
    <script src="../Assets/Lib/lightslider/lightslider.js"></script>
    <script src="../Assets/Lib/AlertConfirmWin/AlertConfirmWin.js"></script>
    <script src="../Assets/Lib/SliderDownWin/SliderDownWin.js"></script>
    <script src="../Assets/Lib/PublicTool.js"></script>
    <script src="../Assets/Js/Present/PresentDetail.js"></script>

</head>
<body>

    <!--隐藏控件记录值-->
    <input type="hidden" id="hidPID" value="@ViewBag.PID" />
    <input type="hidden" id="hidShopUserID" value="" />
    <input type="hidden" id="hidBuyerUserID" value="@ViewBag.BuyerUserID" />
    <input type="hidden" id="hidBuyerReceiAddrSelCookieArr" value="@ViewBag.BuyerReceiAddrSelCookieArr" />
    <input type="hidden" id="hidInputOrderNumber" value="1" />
    <input type="hidden" id="hidExpressType" value="" />


    <!--头部-->
    <div class="oct-header">
        <div class="oct-header-left">
            <a href="javascript:history.back(-1)"><img alt="返回" src="../Assets/Imgs/Icon/back.png" /></a>
        </div>
        <div class="oct-header-mid">
            <div class="header-tab-current"><a href="../Present/PresentDetail?PID=@ViewBag.PID">礼品</a></div>
            <div><a href="../Present/PresentDetailMsg?PID=@ViewBag.PID">详情</a></div>
        </div>
        <div class="oct-header-right">
            <a href="../Buyer/Index"><img class="header-icon-my" src="../Assets/Imgs/Icon/my.png" /></a>
        </div>
    </div>

    <!--主体内容-->
    <div class="oct-content">

        <!-- 轮播区域 -->
        <div class="oct-slider">

            <div class="sliderMainContent" id="sliderMainContent" style="overflow:hidden;">


            </div>

            <div class="slider-pager-content">
                <div id="SliderCountDiv">0/0</div>
            </div>
        </div>


        <!--价格区-->
        <div class="goods-price">
            <div class="goods-price-top">
                <div class="price-top-left">
                    <b id="IntegralPriceLowB">积分:5235.00</b><span id="IntegralNoEnough" class="integral-no-enough"></span>
                </div>
                <div class="price-top-right">
                    <div style="padding-bottom: 6px;"><b class="surplus-txt" id="SurplusTxtB">剩余:2323432</b></div>
                    <div class="btn-fav" onclick="addBuyerFocusFav()">关注</div>
                </div>
            </div>
            <div class="goods-price-mid" id="PresentTitle">
                创意蘑菇台灯创意蘑菇台灯创意蘑菇台灯创意蘑菇台灯创意蘑菇台灯创意蘑菇台灯创
                意蘑菇台灯创意
            </div>
            <div class="goods-price-bottom">
                <div id="SpecPropDiv">
                    <!--2018款，黑色，27码-->
                </div>
                <div class="goods-support-msg" id="DeliveryShopExpense">
                    <span class="badge-red-span" id="IsEntitySpan" style="display:none;">实体店</span> <!--<span id="IsShopExpenseSpan">需到店自取</span>-->
                </div>
            </div>
        </div>


        <!--配送方式-->
        <div class="express-type" id="ExpressType">
            <div class="express-type-left">
                配送方式
            </div>
            <div class="express-type-right" id="ExpressTypeRight">
                <span class="express-type-current">送货上门(快递)</span> <span>到店消费/自取</span>
            </div>
        </div>


        <!--运费，送至-->
        <div class="express-freight" id="ExpressFreight">

            <div class="express-freight-top" onclick="openSelReceiAddrWin()">
                <div class="express-top-left">
                    <span>送至：</span>
                    <div class="express-address">
                        <div id="ExpressAddressDiv">
                            无收货地址
                        </div>
                        <div>
                            <b>现货</b>,一般两到三天可送到你手中。
                        </div>
                    </div>
                </div>
                <div class="express-top-right">
                    <img src="../Assets/Imgs/Icon/3point.png" />
                </div>
            </div>

            <div class="express-freight-mid">
                <span>运费：</span><b id="FreightMoneyB">免运费</b>
            </div>
        </div>

        <!--到店消费/自取 店铺导航-->
        <div class="shop-addr-nav" id="ShopAddrNav" style="display:none;">
            <div class="shop-addr-nav-left">
                <div>
                    <span>店铺地址：</span>
                    <img src="../Assets/Imgs/Icon/address.png" />
                    <span class="shop-nav-val-span" id="ShopAddrSpan">湖南省开元西路234号湖南省开元西路234号</span>
                </div>
                <div>
                    <span>配送：</span>
                    <span class="shop-nav-val-span">到店消费/自取</span>
                    <span style="padding-left: 15px;">电话：</span>
                    <a href="tel:13203156002" id="ShopTelA">13203156002</a>
                </div>
            </div>
            <div class="shop-addr-nav-right">
                <a href="javascript:void(0)" onclick="openShopNavWin()">
                    <img src="../Assets/Imgs/Icon/addr_nav.png" /><br />
                    导航
                </a>
            </div>
        </div>

        <!--兑换须知-->
        <div class="exchange-note">
            <div class="exchange-note-left">兑换须知：</div>
            <div class="exchange-note-right" id="ExchangeNote">
                请在上午的时候来，兑换需要验证码哦
                请在上午的时候来，兑换需要验证码哦
                请在上午的时候来，兑换需要验证码哦
                请在上午的时候来，兑换需要验证码哦
                请在上午的时候来，兑换需要验证码哦
            </div>
        </div>


        <!--查看商品图文详情-->
        <div class="view-appraise-img">
            <a href="../Present/PresentDetailMsg?PID=@ViewBag.PID">查看礼品图文详情</a>
        </div>



        <!--店铺信息-->
        <div class="shop-msg" id="ShopMsgBar">
            <div class="shop-msg-1" id="ShopMsgNameTitleDiv">
                <div class="shop-msg-left" id="ShopHeaderImgDiv">
                    <a href="#">
                        <img src="../Assets/Imgs/01.jpg" />
                    </a>
                </div>
                <div class="shop-msg-right">
                    <div class="shop-right-top" id="ShopNameDiv">
                        <a href="#" target="_blank">湖漫官方旗舰店官方旗舰店</a>
                        <span class="shop-label">商城好店</span>
                        <span class="shop-arrow">&nbsp;</span>
                    </div>
                    <div class="shop-right-mid" id="ShopAppraiseDiv">
                        综合: <b>9.5</b>
                        物流: <b>9.5高</b>
                        商品: <b>9.5高</b>
                        服务: <b>9.5高</b>
                    </div>
                    <div class="shop-right-bottom">
                        <b id="FavAttenB"> 0 </b>人关注
                    </div>

                </div>
            </div>

            <div class="shop-msg-2" id="MajorGoodsDiv">
                店铺主营
            </div>

            <div class="shop-msg-3">
                <ul id="PreListGoodsMsgUl">
                    <li>
                        <a href="#">
                            <img src="../Assets/Imgs/02.jpg" /><br />
                            2018年冬季新款
                        </a>
                    </li>
                </ul>
            </div>

            <div class="shop-msg-4">

                <a href="#" class="customer-service" id="CusServiceA">联系客服</a>
                <a href="#" class="go-shop" id="GoShopA">进店逛逛</a>

            </div>

        </div>




    </div>

    <!--页脚-->
    <div class="oct-footer">
        <a href="#" id="CusServiceAFooter">
            <img src="../Assets/Imgs/Icon/service.png" />
            客服
        </a>
        <a href="#" id="GoShopAFooter">
            <img src="../Assets/Imgs/Icon/shop.png" />
            店铺
        </a>
        <a href="javascript:submitPresentOrder()" class="btn-order" id="BtnOrder" style="width: 400px;margin-left: 40px;">
            立即兑换
        </a>
    </div>



    <!--选择店铺导航地图-->
    <div class="win-sel-shopnav" id="WinSelShopNav" style="display:none;">
        <div class="win-shopnav-content">
            <ul>
                <li class="shopnav-title-li">
                    选择导航地图
                </li>
                <li>
                    <a href="#" target="_blank" id="qqmapA">腾讯地图</a>
                </li>
                <li>
                    <a href="#" target="_blank" id="amapA">高德地图</a>
                </li>
                <li>
                    <a href="#" target="_blank" id="bdmapA">百度地图</a>
                </li>
                <li>
                    <a href="javascript:void(0)" onclick="toggleSilderDownWin()" style="color: #000000; padding-bottom: 20px;">取消</a>
                </li>
            </ul>
        </div>
    </div>


    <!--选择收货地址-->
    <div class="win-sel-receiaddr" id="WinSelReceiAddr" style="display:none;">
        <div class="win-receiaddr-content">
            <div class="win-receiaddr-title">
                配送至
                <button type="button" class="am-close" onclick="toggleSilderDownWin()">&times;</button>
            </div>
            <div class="win-receiaddr-list">
                <ul id="ReceiAddListUl">
                    <li>
                        …无收货地址,请选择添加…
                    </li>
                </ul>
            </div>
        </div>
        <div class="win-receiaddr-btn">
            <a href="../Buyer/ReceiAddrList" id="ReceiAddrABtn">选择其他地址</a>
        </div>
    </div>



</body>
</html>
