
@{
    Layout = null;
}

<!DOCTYPE html>

<html style="overflow: auto; overflow-x: hidden;">
<head>
    <meta name="viewport" content="width=device-width" initial-scale="1" />
    <title>功能导航首页</title>
    <link href="../Assets/Lib/AmazeUI-2.7.2/css/amazeui.min.css" rel="stylesheet" />
    <link href="../Assets/Css/NavPage/Index.css" rel="stylesheet" />

</head>
<body>

    <!--隐藏控件记录值-->
    <input type="hidden" id="hidShopID" value="@ViewBag.ShopID" />


    <div class="main">

        <div class="nav-item" style="display:@ViewBag.IsShowMobileDisplay">
            <a href="../NavPage/NavSubList?NavName=移动端首页" class="nav-left-nav-a"> <i class="am-icon-mobile" style="font-size: 22px;"></i>移动端首页</a>
        </div>

        <div class="nav-item">
            <a href="../NavPage/NavSubList?NavName=系统信息" class="nav-left-nav-a"> <i class="am-icon-home" style="font-size: 22px;"></i>系统信息</a>
        </div>

        <div class="nav-item">
            <a href="../NavPage/NavSubList?NavName=交易管理" class="nav-left-nav-a"> <i class="am-icon-truck" style="font-size: 22px;"></i>交易管理</a>
        </div>

        <div class="nav-item">
            <a href="../NavPage/NavSubList?NavName=扫码收单&SID=@ViewBag.ShopID" class="nav-left-nav-a"> <i class="am-icon-qrcode" style="font-size: 22px;"></i>扫码收单</a>
        </div>

        <div class="nav-item">
            <a href="../NavPage/NavSubList?NavName=发票管理" class="nav-left-nav-a"> <i class="am-icon-newspaper-o" style="font-size: 22px;"></i>发票管理</a>
        </div>

        <div class="nav-item">
            <a href="../NavPage/NavSubList?NavName=商品管理" class="nav-left-nav-a"> <i class="am-icon-cubes" style="font-size: 22px;"></i>商品管理</a>
        </div>

        <div class="nav-item">
            <a href="../NavPage/NavSubList?NavName=店铺管理&SID=@ViewBag.ShopID" class="nav-left-nav-a"> <i class="am-icon-institution" style="font-size: 22px;"></i>店铺管理</a>
        </div>

        <div class="nav-item">
            <a href="../NavPage/NavSubList?NavName=运费管理" class="nav-left-nav-a"> <i class="am-icon-plane" style="font-size: 22px;"></i>运费管理</a>
        </div>

        <div class="nav-item">
            <a href="../NavPage/NavSubList?NavName=礼品管理" class="nav-left-nav-a"> <i class="am-icon-gift" style="font-size: 22px;"></i>礼品管理</a>
        </div>

        <div class="nav-item">
            <a href="../NavPage/NavSubList?NavName=积分管理" class="nav-left-nav-a"> <i class="am-icon-life-ring" style="font-size: 22px;"></i>积分管理</a>
        </div>

        <div class="nav-item">
            <a href="../NavPage/NavSubList?NavName=优惠券" class="nav-left-nav-a"> <i class="am-icon-money" style="font-size: 22px;"></i>优惠券</a>
        </div>

        <div class="nav-item">
            <a href="../NavPage/NavSubList?NavName=秒杀抢购" class="nav-left-nav-a"> <i class="am-icon-clock-o" style="font-size: 22px;"></i>秒杀抢购</a>
        </div>

        <div class="nav-item">
            <a href="../NavPage/NavSubList?NavName=拼团管理" class="nav-left-nav-a"> <i class="am-icon-users" style="font-size: 22px;"></i>拼团管理</a>
        </div>

        <div class="nav-item">
            <a href="../NavPage/NavSubList?NavName=活动管理" class="nav-left-nav-a"> <i class="am-icon-star-half-o" style="font-size: 22px;"></i>活动管理</a>
        </div>

        <div class="nav-item">
            <a href="../NavPage/NavSubList?NavName=抽奖管理" class="nav-left-nav-a"> <i class="am-icon-trophy" style="font-size: 22px;"></i>抽奖管理</a>
        </div>

        <div class="nav-item">
            <a href="../NavPage/NavSubList?NavName=评价管理" class="nav-left-nav-a"> <i class="am-icon-comment" style="font-size: 22px;"></i>评价管理</a>
        </div>

        <div class="nav-item">
            <a href="../NavPage/NavSubList?NavName=售后管理" class="nav-left-nav-a"> <i class="am-icon-ambulance" style="font-size: 22px;"></i>售后管理</a>
        </div>

        <div class="nav-item">
            <a href="../NavPage/NavSubList?NavName=投诉管理" class="nav-left-nav-a"> <i class="am-icon-thumbs-down" style="font-size: 22px;"></i>投诉管理</a>
        </div>

        <div class="nav-item">
            <a href="../NavPage/NavSubList?NavName=财务结算" class="nav-left-nav-a"> <i class="am-icon-calculator" style="font-size: 22px;"></i>财务结算</a>
        </div>

        <div class="nav-item">
            <a href="../NavPage/NavSubList?NavName=消息通知" class="nav-left-nav-a"> <i class="am-icon-volume-up" style="font-size: 22px;"></i>消息通知</a>
        </div>

        <div class="nav-item">
            <a href="../NavPage/NavSubList?NavName=系统管理" class="nav-left-nav-a"> <i class="am-icon-cloud" style="font-size: 22px;"></i>系统管理</a>
        </div>

    </div>
</body>
</html>
