/*================商品分类===================*/

/*子标题*/
.oct-header-sub {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    padding: 8px 0;
}
    .oct-header-sub div{
        display:flex;
        align-items:center;
    }
    .oct-header-sub img {
        width: 6px;
        height: 6px;
        margin-left: 5px;
    }
/*弹出条件层*/
body .all-where-show {
    clear: both;
    display: block;
    width: 100%;
    background: white;
    padding: 6px;
    padding-bottom: 0;
    position: fixed;
    top: 75px;
    left: 0;
    z-index: 10000;
    padding-bottom: 10px;
    padding-top: 0;
    height: 400px;
    overflow-y:auto;
    overflow-x:hidden;
}

.all-where-type {
    display: block;
    padding-top: 5px;
    padding-bottom:5px;
    text-align:left;
    clear:both;
    padding-left: 10px;
    padding-right: 10px;
}

    .all-where-type span {
        float: left;
        padding: 2px 6px;
        font-size: 12px;
        margin: 0 auto;
        background: #ededed;
        border-radius: 5px;
        display: block;
        margin-right: 16px;
        margin-bottom: 8px;
    }

    .all-where-type .goods-type-current {
        color: white;
        background: #ff6a00;
    }


/*主体内容*/
body .oct-content {
    padding-top: 30px;
}


/*-------------商品列表--------------*/
/*.goods-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 5px;
    padding: 5px;
}

.goods-item {
    width: 47%;
    overflow: hidden;
    background: white;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    margin-top: 6px;
}

.goods-img {
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height:180px;
}

    .goods-img img {
        width: 100%;
        height:180px;
        overflow:hidden;
    }

.goods-name {
    font-size: 12px;
    padding: 4px;
    text-align: left;
    height:45px;
}

.goods-price {
    padding: 4px;
    padding-right: 0;
    padding-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .goods-price b {
        color: #fc5c16;
        font-size: 14px;
    }

    .goods-price span {
        background: #fc5c16;
        font-size: 12px;
        color: white;
        padding: 0 5px;
        border-radius: 20px;
    }

    .goods-price .goods-price-no {
        color: gray;
        text-decoration: line-through;
        background: none;
    }

    .goods-price .goods-stock-residue {
        color: gray;
        background: none;
    }


    .goods-price div {
        font-size: 11px;
        color: #b5b5b5;
        padding-right:5px;
    }

    .goods-price img {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

.goods-item {
    position: relative;
    overflow: visible;
}

    .goods-item .goods-item-badge {
        background: #ff6a00;
        color: white;
        font-size: 12px;
        border-radius: 20px;
        position: absolute;
        top: -5px;
        left: -5px;
        padding-left: 5px;
        padding-right: 5px;
    }*/

/*商品列表*/
.goods-list li {
    background: white;
    padding: 8px 6px;
    margin-top: 6px;
}

.goods-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
}

    .goods-item img {
        width: 110px;
        height: 110px;
        border-radius: 5px;
        margin-right: 8px;
    }

.goods-price {
    font-weight: bold;
    color: red;
    font-size: 14px;
}

.goods-label {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

    .goods-label span {
        font-size: 10px;
        background: #f1f1f1;
        color: #f65402;
        padding: 3px;
        border-radius: 5px;
        display: block;
        margin-right: 3px;
        padding: 0 6px;
        margin-top: 5px;
    }

.goods-extra {
    font-size: 12px;
    color: #373737;
}

    .goods-extra i {
        font-size: 10px;
        color: gray;
    }

    .goods-extra a {
        padding-left: 10px;
        padding-right: 10px;
        color: #000000;
    }

.goods-img {
    position: relative;
}

    .goods-img span {
        background: #f65402;
        color: white;
        position: absolute;
        top: -5px;
        left: -5px;
        padding: 1px 5px;
        border-radius: 10px;
    }

.goods-title-div {
    height: 40px;
    overflow: hidden;
}


.shop-self-span {
    background: red;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    font-size: 10px;
}

/*========数据分页===========*/

/*列表承载Div,必须这样定义样式*/
.mescroll {
    position: fixed;
    top: 83px; /*这个值可以控制滚动区离顶部的距离*/
    bottom: 0;
    height: auto;
    padding-bottom: 80px;
    background: #EBEBEB;
}