
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>登录首页</title>
</head>
<body>
    <div>
        登录首页
    </div>
</body>
</html>
