
@{
    Layout = null;
}

<!DOCTYPE html>

<html style="overflow: auto; overflow-x: hidden;">
<head>
    <!--
        <meta name="viewport" content="width=device-width initial-scale="1" />
    viewport是网页默认的宽度和高度，上面这行代码的意思是，网页宽度默认等于屏幕宽度（width=device-width），
    原始缩放比例（initial-scale=1）为1.0，即网页初始大小占屏幕面积的100%。 user-scalable=no  不允许缩放网页 -->
    <meta name="viewport" content="width=device-width,user-scalable=no" initial-scale="1" />
    <title>售后动态</title>

    <link href="../Assets/Lib/AmazeUI-2.7.2/css/amazeui.min.css" rel="stylesheet" />
    <link href="../Assets/Css/PublicCss.css" rel="stylesheet" />
    <link href="../Assets/Css/Order/OrderDynamic.css" rel="stylesheet" />

    <script src="../Assets/Lib/jquery-2.2.2.min.js"></script>
    <script src="../Assets/Js/AfterSale/AsDynamic.js"></script>

</head>
<body>

    <!--隐藏控件记录值-->
    <input type="hidden" id="hidAID" value="@ViewBag.AID" />

    <!--头部-->
    <div class="oct-header">
        <div class="oct-header-left">
            <a href="javascript:window.history.back(-1)"><img alt="返回" src="../Assets/Imgs/Icon/back.png" /></a>
        </div>
        <div class="oct-header-mid">
            <b>售后动态</b>
        </div>
        <div class="oct-header-right">
            <a href="../Buyer/Index"><img class="header-icon-my" src="../Assets/Imgs/Icon/my.png" /></a>
        </div>
    </div>

    <!--主体内容-->
    <div class="oct-content" style="padding-top: 4px;">

        <!--店铺名称
        <div class="shop-name">
            <div class="shop-name-left">
                <img src="../Assets/Imgs/05.jpg" />
            </div>
            <div class="shop-name-mid">
                <div>
                    店铺名称店铺名称店铺名称
                </div>
                <div class="header-mid-bottom">
                    <span class="header-span-star">
                        <img src="../Assets/Imgs/Icon/appraise_star.png" />
                        <img src="../Assets/Imgs/Icon/appraise_star.png" />
                        <img src="../Assets/Imgs/Icon/appraise_star.png" />
                        <img src="../Assets/Imgs/Icon/appraise_star.png" />
                        <img src="../Assets/Imgs/Icon/appraise_star_gray.png" />
                    </span>
                    <span class="header-span-val">
                        4.0分
                    </span>
                    <span>
                        粉丝数:
                    </span>
                    <span class="header-span-val">
                        5966565
                    </span>
                </div>
            </div>
            <div class="shop-name-right">
                <div class="btn-focus">
                    联系商家
                </div>
            </div>
        </div>-->

        <!--售后动态列表-->
        <div class="order-dynamic-list" id="AsDynamicList">

            <div class="order-dynamic-item order-dynamic-item-current">
                <div class="dynamic-item-left">
                    2020-05-92<br />
                    11:23:23
                </div>
                <div class="dynamic-item-mid">
                    <div class="dynamic-circle"></div>
                </div>
                <div class="dynamic-item-right">
                    等待商家确认货到付款订单，
                </div>
            </div>


            <div class="order-dynamic-item">
                <div class="dynamic-item-left">
                    2020-05-92<br />
                    11:23:23
                </div>
                <div class="dynamic-item-mid">
                    <div class="dynamic-circle"></div>
                </div>
                <div class="dynamic-item-right">
                    @*等待商家确认货到付*@
                </div>
            </div>



        </div>


    </div>


</body>
</html>
