
@{
    Layout = null;
}

<!DOCTYPE html>

<html style="overflow: auto; overflow-x: hidden;">
<head>
    <!--
        <meta name="viewport" content="width=device-width initial-scale="1" />
    viewport是网页默认的宽度和高度，上面这行代码的意思是，网页宽度默认等于屏幕宽度（width=device-width），
    原始缩放比例（initial-scale=1）为1.0，即网页初始大小占屏幕面积的100%。 user-scalable=no  不允许缩放网页 -->
    <meta name="viewport" content="width=800,user-scalable=no" initial-scale="1" />
    <title>商品评价</title>
    <link href="../Assets/Lib/AmazeUI-2.7.2/css/amazeui.min.css" rel="stylesheet" />
    <link href="../Assets/Lib/AdminFrame/AdminPagePublic.css" rel="stylesheet" />
    <link href="../Assets/Css/GoodsPage/GooAppraise.css" rel="stylesheet" />

    <script src="../Assets/Lib/AmazeUI-2.7.2/js/jquery-2.2.2.min.js"></script>
    <script src="../Assets/Lib/AmazeUI-2.7.2/js/amazeui.min.js"></script>
    <script src="../Assets/Lib/PhotoSwipe/initPhotoSwipe.js"></script>
    <script src="../Assets/Lib/PublicTool.js"></script>
    <script src="../Assets/Lib/AdminFrame/AdminPagePublic.js"></script>

    <script src="../Assets/Js/GoodsPage/GooAppraise.js"></script>


</head>
<body>

    <!--========隐藏控件记录信息===========-->
    <input type="hidden" id="hidOctWapWeb_AddrDomain" value="@ViewBag.OctWapWeb_AddrDomain" />
    <input type="hidden" id="hidAppScore" value="@ViewBag.AppScore" />
    <input type="hidden" id="hidCountAppraiseImg" value="@ViewBag.CountAppraiseImg" />
    

    <!--面包屑导航-->
    <div class="nav am-cf am-nbfc" data-am-sticky="{top:0}">
        <ul class="am-breadcrumb">
            <li><a href="../NavPage/Index" class="am-icon-home">首页</a></li>
            <li><a href="../NavPage/NavSubList?NavName=评价管理">评价管理</a></li>
            <li class="am-active">商品评价</li>
        </ul>
    </div>

    <!--主体内容-->
    <div class="main am-nbfc" style="min-height: 600px;">

        <!--标题栏-->
        <div class="main-title am-cf am-nbfc">
            <div class="title-txt-div am-fl">
                <i class="am-icon-list"></i> 商品评价
            </div>
            <div class="title-btn-div am-fl">
                <!--<button class="title-btn am-btn am-btn-xs am-btn-danger am-round" onclick="window.location.href='../TradingPage/VerifyCheckCodeOrderStatus'"><i class="am-icon-get-pocket"></i> 订单核销验证</button>-->
            </div>
        </div>

        <!--附加信息-->
        <div class="main-extra-msg am-cf am-nbfc">
            <span>总评价数：</span><b id="CountAppraiseB">23432</b> <span>总好评：</span><b id="CountGoodsAppraiseB">23443</b> <span>总中评：</span><b id="CountMidAppraiseB">23432</b> <span>总差评：</span><b id="CountBadAppraiseB">234</b> <span>总晒单图：</span><b id="SumAppraiseImgsB">234</b> <span>总好评度：</span><b id="GoodAppraisePercentB">23%</b> <span>总中评度：</span><b id="MidAppraisePercentB">23%</b> <span>总差评度：</span><b id="BadAppraisePercentB">23%</b>
        </div>

        <!--搜索栏-->
        <div class="search-bar am-btn-toolbar am-cf">

            <div class="am-btn-group am-btn-group-xs am-cf" style="width: 130px;">
                <select id="AppScore_se" data-am-selected="{btnWidth:'120',btnSize: 'xs',btnStyle: 'default'}">
                    <option value=" " selected>评价类别(不限)</option>
                    <option value="4">好评</option>
                    <option value="3">中评</option>
                    <option value="2">差评</option>
                </select>
            </div>
            <div class="am-btn-group am-btn-group-xs am-cf item-txt-css">
                <input type="number" class="keyword-input am-form-field am-fl" id="OrderID_se" placeholder="订单ID" />
            </div>
            <div class="am-btn-group am-btn-group-xs am-cf item-txt-css">
                <input type="number" class="keyword-input am-form-field am-fl" id="GoodsID_se" placeholder="商品ID" />
            </div>
            <div class="am-btn-group am-btn-group-xs am-cf item-txt-css">
                <input type="text" class="keyword-input am-form-field am-fl" id="AppContent_se" placeholder="评价内容" />
            </div>

            <div class="am-btn-group am-btn-group-xs am-cf" style="width: 130px;">
                <select id="IsAnonymity_se" data-am-selected="{btnWidth:'120',btnSize: 'xs',btnStyle: 'default'}">
                    <option value=" " selected>是否匿名(不限)</option>
                    <option value="true">是</option>
                    <option value="false">否</option>
                </select>
            </div>
            <div class="am-btn-group am-btn-group-xs am-cf" style="width: 130px;">
                <select id="CountAppraiseImg_se" data-am-selected="{btnWidth:'120',btnSize: 'xs',btnStyle: 'default'}">
                    <option value=" " selected>是否晒单(不限)</option>
                    <option value="1">是</option>
                    <option value="0">否</option>
                </select>
            </div>


            <div class="datetime-div am-btn-group am-btn-group-xs am-cf" style="width: 150px;">
                <div class="am-form-group am-form-icon">
                    <i class="am-icon-calendar"></i>
                    <input type="text" id="WriteDate_se" class="datetime-input am-form-field" style="background:white; width: 150px;" placeholder="评价日期" data-am-datepicker="{theme: 'success',}" readonly>
                </div>
            </div>

            <div class="am-btn-group am-btn-group-xs am-cf" style="width: 210px;">
                <button type="button" id="btnSearch" class="search-btn am-fl am-btn am-radius am-btn-success">搜索</button>
            </div>


        </div>

        <!--表单区域-->
        <div class="table-div">

            <table class="table-content am-table-striped am-table-hover" width="100%">
                <thead>
                    <tr class="table-head am-success">
                        <td width="18%">商品ID</td>
                        <td width="10%">订单ID</td>
                        <td width="8%">评分</td>
                        <td width="23%">评价内容</td>
                        <td width="13%">晒单晒图</td>
                        <td width="16%">买家信息</td>
                        <td width="12%">评价日期</td>
                    </tr>
                </thead>
                <tbody id="TbodyTrPage">
                    <tr>
                        <td><a href="http://localhost:1000/Goods/GoodsDetailPreMobileIframe?GID=40057" target="_blank">23432</a></td>
                        <td><a href="../TradingPage/OrderDetail?OID=350899" target="_blank">234354</a></td>
                        <td>4-好评</td>
                        <td>很不错的好产品哦</td>
                        <td class="appraise-img-msg"><span>有<b>4</b>张晒单照片</span></td>
                        <td class="user-header-appraise"><img src="..//Assets/Imgs/product_03.jpg" />IT独孤键客</td>
                        <td>2019-05-05 13:27:45</td>
                    </tr>
                </tbody>
            </table>

            <!--表格信息操作区与分页-->
            <div class="table-exe-div am-cf">
                <div class="table-exe-btn am-fl">
                    <div class="table-btn-bottom am-btn-group am-btn-group-xs">
                        <!--<button type="button" class="am-btn am-btn-default" onclick="confirmPayDeliveryMul()">确认货到付款</button>-->
                    </div>
                </div>
                <div class="page-bar am-fr">
                    <ul class="am-pagination" id="PageBar1">
                        <li><a href="#">«</a></li>
                        <li><a href="#">1</a></li>
                        <li><span>...</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li class="am-active"><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li><span>...</span></li>
                        <li><a href="#">500</a></li>
                        <li><input type="text" class="page-go-text am-form-field" placeholder="跳转页" /></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
            </div>

            <!--备注说明-->
            <div class="memo-content">
                注意: <span>店铺所有商品的评价信息</span>
            </div>
        </div>

    </div>





</body>
</html>
