
@{
    Layout = null;
}

<!DOCTYPE html>

<html style="overflow: auto; overflow-x: hidden;">
<head>
    <!--
         <meta name="viewport" content="width=device-width initial-scale="1" />
     viewport是网页默认的宽度和高度，上面这行代码的意思是，网页宽度默认等于屏幕宽度（width=device-width），
     原始缩放比例（initial-scale=1）为1.0，即网页初始大小占屏幕面积的100%。 user-scalable=no  不允许缩放网页 -->
    <meta name="viewport" content="width=800,user-scalable=no" initial-scale="1" />
    <title>添加赠品</title>

    <link href="../Assets/Lib/AmazeUI-2.7.2/css/amazeui.min.css" rel="stylesheet" />
    <link href="../Assets/Lib/AdminFrame/AdminPagePublic.css" rel="stylesheet" />
    <link href="../Assets/Css/GoodsPage/GooGiftMsgAdd.css" rel="stylesheet" />

    <script src="../Assets/Lib/AmazeUI-2.7.2/js/jquery-2.2.2.min.js"></script>
    <script src="../Assets/Lib/AmazeUI-2.7.2/js/amazeui.min.js"></script>
    <script src="../Assets/Lib/JqueryFileUpload/jquery.ui.widget.js"></script>
    <script src="../Assets/Lib/JqueryFileUpload/jquery.fileupload.js"></script>
    <script charset="utf-8" src="../Assets/Lib/kindeditor4/kindeditor-all-min.js"></script>
    <script src="../Assets/Lib/PublicTool.js"></script>
    <script src="../Assets/Lib/AdminFrame/AdminPagePublic.js"></script>
    <script src="../Assets/Lib/AlertConfirmWin/AlertConfirmWin.js"></script>
    <script src="../Assets/Lib/DialogWinDrag/DialogWinDrag.js"></script>

    <script src="../Assets/Js/GoodsPage/GooGiftMsgAdd.js"></script>

</head>
<body>


    <!--面包屑导航-->
    <div class="nav am-cf am-nbfc" data-am-sticky="{top:0}">
        <ul class="am-breadcrumb">
            <li><a href="../NavPage/Index" class="am-icon-home">首页</a></li>
            <li><a href="../NavPage/NavSubList?NavName=商品管理">商品管理</a></li>
            <li class="am-active">添加赠品</li>
        </ul>
    </div>

    <!--主体内容-->
    <div class="main am-nbfc">

        <!--标题栏-->
        <div class="main-title am-cf am-nbfc">
            <div class="title-txt-div am-fl">
                <i class="am-icon-list"></i> 添加赠品
            </div>
            <div class="title-btn-div am-fl">
                <!--<button class="title-btn am-btn am-btn-xs am-btn-danger am-round" onclick="openAddWin()"><i class="am-icon-plus-circle"></i> 添加类别</button>-->
            </div>
        </div>

        <!--发布主体内容-->
        <div class="form-main">

            <!--赠品标题-->
            <div class="goods-title am-nbfc">
                <div class="goods-title-div">
                    赠品标题
                </div>
                <div class="goods-title-content">
                    <div class="goods-title-prompt">
                        提示：赠品标题字数控制在80个之内,精简提炼标题关键字有助于搜索排名
                    </div>
                    <input class="goods-title-txt" id="GiftName" type="text" />
                </div>
            </div>

            <!--价格与库存-->
            <div class="goods-price am-nbfc">
                <div class="goods-title-div">
                    价格与库存
                </div>
                <div class="goods-price-content" id="GoodsSpecPropPriceStockNoDiv" style="display:normal;">
                    <span>价格:</span>
                    <input type="number" id="GiftPrice" class="goods-pricestock-txt" placeholder="以 '元' 为单位" />
                    <span>库存:</span>
                    <input type="number" id="StockNum" class="goods-pricestock-txt" />
                </div>
            </div>
            <!--赠品照片-->
            <div class="goods-img am-nbfc">
                <div class="goods-title-div">
                    赠品照片
                </div>
                <div class="goods-price-content">
                    <div class="goods-title-prompt">
                        <font color="red"><b>注意：第一张照片为【封面图片】</b></font> 提示：商品图片尺寸 800 * 800 像素以上，长宽比例为 1:1 的正方形图片为最佳
                    </div>
                    <div class="goods-upload-list">
                        <ul class="goods-upload-ul">
                            <li>
                                <div class="upload-goods-img" style="position:relative">
                                    <img id="GiftImgPre_1" src="~/Assets/Imgs/Icon/icon_camera_gift.png" class="goods-pre-img" />
                                    <input id="UploadGift_1" type="file" name="files[]" multiple="multiple" style="-moz-opacity:0;filter:alpha(opacity=0);opacity:0; width: 100%; height:120px; background:gray; overflow:hidden; position:absolute; left:0px; top:0" />
                                </div>
                                <input type="hidden" id="HidUploadGiftVal_1" value="" />
                                <div id="BtnGiftList_1" class="upload-goods-btn" style="display:none;">
                                    <a href="#" target="_blank">裁剪</a>
                                    <div>刷新</div>
                                </div>
                            </li>
                            <li>
                                <div class="upload-goods-img" style="position:relative">
                                    <img id="GiftImgPre_2" src="~/Assets/Imgs/Icon/icon_camera_gift.png" class="goods-pre-img" />
                                    <input id="UploadGift_2" type="file" name="files[]" multiple="multiple" style="-moz-opacity:0;filter:alpha(opacity=0);opacity:0; width: 100%; height:120px; background:gray; overflow:hidden; position:absolute; left:0px; top:0" />
                                </div>
                                <input type="hidden" id="HidUploadGiftVal_2" value="" />
                                <div id="BtnGiftList_2" class="upload-goods-btn" style="display:none;">
                                    <a href="#" target="_blank">裁剪</a>
                                    <div>刷新</div>
                                </div>
                            </li>
                            <li>
                                <div class="upload-goods-img" style="position:relative">
                                    <img id="GiftImgPre_3" src="~/Assets/Imgs/Icon/icon_camera_gift.png" class="goods-pre-img" />
                                    <input id="UploadGift_3" type="file" name="files[]" multiple="multiple" style="-moz-opacity:0;filter:alpha(opacity=0);opacity:0; width: 100%; height:120px; background:gray; overflow:hidden; position:absolute; left:0px; top:0" />
                                </div>
                                <input type="hidden" id="HidUploadGiftVal_3" value="" />
                                <div id="BtnGiftList_3" class="upload-goods-btn" style="display:none;">
                                    <a href="#" target="_blank">裁剪</a>
                                    <div>刷新</div>
                                </div>
                            </li>
                            <li>
                                <div class="upload-goods-img" style="position:relative">
                                    <img id="GiftImgPre_4" src="~/Assets/Imgs/Icon/icon_camera_gift.png" class="goods-pre-img" />
                                    <input id="UploadGift_4" type="file" name="files[]" multiple="multiple" style="-moz-opacity:0;filter:alpha(opacity=0);opacity:0; width: 100%; height:120px; background:gray; overflow:hidden; position:absolute; left:0px; top:0" />
                                </div>
                                <input type="hidden" id="HidUploadGiftVal_4" value="" />
                                <div id="BtnGiftList_4" class="upload-goods-btn" style="display:none;">
                                    <a href="#" target="_blank">裁剪</a>
                                    <div>刷新</div>
                                </div>
                            </li>
                            <li>
                                <div class="upload-goods-img" style="position:relative">
                                    <img id="GiftImgPre_5" src="~/Assets/Imgs/Icon/icon_camera_gift.png" class="goods-pre-img" />
                                    <input id="UploadGift_5" type="file" name="files[]" multiple="multiple" style="-moz-opacity:0;filter:alpha(opacity=0);opacity:0; width: 100%; height:120px; background:gray; overflow:hidden; position:absolute; left:0px; top:0" />
                                </div>
                                <input type="hidden" id="HidUploadGiftVal_5" value="" />
                                <div id="BtnGiftList_5" class="upload-goods-btn" style="display:none;">
                                    <a href="#" target="_blank">裁剪</a>
                                    <div>刷新</div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

            <!--赠品描述-->
            <div class="goods-desc am-nbfc">
                <div class="goods-title-div">
                    赠品描述
                </div>
                <div class="goods-desc-cntent">
                    <div class="goods-desc-editor">
                        <textarea id="EditorContent" name="content" style="width:890px;height:500px;">赠品描述</textarea>
                    </div>
                </div>
                <div class="goods-desc-btn">
                    <input class="am-btn am-btn-xs am-btn-success am-round" type="button" value="插入图片" onclick="openInsertImgWin()" />
                    <input type="button" style="margin-left: 20px;" class="am-btn am-btn-xs am-btn-default am-round" value="移动端预览" />
                    <input type="button" style="margin-left: 20px;" class="am-btn am-btn-xs am-btn-default am-round" value="电脑端预览" />
                </div>
            </div>


            <!--按钮区-->
            <div class="goods-btn am-nbfc">
                <input type="button" class="am-btn am-btn-sm am-btn-danger am-round am-btn-xs" value="立即发布赠品" onclick="submitGiftMsg()" />
            </div>

        </div>

    </div>



    <!--=========插入图片窗口===========-->
    <div class="insert-img-win" id="InsertImgWin" style="display:none;">
        <div class="am-tabs" data-am-tabs>
            <ul class="am-tabs-nav am-nav am-nav-tabs">
                <li class="am-active"><a href="#tab1">本地上传</a></li>
                <li><a href="#tab2">赠品照片</a></li>
            </ul>

            <div class="am-tabs-bd" style="border:none;">
                <!--本地上传-->
                <div class="am-tab-panel am-fade am-in am-active" id="tab1">
                    <div class="photo-img-upload">
                        <div class="photo-album-sel">
                            <span>选择相册：</span>
                            <select id="ShopAlbumSelect1" onchange="chgShopAlbumSelect()">
                                <option value="234">相册名称</option>
                                <option value="234">相册名称</option>
                            </select>
                        </div>
                        <div class="am-form-group am-form-file">
                            <button type="button" class="am-btn am-btn-default am-btn-xs am-round">
                                <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                            </button>
                            <input id="fileupload_Album" type="file" multiple>
                        </div>
                    </div>
                    <div class="photo-img-item">
                        <ul class="photo-img-ul" id="PhotoImgUl">
                            <li> </li>
                            <!--<li>
                                <img src="../Assets/Imgs/product_01.jpg" />
                                <input class="sel-img-cb" type="checkbox" data-imgurl="//192.168.1.220:1700/Assets/Imgs/product_01.jpg" onchange="chgSelInsertImgCb()" />
                            </li>-->

                        </ul>
                        <div class="page-bar" id="PageBar1">
                            <div>首页</div>
                            <div onclick="alert('执行了')">上一页</div>
                            <div>下一页</div>
                            <div>尾页</div>
                        </div>
                    </div>
                </div>
                <!--商品图片-->
                <div class="am-tab-panel am-fade" id="tab2">
                    <div class="goods-img-item photo-img-item">
                        <ul class="photo-img-ul" id="GoodsImgUl">
                            <li> </li>
                            <!--<li>
                                <img src="../Assets/Imgs/product_04.jpg" />
                                <input class="sel-img-cb" type="checkbox" data-imgurl="//192.168.1.220:1700/Assets/Imgs/product_04.jpg" onchange="chgSelInsertImgCb()" />
                            </li>-->
                        </ul>
                        <div class="page-bar" id="PageBar2">
                            <div>首页</div>
                            <div onclick="alert('执行了')">上一页</div>
                            <div>下一页</div>
                            <div>尾页</div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>







</body>
</html>
