<?xml version="1.0" encoding="utf-8"?>
<configuration>


  <!--项目的主要设置信息-->
  
  <!--保存的RndKeyRsa 一般是两小时有效-->
  <appSettings>
    <add key="RndKeyRsa" value="Ul95W9sefnO2azRu6jWZx6npvIsVb6GPtDo59oXPSgI7XwW1FfIpduGRtRKDG2U5gzETcGtOe7nUE/r/5exyXqM87CjQX3qbwc4F1PvVALLul3pEyeL9t2eGfGW2KolM+vXllZ6YuWBJdNNuoovQC9P5kxxhy2L/RX9RlZLf8Hw=" />
    <add key="CreateDateTime" value="2019-05-26 08:26:28" />
    <add key="RndKeyLifeHour" value="2" />
  </appSettings>



</configuration>
