/*===================说明文章添加编辑===========================*/

/*=================赠品编辑========================*/

.title-txt-div {
    color: black;
}

.goods-title-div {
    border-bottom: 1px solid #eeeeee;
    padding: 3px 0;
    font-size: 14px;
    border-left: 2px solid #ff0000;
    padding-left: 10px;
    margin-top: 20px;
}


/*标题*/
.goods-title-content {
    padding: 18px 10px;
}

.goods-title-prompt {
    font-size: 12px;
    color: #ff6a00;
    font-style: italic;
}

.goods-title-txt {
    margin-top: 10px;
    padding: 7px;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    width: 100%;
}

/*描述*/
.goods-desc {
}

.goods-desc-cntent {
    padding: 10px;
    padding-top: 15px;
}

.goods-desc-btn {
    width: 890px;
    text-align: center;
    padding: 15px 0;
}

    .goods-desc-btn input {
        font-size: 12px;
        padding: 5px 25px;
    }

/*按钮区*/
.goods-btn {
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
    padding-bottom: 80px;
    width: 890px;
}

    .goods-btn input {
        width: 60%;
        font-size: 16px;
    }

/*插入图片弹出窗口*/
.photo-img-upload {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin-top: -6px;
    font-size: 12px;
}

.photo-album-sel {
    padding-right: 20px;
}

    .photo-album-sel select {
        padding: 2px 3px;
    }

.am-form-file {
    margin-top: 20px;
}

    .am-form-file button {
        font-size: 12px;
    }
/*本地上传最新照片列表*/
.photo-img-item {
}

.photo-img-ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 10px;
}

    .photo-img-ul li {
        padding: 8px;
        width: 96px;
        height: 96px;
        background: #f1f1f1;
        overflow: hidden;
        margin-right: 14px;
        margin-bottom: 10px;
        position: relative;
    }

        .photo-img-ul li img {
            width: 80px;
        }

.sel-img-cb {
    position: absolute;
    top: -4px;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    z-index: 100;
    border: 1px solid #d0d0d0;
    background: white;
}

.photo-img-album {
    padding: 15px 0;
}

    .photo-img-album select {
        padding: 2px 3px;
    }
/*分页条*/
.page-bar {
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding-top: 10px;
}

    .page-bar div {
        font-size: 10px;
        color: gray;
        border: 1px solid #c6c6c6;
        margin: 0 5px;
        padding: 2px 25px;
        border-radius: 10px;
    }



