
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>测试页</title>

    <script src="../Assets/Lib/jquery-2.2.2.min.js"></script>
    <script src="../Assets/Lib/AlertConfirmWin/AlertConfirmWin.js"></script>


</head>
<body style="padding: 0; margin:0;">

    <div>
        <a href="@ViewBag.MiniUrlScheme">打开微信小程序 @ViewBag.MiniUrlScheme</a>
    </div>

    <script type="text/javascript">

        var _yu = 2 % 10;
        document.write(_yu);

                                //loadingWin();
                                //confirmWin("砍宠喹在有w", function () { });

                                //popImgWin("<img src=\"../Assets/Imgs/02.jpg\">",600);

    </script>



    <li><a class="nav-item" href="../O2o/GoodsType?GTID=40064"><img src="//localhost:1400/Upload/GooGoodsTypeIcon/GGTI_0_202009201627508100.jpg" />火锅</a><a class="nav-item" href="../O2o/GoodsType?GTID=40068"><img src="//localhost:1400/Upload/GooGoodsTypeIcon/GGTI_40068_202010070859106280.jpg" />酒店</a><a class="nav-item" href="#">哈</a><a class="nav-item" href="#">哈</a><a class="nav-item" href="#">哈</a><a class="nav-item" href="#">哈</a><a class="nav-item" href="#">哈</a><a class="nav-item" href="#">哈</a><a class="nav-item" href="#">哈</a><a class="nav-item" href="#">哈</a><a class="nav-item" href="#">哈</a></li>


    <li><a class="nav-item" href="#">哈</a><a class="nav-item" href="#">哈</a><a class="nav-item" href="#">哈</a><a class="nav-item" href="#">哈</a><a class="nav-item" href="#">哈</a><a class="nav-item" href="#">哈</a><a class="nav-item" href="#">哈</a><a class="nav-item" href="#">哈</a><a class="nav-item" href="#">哈</a></li>




    <!-- <div class="pop-win-img">
         <div class="pop-win-img-content">
             <img src="../Assets/Imgs/02.jpg" />
         </div>
         <div class="pop-win-img-close">
             &times;
         </div>
     </div>-->




</body>
</html>
