
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>验证 订单验证码信息是否正确 [待消费/自取]验证</title>
</head>
<body>
    <div>
        验证 订单验证码信息是否正确 [待消费/自取]验证
    </div>
</body>
</html>
