
@{
    Layout = null;
}

<!DOCTYPE html>

<html style="overflow: auto; overflow-x: hidden;">
<head>
    <!--
           <meta name="viewport" content="width=device-width initial-scale="1" />
       viewport是网页默认的宽度和高度，上面这行代码的意思是，网页宽度默认等于屏幕宽度（width=device-width），
       原始缩放比例（initial-scale=1）为1.0，即网页初始大小占屏幕面积的100%。 user-scalable=no  不允许缩放网页 -->
    <meta name="viewport" content="width=800,user-scalable=no" initial-scale="1" />
    <title>平台通知信息</title>
    <link href="../Assets/Lib/AmazeUI-2.7.2/css/amazeui.min.css" rel="stylesheet" />
    <link href="../Assets/Lib/AdminFrame/AdminPagePublic.css" rel="stylesheet" />

    <script src="../Assets/Lib/AmazeUI-2.7.2/js/jquery-2.2.2.min.js"></script>
    <script src="../Assets/Lib/AmazeUI-2.7.2/js/amazeui.min.js"></script>
    <script src="../Assets/Lib/AdminFrame/AdminPagePublic.js"></script>
    <script src="../Assets/Lib/AlertConfirmWin/AlertConfirmWin.js"></script>
    <script src="../Assets/Js/AfterSaleAccCusPage/PlatformSysMsg.js"></script>

</head>
<body>

    <!--面包屑导航-->
    <div class="nav am-cf am-nbfc" data-am-sticky="{top:0}">
        <ul class="am-breadcrumb">
            <li><a href="../NavPage/Index" class="am-icon-home">首页</a></li>
            <li><a href="../NavPage/NavSubList?NavName=信息通知">信息通知</a></li>
            <li class="am-active">平台通知信息</li>
        </ul>
    </div>

    <!--主体内容-->
    <div class="main am-nbfc">

        <!--标题栏-->
        <div class="main-title am-cf am-nbfc">
            <div class="title-txt-div am-fl">
                <i class="am-icon-list"></i> 平台通知信息
            </div>
            <div class="title-btn-div am-fl">
                @*<button class="title-btn am-btn am-btn-xs am-btn-danger am-round am-margin-left-xs" onclick="window.location.href='../UserGoodsShopPage/ShopAdd'"><i class="am-icon-plus-circle"></i> 添加店铺</button>*@
            </div>
        </div>

        <!--搜索栏-->
        <div class="search-bar am-btn-toolbar am-cf">

            <div class="am-btn-group am-btn-group-xs am-cf item-txt-css">
                <input type="number" class="keyword-input am-form-field am-fl" id="PSysMsgID_se" placeholder="信息ID" />
            </div>
            <div class="am-btn-group am-btn-group-xs am-cf" style="width: 150px;">
                <select id="SysMsgType_se" data-am-selected="{btnWidth:'130',btnSize: 'xs',btnStyle: 'default'}">
                    <option value=" " selected>信息类别</option>
                    <option value="Settle">结算提示信息</option>
                    <option value="OrderPay">订单在线支付提示</option>
                    <option value="ConfirmPay">确认订单支付</option>
                    <option value="InEx">收支提示信息</option>
                    <option value="Refund">退款</option>
                    <option value="OrderRefund">订单退款</option>
                    <option value="ReRemind">退款提醒</option>
                </select>
            </div>
            <div class="am-btn-group am-btn-group-xs am-cf item-txt-css">
                <input type="text" class="keyword-input am-form-field am-fl" id="MsgTitle_se" placeholder="信息标题" />
            </div>
            <div class="am-btn-group am-btn-group-xs am-cf item-txt-css">
                <input type="text" class="keyword-input am-form-field am-fl" id="MsgContent_se" placeholder="信息内容 " />
            </div>
            <div class="am-btn-group am-btn-group-xs am-cf item-txt-css">
                <input type="text" class="keyword-input am-form-field am-fl" id="ExtraData_se" placeholder="额外数据(如:ID号)" />
            </div>

            <div class="am-btn-group am-btn-group-xs am-cf" style="width: 150px;">
                <select id="IsRead_se" data-am-selected="{btnWidth:'130',btnSize: 'xs',btnStyle: 'default'}">
                    <option value=" " selected>已读</option>
                    <option value="false">否</option>
                    <option value="true">是</option>
                </select>
            </div>

            <div class="datetime-div am-btn-group am-btn-group-xs am-cf" style="width: 150px;">
                <div class="am-form-group am-form-icon">
                    <i class="am-icon-calendar"></i>
                    <input type="text" id="WriteDate_se" style="background:none; width: 130px;" class="datetime-input am-form-field" placeholder="写入时间" data-am-datepicker="{theme: 'success',}" readonly>
                </div>
            </div>

            <div class="am-btn-group am-btn-group-xs am-cf" style="width: 210px;">
                <button type="button" id="btnSearch" class="search-btn am-fl am-btn am-radius am-btn-success">搜索</button>
            </div>


        </div>

        <!--表单区域-->
        <div class="table-div">

            <table class="table-content am-table-striped am-table-hover" width="100%">
                <thead>
                    <tr class="table-head am-success">
                        <td width="7%">信息ID</td>
                        <td width="14%">信息类别</td>
                        <td width="25%">信息标题</td>
                        <td width="28%">信息内容</td>
                        <td width="10%">额外数据</td>
                        <td width="6%">已读</td>
                        <td width="10%">写入时间</td>
                    </tr>
                </thead>
                <tbody id="TbodyTrPage">
                    <tr>
                        <td>234324</td>
                        <td>订单动态(Order)</td>
                        <td>订单提交成功</td>
                        <td>订单提交成功，订单ID：541168</td>
                        <td>541168</td>
                        <td>
                            是
                        </td>
                        <td>
                            2019-05-05 13:27:45
                        </td>
                    </tr>
                </tbody>
            </table>

            <!--表格信息操作区与分页-->
            <div class="table-exe-div am-cf">
                <div class="table-exe-btn am-fl">
                    <div class="table-btn-bottom am-btn-group am-btn-group-xs">
                        <button type="button" class="am-btn am-btn-default" onclick="delPlatformSysMsgMonthAgo('3')"><span class="am-icon-trash-o"></span>删除三个月前的信息</button>
                        <button type="button" class="am-btn am-btn-default" onclick="delPlatformSysMsgMonthAgo('6')"><span class="am-icon-trash-o"></span>删除半年前的信息</button>
                        <button type="button" class="am-btn am-btn-default" onclick="delPlatformSysMsgMonthAgo('12')"><span class="am-icon-trash-o"></span>删除一年前的信息</button>
                    </div>
                </div>
                <div class="page-bar am-fr">
                    <ul class="am-pagination" id="PageBar1">
                        <li><a href="#">«</a></li>
                        <li><a href="#">1</a></li>
                        <li><span>...</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li class="am-active"><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li><span>...</span></li>
                        <li><a href="#">500</a></li>
                        <li><input type="text" class="page-go-text am-form-field" placeholder="跳转页" /></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
            </div>

            <!--备注说明-->
            <div class="memo-content">
                系统-平台通知信息
            </div>


        </div>
    </div>



</body>
</html>
